@import "compass/css3";

.wpsstm-icon-link{
    text-decoration:none;
    @include box-shadow(none !important); //twenty seventeen fix
}

.wpsstm-toggle-tracklist-length{
    display:block;
    text-align:center;

    button{
        cursor: pointer;
        cursor: hand;
        font-size:1.5em;
        width:100%;
        padding:0;
        border:none;
        background:none;
        color:black;
        @include opacity(0.5);
        &:hover{
            background:none;
            color:black;
            @include opacity(1);
        }
    }

}

.wpsstm-notice{
    font-size:0.8em;
    padding: .5em;
    background-color:#fcf8e3;
    color:#222;
    a{
        color:#222;
        text-decoration: underline;
    }

    &.active{
        display:block;
    }
}