@import "compass/css3";

#wizard-wrapper{
    position:relative;

    pre.spiff-raw, pre.spiff-raw code {
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
        webkit-box-sizing: border-box;
        display: block;
        white-space: pre-wrap;
        white-space: -pre-wrap;
        word-wrap: break-word;
        width: 100%;
        overflow: auto;
    }

    .tracks-selector-prefix {
            color: lightgrey;
            padding-right: 0.5em;
    }
    .wpsstm-wizard-selector-toggle-advanced {
            text-decoration: none;
    }

    #spiff-station-tracks-raw{
        max-height: calc(3 * 211px);
        overflow-y: auto;
    }

    pre.spiff-raw {
            max-height: 200px;
            border: 1px solid lightgrey;
            padding: 10px;
            code {
                    background: none;
            }
    }
    .ui-tabs-panel > h3:first-of-type {
            display: none;
    }
    
    #wpsstm-wizard-widgets{
        list-style: none;
        font-size:.75em;
        position: relative;
        @include display-flex();
        @include flex-wrap(wrap);
        text-align:center;
        .wpsstm-wizard-widget{
            width:calc(33% - 1em);
            margin:.5em;
            box-sizing: border-box;
            padding:1em;  
            @include flex-grow(1);
            background-color:#f7f7f7;
            border: 1px solid #eaeaea;
            &#wpsstm-wizard-widget-services{
                width:calc(100% - 1em);
                ul#wpsstm-wizard-services-list{
                    @extend .comma-list;
                    ul.wpsstm-wizard-child-service-list{
                        font-size:.8em;
                        margin:0;
                        padding:0;
                        &:before{
                            content:":\00a0";
                        }
                        @extend .comma-list;
                    }
                }
            }
            h3{
                margin-top:0;
            }
            ul{
                list-style: none;
            }
            input[type=text]{
                font-size:1em;
                text-align:center;
                background-color:white;
            }

            &:not(.wpsstm-wizard-widget-success){
                a{
                    @include opacity(.5);
                }
            }
        }
    }

}

#wpsstm-frontend-wizard{
    p.submit{
        padding: .25em;
    }
}

#wpsstm-wizard-sections{
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    #wpsstm-wizard-sections-header{
        clear:both;
        overflow:auto;
        li {
                display: inline-block;
                &.ui-tabs-active a {
                        background: white;
                        border-bottom: 0;
                }
        }
    }

    .wpsstm-wizard-step-content{

        .wpsstm-wizard-selector{
            input[type="text"]{
                min-width:50%;
            }
            .wpsstm-wizard-selector-advanced{
                display: none;
                &.active{
                    display: block;
                }
                .wpsstm-wizard-track-selector-desc{
                    padding: 1em;
                    font-style:italic;
                    code{
                        font-style:normal;
                    }
                }
                table{
                    td {
                        color: #999;
                        padding: 5px;
                        font-family: Consolas, Monaco, monospace;
                    }
                    .wpsstm-wizard-selector-regex {
                        &:before {
                                text-align: center;
                                width: 20px;
                                content: '~';
                        }
                        &:after {
                                text-align: center;
                                width: 20px;
                                content: '~m';
                        }
                        input {
                                width: 90%;
                                color: #999;
                        }
                    }
                }
            }
        }
        &#wpsstm-wizard-step-tracks-content{
            .wpsstm-wizard-selector{
                input[type="text"]{
                    min-width:100%;
                }
            }
        }
    }
}

#wpsstm-frontend-wizard-recent{
    font-size:.8em;
    > ul{
        list-style: none;
        padding:0;
        margin:0;
        li{
            position:relative;
            line-height: 1em;
            line-height:1.5em;
            a{
                @include display-flex();
                strong{
                    margin-right:.25em;
                }
                > *{
                    @extend .wpsstm-ellipsis;
                }
            }
        }
    }
}