/*
MINIMAL STYLES
*/

/*
DEFAULT STYLES
*/

body.wpsstm-default,body.wp-admin{

    .wpsstm-track-sources-list{
        display:grid;
        position:relative;
        
        a{
            @extend .wpsstm-no-underline;
        }
        
        [data-wpsstm-source-idx]{ //single source

            position:relative;
            padding: 0 .75em;
            box-sizing: border-box;
            @include display-flex();
            
            > *{
                &.wpsstm-source-icon wpsstm-icon{

                }

                &#wpsstm-source-actions{
                    padding-right: .5em;
                    @include flex-shrink(0);
                    
                    .wpsstm-source-action{
                        display:inline-block;
                        a{
                            &:before{
                                margin-right:0;
                            }
                            > span{
                                display:none;
                            }
                        }
                        &#wpsstm-source-action-delete a:before{
                            content: "\f1f8";//.fa-trash;
                        }
                        &#wpsstm-source-action-move a:before{
                            content: "\f07d";//.fa-arrows-v;
                        }
                        &#wpsstm-source-action-edit-backend a:before{
                            content:"\f084";//.fa-key;
                        }
                    }
                }

                &.wpsstm-source-title{ //source text
                    @extend .wpsstm-ellipsis;
                    @extend .wpsstm-can-click;
                }
            }

            &.source-error .wpsstm-source-icon{
                &:before{
                    content:"\f071"; //.fa-exclamation-triangle
                }
                label{
                    text-decoration: line-through;
                }
            }
            &.source-playing,&.provider-loading{
                font-weight: bold;
            }
            
            &[data-wpsstm-source-provider="soundcloud"] #wpsstm-source-action-provider a:before{
                content:"\f1be";//fa-soundcloud
            }
            &[data-wpsstm-source-provider="youtube"] #wpsstm-source-action-provider a:before{
                content:"\f167";//fa-youtube
            }
            &[data-wpsstm-source-provider="mixcloud"] #wpsstm-source-action-provider a:before{
                content:"\f289";//fa-mixcloud
            }
            
            &.provider-loading{
                #wpsstm-source-action-provider a{
                     @extend .wpsstm-loading-icon;
                }
            }
            

        }
    }
    
    [itemprop="track"] .wpsstm-track-sources-list [data-wpsstm-source-idx]{
        &:not(.source-playing):not(.provider-loading){
            @include opacity(.25);
            &:hover{
                @include opacity(.5);
            }
        }
    }

}