@import "compass/css3";
@import "compass/typography/text/ellipsis";

/*
MINIMAL STYLES
*/

.wpsstm-tracklist:not(.tracklist-playable){
    [itemprop="track"]{
        .wpsstm-track-play-bt{
            display:none;
        }
    }
}

[itemprop="track"]{
    &:not(.wpsstm-loved-track) #wpsstm-track-action-unfavorite{
        display:none;
    }

    &.wpsstm-loved-track{
        #wpsstm-track-action-favorite{
            display:none;
        }
    }
}

/*
DEFAULT STYLES
*/

body.wpsstm-default{

    #wpsstm-track-actions{
        .wpsstm-track-action{
            display:inline;
            @include opacity(.5);
            &:hover{
                @include opacity(1);
            }
            &#wpsstm-track-action-favorite:not(.wpsstm-loading) a:before{
                content: "\f08a";//.fa-heart-o;
            }
            &#wpsstm-track-action-unfavorite:not(.wpsstm-loading) a:before{
                content: "\f004";//.fa-heart;
            }
            &#wpsstm-track-action-delete a:before{
                content: "\f1f8";//.fa-trash;
            }
            &#wpsstm-track-action-sources a:before{
                content: "\f0c2";//.fa-cloud;
            }
            &#wpsstm-track-action-move:not(.wpsstm-loading) a:before{
                content: "\f07d";//.fa-arrows-v;
            }
            &#wpsstm-track-action-playlists a:before{
                content: "\f03a";//.fa-list;
            }
            &#wpsstm-track-action-edit a:before{
                content: "\f040";//.fa-pencil;
            }
            &#wpsstm-track-action-about a:before{
                content: "\f05a";//.fa-info-circle;
            }
        }
    }

    .wpsstm-tracks-list{

        [itemprop="track"]{
            
            ul.wpsstm-actions-list{
                width: 100%;
                display:none;
                li.wpsstm-track-action{
                    display:inline;
                    a{
                        &:before{
                            margin-right:0;
                        }
                        > span{
                            display:none;
                        }
                    }
                }
            }

            &:hover,&.track-active{
                .wpsstm-track-actions ul{
                    display:inherit;
                }
            }

            .wpsstm-track-play-bt{
                a{
                    @extend .wpsstm-no-underline;
                }
            }

            .wpsstm-track-sources{
                a{
                    @extend .wpsstm-no-underline;
                }
                [data-wpsstm-source-idx]{
                    &:not(.source-playing){
                        @include opacity(.25);
                        &:hover{
                            @include opacity(.5);
                        }
                    }
                }

            }

            &.track-loading .wpsstm-track-icon:before{
                @extend .wpsstm-loading-icon;
            }
            &:not(.track-playing) .wpsstm-track-icon:before{
                content:"\f04b"; //.fa-play
            }

            &.track-playing .wpsstm-track-icon:before,.track-pause .wpsstm-track-icon:before{
                content:"\f04c"; //.fa-pause;
            }

            &.track-error .wpsstm-track-icon:before{
                content:"\f071"; //.fa-exclamation-triangle;
            }

            &.track-invalid{
                color:red;
            }

            .wpsstm-track-image{
                img{
                    height:2em;
                    width: auto;
                    vertical-align: middle;
                }

            }

           .wpsstm-track-position{

                .wpsstm-player-icon-loading{
                    display:none;
                }
                span{
                    display:initial;
                }
            }

            .wpsstm-track-actions,.wpsstm-track-sources{
                ul{
                    list-style: none;
                    padding:0;
                    margin:0;
                }
            }
            .wpsstm-track-actions{
                ul li {
                    label{
                        display:none;
                    }
                }
            }

            &.wpsstm-invalid-track{
                background:rgba(255, 0, 0, 0.10);
            }
        }

        &.tracklist-playable [itemprop="track"]{

            &[data-wpsstm-sources-count="0"]{
                @include opacity(.25);
            } 

            &:not(.track-active){
                td{
                    @include opacity(.5);
                }
            }

            &.track-has-played,&:hover{
                td{
                    @include opacity(.75);
                }
            }

            &.track-active{
                td{
                    @include opacity(1);
                }
            }
        }


    }
    
    ul.wpsstm-track-loved-by-list,ul.wpsstm-track-parents{
        @extend .comma-list;
    }

    
}

