@import "compass/css3";
@import "compass/typography/text/ellipsis";

.truncate {
    white-space: nowrap;
    //overflow: hidden; //TO FIX breaks in bottom player
    text-overflow: ellipsis;
}

.wpsstm-icon-link{
    text-decoration:none;
    @include box-shadow(none !important); //twenty seventeen fix
    border:none!important;
}

.wpsstm-can-click{
    cursor: pointer;
    cursor: hand;
}
.wpsstm-loading-el{
    pointer-events: none;
    @include opacity(.5);
}

.wpsstm-fullwidth{
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

.ellipsis{
    display:block;
    @include ellipsis($no-wrap: true);
}

.wpsstm-notice {
    font-size: 0.8em;
    padding: .5em;
    background-color: #fcf8e3;
    color: #222;
    text-align:center;
    a {
        color: #222;
        text-decoration: underline;
    }
    
    &.active {
        display: block;
    }

}

ul.wpsstm-actions-list{
    
    list-style: none;
    li {
        display:inline-block;
        
        &.loading{
            @extend .wpsstm-loading-el;
        }
        &.error,&.error a{
            color:red;
        }
    }
}

/*
Thickbox popups
*/

body.wpsstm_track-template-admin,body.wpsstm_tracklist-template-admin{
    //hide default styles - this may have to be adapted to your theme
    #sidebar,#colophon{
        display:none;
    }
    #content{
        width:100%;
        margin:0;
    }
    #main{
        margin:0;
        padding:0;
    }
    #wpadminbar{
        display:none;
    }
    // !hide default styles
    
    .hentry{
        margin:0;
        padding:0;
        #track-popup-tabs{
            > ul{
                list-style: none;
                li{
                    display:inline;
                    &:not(.ui-state-active){
                        @include opacity(.8);
                    }
                }
            }
        }
    }
}

#TB_window{
    font-family:sans-serif;
    #TB_ajaxWindowTitle{
        
    }
    #TB_ajaxContent{
        margin: 0;
        padding: 1em;
    }
}