wpsstm-source{
    @include display-flex();
    label{
        @extend .wpsstm-can-click;
    }
    .wpsstm-source-actions{
        margin:0;
        padding:0;
        > *{
            display:inline-block;
        }
    }
}

.wpsstm-track-sources-list{
    font-size:.8em;
    position:relative;
    padding-left:1em;
    line-height:2em;
    @include flex-grow(0);
    @include transition-property(margin-bottom);
    @include transition-duration(.2s);
    

    &.active{
        wpsstm-source{
            .wpsstm-source-actions{
                .wpsstm-action{
                    display:inline-block;
                }
            }
        }
    }
    
    a{
        @extend .wpsstm-no-underline;
    }

    wpsstm-source{ //single source

        position:relative;
        padding: 0 .75em;
        box-sizing: border-box;

        .wpsstm-source-title{ //source text
            @extend .wpsstm-ellipsis;
            &:before{
                @extend .wpsstm-icon;
            }
        }
        
        .wpsstm-source-title, .wpsstm-source-icon{
            @extend .wpsstm-can-click;
        }
        
        .wpsstm-source-icon{
            display:inline-block;
            width: 1.5em;
            @extend .wpsstm-icon;
        }
        
        &.source-loading .wpsstm-source-icon{
            @extend .wpsstm-loading-icon;
        }
        
        &:not(.source-playing) .wpsstm-source-icon:before{
            content:"\f04b"; //.fa-play
        }

        &.source-playing .wpsstm-source-icon:before{
            content:"\f04c"; //.fa-pause;
        }

        &.source-error .wpsstm-source-icon{
            &:before{
                content:"\f071"; //.fa-exclamation-triangle
            }
            label{
                text-decoration: line-through;
            }
        }
        
        .wpsstm-source-actions{
            margin:0;
            padding-right: .5em;
            @include display-flex();
            @include flex-shrink(0);

            .wpsstm-source-action{
                margin:auto!important;

                a{
                    &:before{
                        margin-right:0;
                    }
                    > span{
                        display:none;
                    }
                }
                &.wpsstm-source-action-trash a:before{
                    content: "\f1f8";//.fa-trash;
                }
                &.wpsstm-source-action-move a:before{
                    content: "\f07d";//.fa-arrows-v;
                }
                &.wpsstm-source-action-edit-backend a:before{
                    content:"\f084";//.fa-key;
                }
            }
        }
        
        &.source-active{
            @include display-flex();
            font-weight: bold;
        }

        .wpsstm-source-action-provider a:before{
            content:"\f0c1";//fa-link
        }

        &[data-wpsstm-source-type="video/soundcloud"] .wpsstm-source-action-provider a:before{
            content:"\f1be";//fa-soundcloud
        }
        &[data-wpsstm-source-type="video/youtube"] .wpsstm-source-action-provider a:before{
            content:"\f167";//fa-youtube
        }
    }
}

wpsstm-track{
    .wpsstm-track-sources-list:not(.active){
        display:none;
    }
    .wpsstm-source-actions{
        > *{
            &:not(.wpsstm-source-action-provider){
                display:none;
            }
        }
    }
}