@import "compass/css3";
@import "compass/typography/text/ellipsis";

/*
MINIMAL STYLES
*/

.wpsstm-tracklist{
    &.tracklist-playable.playable-opacity [itemprop="track"]{

        &[data-wpsstm-sources-count="0"]{
            @include opacity(.25);
        } 

        &:not(.track-active){
            @include opacity(.5);
        }

        &.track-has-played,&:hover{
            @include opacity(.75);
        }

        &.track-active{
            @include opacity(1);
        }
    }

    &:not(.tracklist-playable) [itemprop="track"]{
        .wpsstm-track-play-bt{
            display:none;
        }
    }

    [itemprop="track"]{
        &:not(.wpsstm-loved-track) #wpsstm-track-action-unfavorite{
            display:none!important;
        }

        &.wpsstm-loved-track #wpsstm-track-action-favorite{
            display:none!important;
        }
    }
}

/*
DEFAULT STYLES
*/

body.wpsstm-default,body.wp-admin{

    .wpsstm-track-actions{
        > * {
            @include opacity(.5);
            &:hover{
                @include opacity(1);
            }
        }
    }
    .wpsstm-track-action{
        &#wpsstm-track-action-favorite a:before{
            content: "\f08a";//.fa-heart-o;
        }
        &#wpsstm-track-action-unfavorite a:before{
            content: "\f004";//.fa-heart;
        }
        &#wpsstm-track-action-share a:before{
            content:"\f1e0";//.fa-share-alt;
        }
        &#wpsstm-track-action-trash a:before{
            content: "\f1f8";//.fa-trash;
        }
        &#wpsstm-track-action-unlink a:before{
            content: "\f127";//.fa-chain-broken;
        }
        &#wpsstm-track-action-sources a:before{
            content: "\f0c2";//.fa-cloud;
        }
        &#wpsstm-track-action-move a:before{
            content: "\f07d";//.fa-arrows-v;
        }
        &#wpsstm-track-action-playlists a:before{
            content: "\f03a";//.fa-list;
        }
        &#wpsstm-track-action-edit a:before{
            content: "\f040";//.fa-pencil;
        }
        &#wpsstm-track-action-edit-backend a:before{
            content:"\f084";//.fa-key;
        }
        &#wpsstm-track-action-about a:before{
            content: "\f05a";//.fa-info-circle;
        }
        &#wpsstm-track-action-favorite a:before{
            content: "\f08a";//.fa-heart-o;
        }
    }

    .wpsstm-tracks-list{
        width:100%;
        [itemprop="track"]{

            .wpsstm-track-actions{
                @include opacity(0);
                li.wpsstm-action{
                    display:inline;
                    @extend .wpsstm-action-icon;
                }
            }

            &:hover,&.track-active{
                ul.wpsstm-track-actions{
                     @include opacity(1);
                }
            }

            .wpsstm-track-play-bt{
                a{
                    @extend .wpsstm-no-underline;
                }
            }

            &.track-loading .wpsstm-track-icon{
                @extend .wpsstm-loading-icon;
            }
            &:not(.track-playing) .wpsstm-track-icon:before{
                content:"\f04b"; //.fa-play
            }

            &.track-playing .wpsstm-track-icon:before,.track-pause .wpsstm-track-icon:before{
                content:"\f04c"; //.fa-pause;
            }

            &.track-error .wpsstm-track-icon:before{
                content:"\f071"; //.fa-exclamation-triangle;
            }

            &.wpsstm-invalid-track{
                background:rgba(255, 0, 0, 0.10);
            }

            .wpsstm-track-image{
                width:2em;
                height:2em;
                background:#DDD;
                padding: 0;
                text-align: center;
                display: inline-block;
                box-sizing: content-box;
                vertical-align: middle;
                img{
                    height:auto;
                    width: auto;
                }
                
            }
            .wpsstm-track-info{
                @include display-flex();
                > *{
                    @extend .wpsstm-ellipsis;
                    text-align:left;
                    margin-right:.5em;
                    &[itemprop="byArtist"]{
                        font-weight: bold;
                    }
                    &[itemprop="name"]{
                        &:before{
                            content: "—";
                            margin-right:.5em;
                        }
                    }
                    &[itemprop="inAlbum"]{
                        font-size:.8em;
                    }
                }
            }

           .wpsstm-track-position{

                .wpsstm-player-icon-loading{
                    display:none;
                }
                span{
                    display:initial;
                }
            }

            .wpsstm-track-actions,.wpsstm-track-sources{
                ul{
                    list-style: none;
                    padding:0;
                    margin:0;
                }
            }
            
            .wpsstm-track-unique-value{
                display:none!important;
            }
        }

    }
    
    ul.wpsstm-track-loved-by-list,ul.wpsstm-track-parents{
        @extend .comma-list;
    }
}

#wpsstm-track-tracklists{ //track tracklists manager
    #wpsstm-new-playlist-add{
        display:none;
    }
}
