@import "compass";

/*
MINIMAL STYLES
*/

.wpsstm-tracklist{
    &:not(.wpsstm-loved-tracklist) #wpsstm-tracklist-action-unfavorite{
        display:none!important;
    }
    
    &.wpsstm-loved-tracklist{
        #wpsstm-tracklist-action-favorite{
            display:none!important;
        }
    }
    &.tracklist-loading, &:not(.tracklist-expired){
        #wpsstm-tracklist-action-refresh{
            pointer-events:none;
        }
    }

}

.tracklist-list{ //output a simplier style
    .tracklist-header{
        display:none!important;
    }
    .wpsstm-tracks-list{
        [itemprop="track"]{
            @extend .wpsstm-ellipsis;
            .wpsstm-track-info{
            }
            .wpsstm-track-actions{
                display:none;
            }
        }
    }

}

ul#wpsstm-tracklist-actions{

    li.wpsstm-tracklist-action{
        &#wpsstm-tracklist-action-status-switch{
            form{
                display:none;
            }
            &.expanded{
                em{
                    display:none;
                }
                form{
                   display:inline-block; 
                }
            }
        }
    }

}

/*
DEFAULT STYLES
*/

body.wpsstm-default,body.wp-admin{

    .wpsstm-tracklist{
        position:relative;
        
        font-family: sans-serif;
        font-size:0.8em;

        .tracklist-header{
            border-bottom:1px solid #F7F7F7;
            padding:.25em;
            
            .wpsstm-tracklist-icon{
                @include opacity (.15);
            }
            
            .wpsstm-live-tracklist-link{
                display:block;
                margin: .5em 0;
                @extend .wpsstm-no-underline;
            }
            
            #wpsstm-tracklist-actions{
                display:block;
                text-align: center;
                .wpsstm-action{
                    margin:auto;
                    @extend .wpsstm-action-bt;
                    font-size:.8em;
                }
            }
        }
        
        &.wpsstm-live-tracklist{
            .wpsstm-tracklist-title{
                @extend .wpsstm-icon;
                &:before{
                    content: "\f09e";
                }
            }
        }

        &.tracklist-loading{
            .wpsstm-tracklist-icon{
                @extend .wpsstm-loading-icon;
            }
        }

        &:not(.tracklist-playing) .wpsstm-tracklist-icon:before,&.tracklist-pause .wpsstm-tracklist-icon:before{
            content:"\f04b"; //.fa-play
        }

        &.tracklist-playing .wpsstm-tracklist-icon:before{
            content:"\f04c"; //.fa-pause;
        }

        &.tracklist-error .wpsstm-tracklist-icon:before{
            content:"\f071"; //.fa-exclamation-triangle;
        }

        &:not(.tracklist-expired){
            #wpsstm-tracklist-action-refresh{
                @include opacity(.5);
            }
        }
        
        &:not(.tracklist-refresh) #wpsstm-notice-ajax-refresh{
            display:none;
        }

        &.ajax-tracklist{

            &.tracklist-refresh{
                > * {
                    display:none;
                    &.tracklist-header,&.wpsstm-tracklist-notices{
                        display:inherit;
                    }
                    &.wpsstm-tracklist-notices > *{
                        display:none;
                        &#wpsstm-notice-ajax-refresh{
                            display:inherit;
                        }
                    }
                    .wpsstm-tracklist-time{
                        display:none;
                    }

                }
            }
        }
        
        .wpsstm-tracks-list{
            position:relative;
            padding:0;
            margin:0;
            list-style: none;
            
            [itemprop="track"]{
                position:relative;
                padding:0;
                margin:0;
                line-height: 3em;
                @include transition-property(background);
                @include transition-duration(.4s);
                .wpsstm-track-row.wpsstm-track-sources{                        
                    @include display-flex();
                }
                .wpsstm-track-row {
                    @include display-flex();
                    @include flex-grow(1);
                    
                    &.wpsstm-track-sources{
                        font-size:.8em;
                        margin-left: auto;
                        @include flex-grow(0);
                        [data-wpsstm-source-idx]{
                            label{
                                @extend .wpsstm-can-click;
                            }
                        }
                        #wpsstm-track-toggle-sources{
                            @include flex-grow(0);
                            a{
                                @extend .wpsstm-icon;
                                span{
                                    display:none;
                                }
                            }
                        }
                    }
                    
                    > * {

                        vertical-align: middle;
                        padding: 0 .25em;
                        box-sizing:border-box;
                        text-align:center;

                        &.wpsstm-track-pre{
                            @include flex-grow(0);
                            @include flex-shrink(0);
                            > * {

                            }
                        }

                    }
                }
                .wpsstm-track-sources-list{
                    @include transition-property(margin-bottom);
                    @include transition-duration(.2s);
                }
                &:not(.wpsstm-toggle-sources){
                    
                    #wpsstm-track-toggle-sources a:before{
                        content: "\f078";//.fa-chevron-down;
                    }
                    [data-wpsstm-source-idx]{
                        display:none;
                    }
                    #wpsstm-source-actions{
                        .wpsstm-action:not(#wpsstm-source-action-provider){
                            display:none;
                        }
                    }
                }
                &.wpsstm-toggle-sources{
                    #wpsstm-track-toggle-sources a:before{
                        content: "\f077";//.fa-chevron-up;
                    }
                    .wpsstm-track-sources-list{
                        margin-bottom:.5em;
                    }
                }
                
                &:hover{
                    background: rgba(0,0,0,0.02);
                }

                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }

            }
        }
    }
    
    .wpsstm-tracklist.wpsstm-post-tracklist{
        .wpsstm-track{
            #wpsstm-track-toggle-sources{
                display:none;
            }
            &:not(.wpsstm-toggle-sources){
                @include display-flex();
            }
            &.wpsstm-toggle-sources{
                display:block!important;
            }
            #wpsstm-track-actions{
                margin-left: auto;
            }
            .wpsstm-track-sources-list{
                @include flex-grow(1);
            }
            #wpsstm-track-toggle-sources{
                margin-left: auto;
            }
        }
    }
    
    .wpsstm-tracklist.wpsstm-player-tracklist{
        .wpsstm-track{
            display:block!important;
            .wpsstm-track-actions{
                margin-left:inherit;
            }
            .wpsstm-track-sources{
                @include opacity(.6);
                [data-wpsstm-source-idx]{
                    &.source-playing,
                    &.source-loading{
                        @include display-flex();
                    }
                    @include opacity(.6);
                    &.source-playing{
                        @include opacity(.8);
                    }
                    &:hover{
                        @include opacity(1);
                    }
                }
            }
        }
    }

    #wpsstm-tracklist-actions{
        display:block;
        margin: 1em;
        list-style: none;
        line-height: 2.8em;

        .wpsstm-tracklist-action{
            &#wpsstm-tracklist-action-refresh a:before{
                content:"\f021";//.fa-refresh;
            }
            &#wpsstm-tracklist-action-share a:before{
                content:"\f1e0";//.fa-share-alt;
            }
            &#wpsstm-tracklist-action-export a:before{
                content:"\f019";//.fa-download;
            }

            &#wpsstm-tracklist-action-favorite a:before{
                content:"\f08a";//.fa-heart-o;
            }
            &#wpsstm-tracklist-action-unfavorite a:before{
                content:"\f004";//.fa-heart;
            }

            &#wpsstm-tracklist-action-new-subtrack{
                 a:before{
                     content:"\f055";//.fa-plus-circle;
                }
            }

            &#wpsstm-tracklist-action-status-switch{
                
                a:before{
                    content:"\f274";//.fa-calendar-check-o;
                }
                form{
                    select{
                        font-size:1em;
                    }
                    em{
                        @include opacity(.5);
                    }
                }
            }

            &#wpsstm-tracklist-action-lock-tracklist a:before{
                content:"\f023";//.fa-lock;
            }
            &#wpsstm-tracklist-action-unlock-tracklist a:before{
                content:"\f023";//.fa-lock;
            }
            &#wpsstm-tracklist-action-edit-backend a:before{
                content:"\f084";//.fa-key;
            }
            &#wpsstm-tracklist-action-trash a:before{
                content: "\f1f8";//.fa-trash;
            }
        }

    }
    
}

#tracklists-manager{
    > li{
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        @include display-flex();
        height: 1em;
        padding: 1em 0;
        > *{
            @include display-flex();
            @include flex-grow(1);
            align-items: center;
            padding: 0 .25em;
            box-sizing: border-box;
            max-width:50%;
            &.wpsstm-tracklist-title{
                a{
                    @extend .wpsstm-ellipsis;
                }
                .wpsstm-tracklist-post-state{
                    &.wpsstm-tracklist-post-state-publish{
                        display:none;
                    }
                }
            }
            &.wpsstm-tracklist-actions{
                @include justify-content(space-between);
                @include flex-grow(0);
                @include flex-shrink(0);
                text-align:right;
                visibility:hidden;
                ul{
                    display:inline;
                    li{
                        display:inline;
                        @extend .wpsstm-action-icon;
                    }
                }
            }
        }
        &:hover{
            .wpsstm-tracklist-actions{
                visibility:visible;
            }
        }

    }
}