@import "compass/css3";

$player-bg-color:#222;
$player-text-color:#FFF;

wpsstm-player{
    
    &:not(.active){
        display:none;
    }
    
    &#wpsstm-bottom-player{
        position:fixed;
        width:100%;
        padding:0;
        bottom: 0;
        min-height:0em;
        z-index: 50;
    }

    background:$player-bg-color;
    color:$player-text-color;
    a,a:hover,a:focus{
        color:$player-text-color;
    }

    .player-row{
        width:100%;
        padding:0;
        margin:0;
        @include display-flex();
        > * {
            padding:0;
            margin:0;
            border:none;
            @include display-flex();
            @include flex-grow(1);
            @include justify-content(center);
            @include align-items(center);
        }
        .wpsstm-player-actions{
            margin-right:.5em;
            @include flex-shrink(0);
            @include flex-grow(0);
            margin-top:auto;
            .wpsstm-player-action{

                a{
                    span{
                        display:none;
                    }
                }
                
                &.wpsstm-player-action-queue{
                    a{
                        &:before{
                            content: "\f078";//.chevron-down;
                        }
                        &.active:before{
                            content: "\f077";//.fa-chevron-up;
                        }
                    }
                }

                &.wpsstm-player-action-scrobbler{
                    @include opacity(.25);
                    a:before{
                        content:"\f202"; //.fa-lastfm
                    }
                    &.lastfm-loading a{
                        @extend .wpsstm-loading-icon;
                    }
                    &.scrobbler-error a:before{
                        content:"\f071"; //.fa-exclamation-triangle;
                    }
                    &.active{
                        @include opacity(1);
                    }
                }
            }

        }

        #wpsstm-audio-container{
            @include display-flex();
            @include flex-grow(1);
        }
        .wpsstm-player-extra{
            @include flex-shrink(0);
            @include flex-grow(0);
            padding: 0 .5em;
            &:not(.active){
                @include opacity(.3);
            }
        }

        .mejs-container{
            width:100%!important;
        }
    }
    
    .player-queue{
        display:initial;
        overflow:auto;
        max-height: 50vh;
        &:not(.active){
            wpsstm-track:not(.track-active){
                display:none;
            }
            
        }
    }

}

.wpsstm-player-tracklist{
    .wpsstm-track{
        display:block!important;
        .wpsstm-track-actions{
            margin-left:inherit;
        }
        .wpsstm-track-sources{
            @include opacity(.6);
            wpsstm-source{
                @include opacity(.6);
                &.source-playing{
                    @include opacity(.8);
                }
                &:hover{
                    @include opacity(1);
                }
            }
        }
    }
}
