@import "compass";

/*
MINIMAL STYLES
*/

.wpsstm-tracklist{
    &.tracklist-loading{
        #wpsstm-tracklist-actions{
            pointer-events:none;
        }
    }
    &:not(.wpsstm-loved-tracklist) #wpsstm-tracklist-action-unfavorite{
        display:none!important;
    }
    
    &.wpsstm-loved-tracklist{
        #wpsstm-tracklist-action-favorite{
            display:none!important;
        }
    }
    &:not(.tracklist-expired){
        #wpsstm-tracklist-action-refresh{
            pointer-events:none;
        }
    }
    
    &[data-tracks-count="-1"],&[data-tracks-count="0"],&[data-tracks-count="1"]{
        #wpsstm-track-action-move{
            visibility: hidden;
        }
    }
    
    .tracklist-header .toggle-children-container{
        @extend #wpsstm-tracklist-actions;
        #wpsstm-tracklist-actions{
            display:inline;
        }
        //more - less
        .toggle-children-link{
            
            @extend .wpsstm-action-bt;
        }
    }
    
    //more & less tracks links
    .wpsstm-tracks-list + .toggle-children-less, .wpsstm-tracks-list + .toggle-children-less + .toggle-children-more{
        display: block;
        width: 100%;
        text-decoration: none;
        border-bottom: none;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        small{
            font-size: .5em;
            line-height: 1em;
            vertical-align: middle;
        }
    }
}

.tracklist-list{ //output a simplier style
    .tracklist-header{
        display:none!important;
    }
    .wpsstm-tracks-list{
        [itemprop="track"]{
            @extend .wpsstm-ellipsis;
            .wpsstm-track-info{
            }
            .wpsstm-track-actions{
                display:none;
            }
        }
    }

}

ul#wpsstm-tracklist-actions{

    li.wpsstm-tracklist-action{
        &#wpsstm-tracklist-action-status-switch{
            form{
                display:none;
            }
            &.expanded{
                em{
                    display:none;
                }
                form{
                   display:inline-block; 
                }
            }
        }
    }

}

/*
DEFAULT STYLES
*/

body.wpsstm-default,body.wp-admin{

    .wpsstm-tracklist{
        position:relative;
        
        font-family: sans-serif;
        font-size:0.8em;

        .tracklist-header{
            border-bottom:1px solid #F7F7F7;
            padding:.25em;
            .wpsstm-tracklist-action,.toggle-children-container{
                text-align:center;
            }
            .wpsstm-tracklist-action,.toggle-children-link{
                font-size:.8em;
            }

        }

        .wpsstm-tracklist-icon{
            @include opacity (.15);
        }
        
        &.wpsstm-live-tracklist{
            .wpsstm-tracklist-title{
                @extend .wpsstm-icon;
                &:before{
                    content: "\f09e";
                }
            }
        }

        &.tracklist-loading{
            .wpsstm-tracklist-icon{
                @extend .wpsstm-loading-icon;
            }
            #wpsstm-tracklist-actions{
                @include opacity(.5);
            }
        }

        &:not(.tracklist-playing) .wpsstm-tracklist-icon:before,&.tracklist-pause .wpsstm-tracklist-icon:before{
            content:"\f04b"; //.fa-play
        }

        &.tracklist-playing .wpsstm-tracklist-icon:before{
            content:"\f04c"; //.fa-pause;
        }

        &.tracklist-error .wpsstm-tracklist-icon:before{
            content:"\f071"; //.fa-exclamation-triangle;
        }

        &:not(.tracklist-expired){
            #wpsstm-tracklist-action-refresh{
                @include opacity(.5);
            }
        }

        &.tracklist-ajaxed{

            &:not(.tracklist-refresh) #wpsstm-notice-ajax-refresh{
                display:none;
            }

            &.tracklist-refresh{
                > * {
                    display:none;
                    &.tracklist-header,&.wpsstm-tracklist-notices{
                        display:inherit;
                    }
                    &.wpsstm-tracklist-notices > *{
                        display:none;
                        &#wpsstm-notice-ajax-refresh{
                            display:inherit;
                        }
                    }
                    .wpsstm-tracklist-time{
                        display:none;
                    }

                }
            }
        }
        
        .wpsstm-tracks-list{
            position:relative;
            padding:0;
            margin:0;
            list-style: none;
            
            [itemprop="track"]{
                position:relative;
                padding:0;
                margin:0;
                line-height: 3em;
                @include flexbox((
                    display: flex,
                    flex-direction: row
                ));
                text-align:center;
                > * {
                    padding: 0 .5em;
                    box-sizing: content-box;
                    @include flexbox((
                        display: flex
                    ));
                    
                    &.wpsstm-track-image,
                    &.wpsstm-track-position,
                    &.wpsstm-track-play-bt{
                        width:2em;
                    }

                    &.wpsstm-track-image{
                        padding: 0;
                        text-align: center;
                        display: inline-block;
                    }
                    &.wpsstm-track-info{
                        @include flexbox((
                            display: flex,
                            flex-grow: 1
                        ));
                        > *{
                            display:block;
                            @extend .wpsstm-ellipsis;
                            text-align:left;
                            margin-right:.5em;
                            &[itemprop="byArtist"]{
                                font-weight: bold;
                            }
                            &[itemprop="name"]{
                                &:before{
                                    content: "—";
                                    margin-right:.5em;
                                }
                            }
                            &[itemprop="inAlbum"]{
                                font-size:.8em;
                            }
                        }

                    }
                    &.wpsstm-track-actions{
                        @include flexbox((
                            justify-content: space-between,
                            flex-shrink: 0,
                        ));
                    }
                    &.wpsstm-track-sources{
                        display:none; //hide by default
                        max-width:50%;
                        align-items: center;
                        flex: 1 1 auto;
                        [data-wpsstm-source-idx]{
                            label{
                                @extend .wpsstm-can-click;
                            }
                        }
                    }
                    &.wpsstm-column-identical-value{
                        display:none;
                    }
                }

                @include transition-property(background);
                @include transition-duration(.4s);

                &:hover{
                    background: rgba(0,0,0,0.02);
                }

                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }
                > * {
                    vertical-align: middle;
                }
                .wpsstm-track-image,.wpsstm-track-position,.wpsstm-track-play-bt,.wpsstm-track-actions,.wpsstm-track-sources{
                    text-align:center;
                }
                .wpsstm-track-image{
                    box-sizing: content-box;
                }
            }

        }
    }

    #wpsstm-tracklist-actions{
        display:block;
        margin: 1em;
        list-style: none;
        line-height: 2.8em;

        .wpsstm-tracklist-action{
            @extend .wpsstm-action-bt;


            &#wpsstm-tracklist-action-refresh a:before{
                content:"\f021";//.fa-refresh;
            }
            &#wpsstm-tracklist-action-share a:before{
                content:"\f1e0";//.fa-share-alt;
            }
            &#wpsstm-tracklist-action-export a:before{
                content:"\f019";//.fa-download;
            }

            &#wpsstm-tracklist-action-favorite a:before{
                content:"\f08a";//.fa-heart-o;
            }
            &#wpsstm-tracklist-action-unfavorite a:before{
                content:"\f004";//.fa-heart;
            }

            &#wpsstm-tracklist-action-new-subtrack{
                 a:before{
                     content:"\f055";//.fa-plus-circle;
                }
            }

            &#wpsstm-tracklist-action-status-switch{
                
                a:before{
                    content:"\f274";//.fa-calendar-check-o;
                }
                form{
                    select{
                        font-size:1em;
                    }
                    em{
                        @include opacity(.5);
                    }
                }
            }

            &#wpsstm-tracklist-action-lock-tracklist a:before{
                content:"\f023";//.fa-lock;
            }
            &#wpsstm-tracklist-action-unlock-tracklist a:before{
                content:"\f023";//.fa-lock;
            }
            &#wpsstm-tracklist-action-edit-backend a:before{
                content:"\f084";//.fa-key;
            }
            
        }

    }
    
}

//tracklists chooser
#wpsstm-tracklist-chooser-list{
    #wpsstm-filter-playlists{
        position:relative;
        ul{
            font-size:.8em;
            list-style: none;
            //@include column-count(2);
            li{
                @extend .wpsstm-ellipsis;
                padding: 1em;
                border-bottom: 1px solid rgba(51, 51, 51, 0.1);
                &.loading{
                    @extend .wpsstm-loading-el;
                }

            }
        }
    }

    #wpsstm-new-playlist-add{
        display:none;
        margin: 1em;
        text-align: center;
    }

    &.loading{
        @extend .wpsstm-loading-el;
    }
}