@import "compass/css3";

$player-bg-color:#222;
$player-text-color:#FFF;

.wpsstm-player{
    display:block;
    background:$player-bg-color;
    color:$player-text-color;

    a,a:hover,a:focus{
        color:$player-text-color;
    }

    .player-row{
        width:100%;
        padding:0;
        margin:0;

        &.player-controls{
            @include display-flex();
            > * {
                padding:0;
                margin:0;
                border:none;
                @extend .wpsstm-align-both;
                @include flex-grow(1);
            }
        }

        .wpsstm-player-actions{
            margin-right:.5em;
            @include flex-shrink(0);
            @include flex-grow(0);
            margin-top:auto;
            .wpsstm-player-action{

                span{
                    display:none;
                }

                &.wpsstm-player-action-scrobbler{
                    @include opacity(.25);
                    &:before{
                        content:"\f202"; //.fa-lastfm
                    }
                    &.lastfm-loading{
                        @extend .wpsstm-loading-icon;
                    }
                    &.scrobbler-error:before{
                        content:"\f071"; //.fa-exclamation-triangle;
                    }
                    &.active{
                        @include opacity(1);
                    }
                }
            }

        }

        #wpsstm-audio-container{
            @include display-flex();
            @include flex-grow(1);
        }
        .wpsstm-player-extra{
            @include flex-shrink(0);
            @include flex-grow(0);
            padding: 0 .5em;
            &:not(.active){
                @include opacity(.3);
            }
        }

        .mejs-container{
            width:100%!important;
        }
    }
}

/*
mediaElementJS
*/
.mejs-container{
    button{
        //background:none;
    }
}
