/*
Popup, modals, etc.
*/

@import "compass";

/*
MINIMAL STYLES
*/

html.wpsstm-is-dialog{
    overflow:hidden;
}

.wpsstm-dialog{
    position:relative;

    .ui-dialog-content{
        
        @include display-flex(flex!important);
        > * {
            margin: auto;
        }
        #wpsstm-dialog-auth-notice{
            @extend .wpsstm-icon;
            &:before{
                content:"\f19a";
                font-size:2em;
                margin-right: .25em;
            }
        }
        #wpsstm-dialog-lastfm-auth-notice{
            @extend .wpsstm-icon;
            &:before{
                content:"\f202";
                font-size:2em;
                margin-right: .25em;
            }
        }
        #wpsstm-dialog-loader{
            display:none;
        }
        #wpsstm-dialog-iframe{
            width: 100%;
            height: 100%;
        }

    }

    &.dialog-loading{

        .ui-dialog-content{
            #wpsstm-dialog-loader{
                display:inherit;
            }
            #wpsstm-dialog-iframe{
                display:none;
            }
        }

    }

}

/*
DEFAULT STYLES
*/

.ui-widget-overlay{
    opacity: .5;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    z-index:10;
}

.wpsstm-dialog{
    z-index:11;

    background:white;
    border:1px solid #F7F7F7;
    @include box-shadow( rgba(0, 0, 0, 0.1) 0 5px 10px );

    .ui-dialog-titlebar-close{
        position: absolute;
        right: 0;
        top: 0;
        .ui-icon-closethick{
            @extend .wpsstm-icon;
            &:before{
                content:"\f00d";//.fa-times
            }
        }
        .ui-button-text{
            display:none;
        }

    }

    .ui-dialog-content{
        #wpsstm-dialog-iframe{
            background-color: white;
        }
        #wpsstm-dialog-loader{
            font-size:3em;
        }
    }


}