[data-wpsstm-source-idx]{
    @include display-flex();
    label{
        @extend .wpsstm-can-click;
    }
    .wpsstm-source-actions{
        margin-left:.5em;
        > *{
            display:inline-block;
        }
    }
}

.wpsstm-track-sources-list{
    font-size:.8em;
    position:relative;
    @include flex-grow(0);
    @include transition-property(margin-bottom);
    @include transition-duration(.2s);

    &.active{
        margin-bottom:.5em!important;
        [data-wpsstm-source-idx]{
            .wpsstm-source-actions{
                .wpsstm-action{
                    display:inline-block;
                }
            }
        }
    }
    
    a{
        @extend .wpsstm-no-underline;
    }

    [data-wpsstm-source-idx]{ //single source

        position:relative;
        padding: 0 .75em;
        box-sizing: border-box;

        > *{

            &.wpsstm-source-actions{
                padding-right: .5em;
                @include display-flex();
                @include flex-shrink(0);

                .wpsstm-source-action{

                    a{
                        &:before{
                            margin-right:0;
                        }
                        > span{
                            display:none;
                        }
                    }
                    &.wpsstm-source-action-trash a:before{
                        content: "\f1f8";//.fa-trash;
                    }
                    &.wpsstm-source-action-move a:before{
                        content: "\f07d";//.fa-arrows-v;
                    }
                    &.wpsstm-source-action-edit-backend a:before{
                        content:"\f084";//.fa-key;
                    }
                }
            }

            &.wpsstm-source-title{ //source text
                @extend .wpsstm-ellipsis;
                @extend .wpsstm-can-click;
            }
        }

        &.source-error .wpsstm-source-icon{
            &:before{
                content:"\f071"; //.fa-exclamation-triangle
            }
            label{
                text-decoration: line-through;
            }
        }
        &.source-active{
            @include display-flex();
            font-weight: bold;
        }

        .wpsstm-source-title:before{
            @extend .wpsstm-icon;
        }

        .wpsstm-source-action-provider a:before{
            content:"\f0c1";//fa-link
        }

        &[data-wpsstm-source-type="video/soundcloud"] .wpsstm-source-action-provider a:before{
            content:"\f1be";//fa-soundcloud
        }
        &[data-wpsstm-source-type="video/youtube"] .wpsstm-source-action-provider a:before{
            content:"\f167";//fa-youtube
        }

        &.source-loading{
            .wpsstm-source-action-provider a{
                 @extend .wpsstm-loading-icon;
            }
        }


    }
}

[itemprop="track"]{
    .wpsstm-track-sources-list:not(.active){
        display:none;
    }
    .wpsstm-source-actions{
        > *{
            &:not(.wpsstm-source-action-provider){
                display:none;
            }
        }
    }
}