@import "compass/css3";
@import "compass/typography/text/ellipsis";

@include keyframes(opacityPulse){
    0% {opacity: 1;}
    50% {opacity: 0.5; }
    100% {opacity: 1;}
}

@keyframes barberpole {
    from { background-position: 0 0; }
    to   { background-position: 60px 30px; }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes highlight {
    0% {background-color: rgba(224,255,226,0);}
    25% {background-color: rgba(224,255,226,1);}
    100% {background-color: rgba(224,255,226,0);}
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@mixin striped-bg ($color-a:rgba(black, 0.05), $color-b:rgba(0, 0, 0, 0), $direction: 45deg) {
    background-size: 30px 30px;
    background-image: linear-gradient(
        $direction, 
        $color-a    25%, 
        $color-b    25%, 
        $color-b    50%, 
        $color-a    50%, 
        $color-a    75%, 
        $color-b    75%, 
        $color-b
    );
    animation: barberpole 0.5s linear infinite;
}

.wpsstm-no-underline{
    text-decoration:none;
    border-bottom:none!important; //fix for twentyfifteen
}

.wpsstm-can-click{
    cursor: pointer;
    cursor: hand;
}

.wpsstm-freeze{
    pointer-events: none;
}

.wpsstm-icon{
    &:before{
        font-weight: normal;
        font-style: normal;
        font-family: 'FontAwesome';
        width: 1.28571429em;
        text-align: center;
        display: inline-block;
    }
}

.wpsstm-loading-icon{
    @extend .wpsstm-icon;
    &:before{
        animation: spin 2s linear infinite;
        content: "\f1ce"!important; //.fa-circle-o-notch;
    }
}

ul.wpsstm-actions-list{
    margin:0;
    padding:0;
    list-style: none;
    line-height: 2.2em;
    
    .wpsstm-action{
        margin:auto;
        text-align:center;
        display:inline-block;
        a{
            @extend .wpsstm-no-underline;
            @extend .wpsstm-icon;
            &.action-loading{
                @extend .wpsstm-loading-icon;
            }
            &.action-error:before{
                content:"\f071"; //.fa-exclamation-triangle;
            }
        }
        &:hover{
            border-color:#F7F7F7;
            background:rgba(0, 0, 0, .025);
        }
        a:before{
            margin-right:.5em;
        }

        &.wpsstm-action-icon{
            a{
                @extend .wpsstm-icon;
                &:before{
                    margin-right:0;
                }
                > span{
                    display:none;
                }
            }
        }
    }
    
}

.wpsstm-ellipsis{
    @include ellipsis($no-wrap: true);
}
.wpsstm-freeze{
    @include opacity(.5);
}

input{
    &.wpsstm-fullwidth{
        width:100%;
    }
    &[type="text"].input-loading{
        @include striped-bg();
    }
}

.wpsstm-icon-input{
    position:relative;
    margin: 0.5em;
    input{
        padding: 0.5em;
        &[type="text"]{
            padding-right:4em;
        }

    }
    [type="submit"]{ //input & button
        position: absolute;
        top:0;
        right: 0;
        border: none;
        @extend .wpsstm-can-click;
        &.wpsstm-icon-button{
            display: block;
            height: 100%;
            box-sizing: border-box;
            padding: 0 2em;
        }
    }
    &.input-loading{
        input[type="text"]{
            @include striped-bg();
        }
    }
}

.wpsstm-tracklist-notices{
    position:relative;
    margin:auto;
    padding: .5em 0;

    #wpsstm-notice-empty-tracklist{
        background:none;
        opacity: 1;
        font-size:1em;
    }

}

.wpsstm-notice {
    font-size: 0.8em;
    padding: .5em;
    background-color: #fcf8e3;
    color: #222;
    text-align:center;
    margin: .5em 0;
    a {
        color: #222;
        text-decoration: underline;
    }

    &.active {
        display: block;
    }

    .wpsstm-close-notice{
        position:absolute;
        right:1em;
    }

}

ul{
    &.comma-list{
        list-style: none;
        display:inline;
        > li{
            display:inline;
            &:not(:last-child):after {
              content: ", ";
            }
        }
    }
    &.ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        //@include border-radius(5px);
        @include box-shadow( rgba(0, 0, 0, 0.1) 0 5px 10px );
        @include background-clip(padding-box);
        *border-right-width: 2px;
        *border-bottom-width: 2px;

        li.ui-menu-item{
            padding:0 .5em;
            line-height:2em;
            font-size:.8em;
            &.ui-state-focus{
                background: #F7F7F7;
            }
        }

    }
}
//toggleChildren
.toggle-children-link{
    @extend .wpsstm-can-click;
}
a.toggle-children-link, .toggle-children-link a{
    @extend .wpsstm-no-underline;
}
.wpsstm-tracks-list{
    > .toggle-children-link{
        text-align:center;
        padding: .5em;
        font-size:1.2em;
    }
}
.input-group{
    position: relative;
    display: table;
    border: 1px solid #CCC;
    padding: .5em;
    margin: .5em 0;
    border-collapse: separate;
    .input-group-icon, .input-group-field {
        display: table-cell;
    }
    .input-group-field {
        background:transparent;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        line-height:40px;
        padding: 0 10px; 
        border:none;
        box-shadow: none;
        &:focus{
            outline: none;
            border:none;
            box-shadow: none;
        }
    }
    .input-group-icon{
        padding:0 .5em;
        font-size:1em;
        color:#444;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: normal;
        line-height: 1;
        text-align: center;
    }
    input,button {
        background:transparent;
        border:none;
        color:#444;
        &:hover{
            background:transparent;
        }
    }
    &:hover,&:focus-within{
        background:rgba(0,0,0,0.01);
    }
    &:focus-within{
        outline:medium;
    }
}

.wpsstm-iframe-container{
    width:100%;
    
    .wpsstm-loading-notice{
        display:none;
        position:relative;
        text-align:center;
        span{
            display:inline-block;
            padding: .5em 0;
            @include animation(opacityPulse 2s infinite ease-out);
            @extend .wpsstm-loading-icon;
        }
    }
    
    &.wpsstm-iframe-loading{
        .wpsstm-loading-notice{
            display:inherit;
        }
        iframe{
            display:none;
        }
    } 

    iframe{
        width:100%;
        box-sizing: content-box;
        @include transition-property(height);
        @include transition-duration(.4s);
    }
}

@import "wpsstm-tracklists";
@import "wpsstm-tracks";
@import "wpsstm-sources";
@import "wpsstm-player";
@import "wpsstm-wizard";
@import "wpsstm-popups";
@import "wpsstm-backend";