@import "compass";
@import "wpsstm-shared";

[itemprop="track"]{
    
    [itemprop="byArtist"]{
        font-weight: bold;
    }
    [itemprop="inAlbum"]{
        font-size:.8em;
    }

    .wpsstm-track-position{
        .wpsstm-player-icon-loading{
            display:none;
        }
        span{
            display:initial;
        }
    }
    
    .wpsstm-track-actions{
        .wpsstm-actions-list{
            display:inline;
            padding: 0;
            li{
                padding: 0 .1em;
            }
        }
    }
}

.wpsstm-actions-list{
    .wpsstm-action-toggle-favorite:not(.wpsstm-toggle-favorite-active){
        display:none!important;
    }
}