@import "compass/css3";

a.wpsstm-play-track{
    text-decoration:none;
    border-bottom:none!important; //twentyfifteen fix

    &[data-wpsstm-sources=""]:not(:hover){
        @include opacity(.25);
    }

    .wpsstm-player-icon{
        display:none;
        &.wpsstm-player-icon-play{
            display:inline-block;
        }
    }

    &:not(.active){
        .wpsstm-player-icon{
            @include opacity(.25);
        }
        
    }
    
    &:hover{
        .wpsstm-player-icon{
                @include opacity(1);
        }
    }

    &.error{
        .wpsstm-player-icon{
            display:none;
        }
        .wpsstm-player-icon-error{
            display:inline-block;
        }
    }
    
    &.buffering{
        pointer-events: none;
        
        .wpsstm-player-icon{
            display:none;
        }
        .wpsstm-player-icon-buffering{
            display:inline-block;
        }
    }
    
    &.playing{
        .wpsstm-player-icon{
            display:none;
        }
        .wpsstm-player-icon-pause{
            display:inline-block;
        }
    }
    
    &.has-played{
        color:#00b511;
    }

}

#wpsstm-bottom{
    display:none;
    position:fixed;
    width:100%;
    background-color: #DDD;
    border-top: 1px solid #b7b7b7;
    padding:0;
    bottom: 0;
    z-index: 50;
    min-height:0em;
    #wpsstm-bottom-notice-redirection{
        display:none;
        font-size:0.8em;
        margin: 0;
        padding: .5em 1em;
        background-color:#fcf8e3;
        cursor: pointer;
        cursor: hand;
    }
    #wpsstm-player-wrapper{
        background:#222;
        position:relative;
        overflow: auto;
        a{
            color:white;
        }
        
        > * {
            display: block;
            height: 40px;
            float: left;
            line-height:40px;
        }
        .wpsstm-player-nav{
            width:5%;
            text-align:center;
        }
        #wpsstm-player{
            width:80%;
            margin:auto;
        }
    }
}