@import "compass/css3";

#wpsstm-wizard-search{
    position:relative;
    margin: 0.5em;
    input{
        padding: 0.5em;
        line-height: 1em;
        height:100%;
    }
    input[type="text"]{
        padding-right:4em;
    }
    input[type="submit"]{
        width:4em;
        font-family: 'FontAwesome';
        position: absolute;
        top:0;
        right: 0;
        border: none;
        cursor: hand; cursor: pointer;
    }
}


#wizard-wrapper{
    position:relative;

    input.fullwidth{
        width:100%;
    }

    #wpsstm-wizard-preview-feed-url{
        text-align:center;
        font-size:1.25em;
    }
    
    &.wizard-wrapper-frontend{
        text-align:center;
        h2{
            display:none;
        }
        p.submit{
            margin:auto;
            max-width:40%;
        }
        table.wizard-section-table{
            margin:auto;
            border:none;
            th{
                display:none;
            }
            th,td{
                border:none;
            }
        }
    }

    table#wizard-regexes{
        width:100%;
        tr:first-child,td:first-child{
            width:70%;
        }
    }

    pre.spiff-raw, pre.spiff-raw code {
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
        webkit-box-sizing: border-box;
        display: block;
        white-space: pre-wrap;
        white-space: -pre-wrap;
        word-wrap: break-word;
        width: 100%;
        overflow: auto;
    }

    .tracks-selector-prefix {
            color: lightgrey;
            padding-right: 0.5em;
    }
    .wpsstm-wizard-selector-toggle-advanced {
            text-decoration: none;
    }

    #spiff-station-tracks-raw{
        max-height: calc(3 * 211px);
        overflow-y: auto;
    }

    pre.spiff-raw {
            max-height: 200px;
            border: 1px solid lightgrey;
            padding: 10px;
            code {
                    background: none;
            }
    }
    .ui-tabs-panel > h3:first-of-type {
            display: none;
    }

}

#wpsstm-frontend-wizard{
    p.submit{
        padding: .25em;
    }
    #wpsstm-wizard-convert-tracklist{
        p.submit{
            display:inline-block;
        }
    }
}