@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "_wpsstm-shared";

#wpsstm-frontend-wizard{
    p.submit{
        padding: .25em;
    }
}

#wpsstm-wizard-shortcuts{
    ul{
        list-style: none;
    }
    .wpsstm-bang-desc{
        font-size:.8em;
        &:not(.expanded){
            display:none;
        }
        
    }
}

#wpsstm-wizard-services{
    ul{
        margin:0;
        padding:0;
        li{
            width:100px;
            height:100px;
            display:inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            img{
                width:100%;
                height:auto;
            }

        }
    }
}

#wpsstm-frontend-wizard-recent{
    ul{
        list-style: none;
        padding:0;
        margin:0;
        li{
            position:relative;
            line-height: 1em;
            line-height:1.5em;
            a{
                @include display-flex();
                strong{
                    margin-right:.25em;
                }
                > *{
                    @extend .wpsstm-ellipsis;
                }
            }
        }
    }
}