@import "compass/css3";
@import "wpsstm-shared";

.wpsstm-tracklist.wpsstm-playable-tracklist{
    [itemprop="track"]:not(.no-items){

        @include opacity(1);

        &:not(.active){
            @include opacity(.25);
            &[data-wpsstm-sources-count="0"]:not(:hover){
                @include opacity(.1);
            }
            &.has-played{
                @include opacity(.5);
            }

        }

        &.wpsstm-invalid-track{
            background:rgba(255, 0, 0, 0.10);
        }

    }
}

#wpsstm-bottom-wrapper{
    position:fixed;
    width:100%;
    padding:0;
    bottom: 0;
    z-index: 50;
    min-height:0em;
    
    a{
       color:white; 
    }
    
    .wpsstm-bottom-notice{
        font-size:0.8em;
        margin: 0;
        padding-bottom:1.5em;
        a{
            color:#222;
            text-decoration: underline;
        }
        p{
            padding:0;
            margin:0;
        }
        .wpsstm-close-notice{
            position:absolute;
            right:0;
            top:0;
            display: block;
            padding: .5em;
            @include opacity(.8);
            @extend .wpsstm-can-click;
            &:hover{
                @include opacity(1);
            }
            
        }
    }
    
    #wpsstm-bottom{
        display:none;
        position: relative;
        color:white;
        font-family:sans-serif;
        
        #wpsstm-bottom-track-wrapper{
            background:#222;
            line-height:3em;
            height:3em;
            position:relative;
            font-size: 0.8em;
            padding:0 1em;
            
            #wpsstm-bottom-track-actions{
                position: absolute;
                right: 1em;
                top: 0;
                width: 10%;
                text-align: right;
                > *{
                    padding: 0 .25em;
                    font-size:1.5em;
                    width:calc(10% / 2);
                }
                a{
                    @include opacity(0.9);
                    color:white;
                    text-decoration: none;
                    border:none!important;
                    &:hover{
                        @include opacity(1);
                    }
                }
            }
            
            #wpsstm-bottom-track-info{
                text-transform: uppercase;
                letter-spacing: .05em;
                font-size: .6em;
                position:relative;
                width: 90%;
                
                .wpsstm-tracklist-entries{
                    padding:0;
                    margin:0;
                    width:100%;
                    
                    li[itemprop="track"]{
                        width:100%;
                        position:relative;
                        display:block!important; //jQuery would set 'table-row'
                        .wpsstm-track-column{
                            
                            line-height:2em;

                            &[itemprop="image"]{
                                padding: 0;
                                width:4em;
                                img {

                                    max-height:3em;
                                }
                            }
                            &[itemprop="name"]:before{
                                content:"\002014";
                                padding-right:.5em;
                            }
                            &[itemprop="inAlbum"]{
                                display:none;
                                @extend .truncate;
                            }

                            &.trackitem_play_bt{
                                display:none;
                            }
                            
                            &.column-trackitem_actions{
                                float:none;
                                font-size:1.5em;
                                #wpsstm-track-action-remove{
                                    display:none;
                                }
                            }
                            
                            &.column-trackitem_sources{
                                display:inline-block;
                            }

                        }

                        .trackitem_position{
                            @extend .wpsstm-can-click;
                        }

                    }
                    
                }

            }
            
        }

        #wpsstm-bottom-player-wrapper{
            background:#222;
            position:relative;
            overflow: hidden;
            a{
                color:white;
            }

            > * {
                display: block;
                height: 40px;
                float: left;
                line-height:40px;
            }
            .wpsstm-player-extra{
                width:calc(20% / 4); //number of extra icons
                text-align:center;
                &#wpsstm-player-shuffle:not(.active){
                    @include opacity(.3);
                }
                &#wpsstm-player-loop:not(.active){
                    @include opacity(.3);
                }
            }
            #wpsstm-player{
                width:80%;
                margin:auto;
            }
        }
    }
}

#wpsstm-player-toggle-scrobble{
    > :nth-child(1){ //loading
        display:none;
    }
    > :nth-child(2){ //disable
        display:none;
        
    }
    > :nth-child(3){ //enable
        display:inline-block;
        i{
            @include opacity(.25);
        }
    }

    &.active{
        > :nth-child(2){ //disable
            display:inline-block;
        }
        > :nth-child(3){ //enable
            display:none;
        }
    }
    &.loading{
        pointer-events: none;
        > :nth-child(1){ //loading
            display:inline-block;
        }
        > :nth-child(2){ //disable
            display:none;
        }
        > :nth-child(3){ //enable
            display:none;
        }
    }
}