/*
Default styles to improve the GUI, can be disabled in the plugin's settings
*/

@import "compass";
@import "wpsstm-shared";

.wpsstm-actions-list{
    li{
        display:inline-block;
        a{
            @extend .wpsstm-no-underline;
        }
    }
}

.wpsstm-actions-list:not(#wpsstm-track-actions){
    text-align: center;
    font-size:.8em;
    line-height: 3em;
    li{
        background: #EEE;
        padding: 0 .5em;
        line-height: 2.5em;
        a{
            i{
                padding-right:.25em;
            }
        }
    }
}

.wpsstm-tracklist{
        
    font-family: sans-serif;
    font-size:0.8em;

    .tracklist-nav{
        ul#wpsstm-tracklist-actions{
            text-align: center;
            font-size:.8em;
        }
    }
    
    [itemprop="track"]{
        .wpsstm-track-actions{
            width:6em;
            ul{
                display:none;
            }
        }
        &:hover,&.track-active{
            .wpsstm-track-actions ul{
                display:inherit;
            }
        }
        
        .wpsstm-track-play-bt{
            a{
                @extend .wpsstm-no-underline;
            }
        }

        .wpsstm-track-sources{
            a{
                @extend .wpsstm-no-underline;
            }
            [data-wpsstm-source-idx]{
                &:not(.source-active){
                    @include opacity(.25);
                    &:hover{
                        @include opacity(.5);
                    }
                }
            }

        }
    }

    table.wpsstm-tracklist-entries{
        margin:0;
        padding:0;
        th,tr,td{
            padding:0;
            margin:0;
        }
        
        //no borders
        border-collapse: collapse;
        border:none;
        td,th{
            border:none;
            outline:none;
        }
        
        //hide header
        .wpsstm-tracklist-entries-header{
            display:none;
        }
        
        tr{ //[itemprop="track"]

            td,th{
                padding:.5em 0;
                
                &.wpsstm-track-image{
                    width:2em;
                    box-sizing: content-box;
                }
                &.wpsstm-track-position{
                    width:2em;
                }
                &.wpsstm-track-play-bt{
                    width:2em;
                }
                &.wpsstm-track-info{
                    @extend .wpsstm-ellipsis;
                    [itemprop="byArtist"]{
                        font-weight: bold;
                    }
                    [itemprop="inAlbum"]{
                        font-size:.8em;
                    }
                }
                &.wpsstm-track-sources{
                    ul{
                        a{
                            label{
                                @extend .wpsstm-can-click;
                            }
                            &.source-error{
                                text-decoration: line-through;
                            }
                            &.source-active{
                                font-weight: bold;
                            }
                        }

                    }
                }
            }
            th{
                text-align:center;
            }

            @include transition-property(background);
            @include transition-duration(.4s);

            &:hover{
                background: rgba(0,0,0,0.02);
            }

            &:not(:last-child){
                border-bottom: 1px solid #eee;
            }

        }
    }
    
    //tracklists inside posts
    .hentry &{
        [itemprop="track"]{
            .wpsstm-track-sources{
                display:none;
            }
            [data-wpsstm-source-idx]{
                display:inline;
            }
        }
    }
    
    //tracklist from bottom player
    #wpsstm-bottom-track-wrapper &{
        
        text-transform: uppercase;
        font-size: .75em;
        letter-spacing: .05em;
        
        table{
            td{
                &.wpsstm-track-image{
                    padding-left:0!important;
                }
                &.wpsstm-track-album{
                    display:none!important;
                }
                &.wpsstm-track-sources{
                    position:relative;
                    width: 20%;
                    @include opacity(.25);
                    .wpsstm-track-sources-list{
                        
                        padding:0;
                        line-height: 2em;
                        [data-wpsstm-source-idx]{
                            
                            display:block;
                            padding: 0 .75em;
                            width:100%;
                            box-sizing: border-box;
                            
                            @include display-flex();

                            .wpsstm-source-links{
                                
                                @include order(1);
                                @include flex(0 0 auto);
                                padding-right: .5em;
                                
                                > * {
                                    text-align:center;
                                    width:2em;
                                }
                            }
                            
                            .wpsstm-source-title{ //source text
                                @include order(2);
                                @include flex(0 1 auto); /*important*/
                                min-width:0;
                                
                                @extend .wpsstm-ellipsis;
                                overflow:hidden;
                                
                                
                            }


                        }
                    }

                    &:hover{
                        width: 30%;
                        @include opacity(1);
                        .wpsstm-track-sources-list{
                            background: $player-bg-color;
                            text-align: left;
                            position: absolute;
                            bottom: -1em;
                            padding-bottom:1em;
                            [data-wpsstm-source-idx]{
                                line-height:2.5em;
                            }
                        }
                    }
                    
                    &:not(:hover){
                        [data-wpsstm-source-idx]{
                            &:not(.source-active){
                                display:none;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    

}