/*
Default styles to improve the GUI, can be disabled in the plugin's settings
*/

@import "compass";
@import "wpsstm-shared";

@keyframes barberpole {
    from { background-position: 0 0; }
    to   { background-position: 60px 30px; }
}

@mixin striped-bg ($color-a:rgba(black, 0.05), $color-b:rgba(0, 0, 0, 0), $direction: 45deg) {
    background-size: 30px 30px;
    background-image: linear-gradient(
        $direction, 
        $color-a    25%, 
        $color-b    25%, 
        $color-b    50%, 
        $color-a    50%, 
        $color-a    75%, 
        $color-b    75%, 
        $color-b
    );
    animation: barberpole 0.5s linear infinite;
}

input{
    &.wpsstm-fullwidth{
        width:100%;
    }
    &[type="text"].wpsstm-loading{
        @include striped-bg();
    }
}

.wpsstm-icon-input{
    position:relative;
    margin: 0.5em;
    input{
        padding: 0.5em;
        line-height: 1em;
        height:100%;
        &[type="text"]{
            padding-right:4em;
        }
        &[type="submit"]{
            width:4em;
            font-family: 'FontAwesome';
            position: absolute;
            top:0;
            right: 0;
            border: none;
            cursor: hand; cursor: pointer;
        }
        
    }
    &.wpsstm-loading{
        input[type="text"]{
            @include striped-bg();
        }
    }
}

ul.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    //@include border-radius(5px);
    @include box-shadow( rgba(0, 0, 0, 0.1) 0 5px 10px );
    @include background-clip(padding-box);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    
    li.ui-menu-item{
        padding:0 .5em;
        line-height:2em;
        font-size:.8em;
        &.ui-state-focus{
            background: #F7F7F7;
        }
    }

}

.wpsstm-tracklist{
        
    font-family: sans-serif;
    font-size:0.8em;


    .tracklist-header{
        border-bottom:1px solid #F7F7F7;
        padding:.25em;
        ul#wpsstm-tracklist-actions{
            text-align: center;
            font-size:.8em;
        }
 
    }

    [itemprop="track"]{
        ul.wpsstm-actions-list{
            width: 100%;
            display:none;
            li.wpsstm-track-action{
                display:inline;
                a{
                    &:before{
                        @extend .fa;
                        margin-right:0;
                    }
                    > span{
                        display:none;
                    }
                }
            }
        }

        &:hover,&.track-active{
            .wpsstm-track-actions ul{
                display:inherit;
            }
        }
        
        .wpsstm-track-play-bt{
            a{
                @extend .wpsstm-no-underline;
            }
        }

        .wpsstm-track-sources{
            a{
                @extend .wpsstm-no-underline;
            }
            [data-wpsstm-source-idx]{
                &:not(.source-playing){
                    @include opacity(.25);
                    &:hover{
                        @include opacity(.5);
                    }
                }
            }

        }
    }
    
    

    table.wpsstm-tracks-list{
        
        
        
        margin:0;
        padding:0;
        th,tr,td{
            padding:0;
            margin:0;
        }
        
        //no borders
        border-collapse: collapse;
        border:none;
        td,th{
            border:none;
            outline:none;
        }
        
        //hide header
        .wpsstm-tracks-list-header{
            display:none;
        }
        
        tr{ //[itemprop="track"]

            td,th{
                padding:.5em 0;
                
                &.wpsstm-track-image{
                    width:2em;
                    box-sizing: content-box;
                }
                &.wpsstm-track-position{
                    width:2em;
                }
                &.wpsstm-track-play-bt{
                    width:2em;
                }
                &.wpsstm-track-info{
                    @extend .wpsstm-ellipsis;
                    [itemprop="byArtist"]{
                        font-weight: bold;
                    }
                    [itemprop="inAlbum"]{
                        font-size:.8em;
                    }
                }
                &.wpsstm-track-sources{
                    [data-wpsstm-source-idx]{
                        label{
                            @extend .wpsstm-can-click;
                        }
                    }
                }
            }
            th{
                text-align:center;
            }

            @include transition-property(background);
            @include transition-duration(.4s);

            &:hover{
                background: rgba(0,0,0,0.02);
            }

            &:not(:last-child){
                border-bottom: 1px solid #eee;
            }

        }
    }

}

//tracklists inside posts
:not(#wpsstm-bottom-track-wrapper) .wpsstm-tracklist.tracklist-template-table{

    border:1px solid #F7F7F7;
    padding:.5em 1em;

    [itemprop="track"]{
        .wpsstm-track-sources{
            display:none;
        }
    }
}

#wizard-wrapper{
    #wpsstm-wizard-helpers{
        list-style: none;
        font-size:.75em;
        position: relative;
        @include display-flex();
        @include flex-wrap(wrap);
        text-align:center;
        .wpsstm-wizard-helper{
            width:calc(33% - 1em);
            margin:.5em;
            box-sizing: border-box;
            padding:1em;  
            @include flex-grow(1);
            background-color:#f7f7f7;
            border: 1px solid #eaeaea;
            &#wpsstm-wizard-helper-tracklist-url{
                width:calc(100% - 1em);
                ul{
                    @extend .comma-list;
                }
            }
            h3{
                margin-top:0;
            }
            ul{
                list-style: none;
            }
            input[type=text]{
                font-size:1em;
                text-align:center;
                background-color:white;
            }

            &:not(.wpsstm-wizard-helper-success){
                a{
                    @include opacity(.5);
                }
            }
        }
    }
}

ul#wpsstm-tracklist-actions,.wpsstm-popup .wpsstm-actions-list{
    line-height: 2.8em;
    li.wpsstm-action{
        border: 1px solid #F7F7F7;
        background:#F7F7F7;
        padding: .25em .5em;
        display:inline-block;
        line-height: 1.8em;
        &:hover{
            border-color:#F7F7F7;
            background:white;
        }
        a:before{
            margin-right:.5em;
        }

    }
}

ul.wpsstm-actions-list{
    list-style: none;
    li.wpsstm-action{
        a:before{
            @extend .fa;
        }
        &.wpsstm-loading a:before{
            @extend .fa-circle-o-notch;
            @extend .fa-spin;
            @extend .fa-fw;
        }
        a{
            @extend .wpsstm-no-underline;
        }
    }
}



#wpsstm-tracklist-actions{
    display:block;
    margin: 1em;
    list-style: none;

    .wpsstm-tracklist-action{

        &#wpsstm-tracklist-action-refresh a:before{
            @extend .fa-refresh;
        }
        &#wpsstm-tracklist-action-share a:before{
            @extend .fa-share-alt;
        }
        &#wpsstm-tracklist-action-export a:before{
            @extend .fa-download;
        }

        //&:not(.wpsstm-loading){
            &#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before{
                @extend .fa-heart-o;
            }
            &#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before{
                @extend .fa-heart;
            }
        //}
        
        &#wpsstm-tracklist-action-new-subtrack{
             a:before{
                 @extend .fa-plus-circle;
            }
        }

        &#wpsstm-tracklist-action-status-switch{
            a:before{
                @extend .fa-calendar-check-o;
            }
            form{
                display:none;
                select{
                    font-size:1em;
                }
                em{
                    @include opacity(.5);
                }
            }
            &.expanded{
                em{
                    display:none;
                }
                form{
                   display:inline-block; 
                }
            }
        }

        &#wpsstm-tracklist-action-lock-tracklist a:before{
            @extend .fa-lock;
        }
        &#wpsstm-tracklist-action-unlock-tracklist a:before{
            @extend .fa-lock;
        }
    }

}

.wpsstm-track-action{
    &#wpsstm-track-action-favorite:not(.wpsstm-loading) a:before{
        @extend .fa-heart-o;
    }
    &#wpsstm-track-action-unfavorite:not(.wpsstm-loading) a:before{
        @extend .fa-heart;
    }
    &#wpsstm-track-action-delete a:before{
        @extend .fa-trash;
    }
    &#wpsstm-track-action-sources a:before{
        @extend .fa-cloud;
    }
    &#wpsstm-track-action-move:not(.wpsstm-loading) a:before{
        @extend .fa-arrows-v;
    }
    &#wpsstm-track-action-playlists a:before{
        @extend .fa-list;
    }
    &#wpsstm-track-action-edit a:before{
        @extend .fa-pencil;
    }
    &#wpsstm-track-action-about a:before{
        @extend .fa-info-circle;
    }
}
