@import "compass";
@import "wpsstm-shared";

.wpsstm-actions-list{
    li{
        &#wpsstm-tracklist-action-status-switch{
            form{
                display:none;
                select{
                    font-size:1em;
                }
                em{
                    @include opacity(.5);
                }
            }
            &.expanded{
                em{
                    display:none;
                }
                form{
                   display:inline-block; 
                }
            }
        }
    }
}

.wpsstm-tracklist{
    position:relative;
    
    .wpsstm-tracklist-icon{
        @extend .fa;
    }

    &.tracklist-loading .wpsstm-tracklist-icon{
        @extend .fa-circle-o-notch;
        @extend .fa-spin;
        @extend .fa-fw;
    }
    &:not(.tracklist-playing) .wpsstm-tracklist-icon{
        @extend .fa-play;
    }

    &.tracklist-playing .wpsstm-tracklist-icon{
        @extend .fa-pause;
    }
    
    &.tracklist-error .wpsstm-tracklist-icon{
        @extend .fa-exclamation-triangle;
    }
    
    &.tracklist-pause .wpsstm-tracklist-icon{
        @extend .fa-play;
    }
    
    &:not(.wpsstm-loved-tracklist) #wpsstm-tracklist-action-unfavorite{
        display:none;
    }
    
    &.wpsstm-loved-tracklist{
        #wpsstm-tracklist-action-favorite{
            display:none;
        }
    } 
    
    #wpsstm-tracklist-actions{
        display:block;
        margin: 1em;
        list-style: none;
        li{
            &#wpsstm-tracklist-action-refresh .wpsstsm-icon{
                @extend .fa-rss;
            }
            &#wpsstm-tracklist-action-share .wpsstsm-icon{
                @extend .fa-share-alt;
            }
            &#wpsstm-tracklist-action-export .wpsstsm-icon{
                @extend .fa-download;
            }
        }
    }
    
    &:not(.tracklist-expired){
        .tracklist-header{
            ul#wpsstm-tracklist-actions{
                li#wpsstm-tracklist-action-refresh{
                    pointer-events:none;
                    @include opacity(.5);
                }
            }
        }
    }
    
    &.tracklist-ajaxed{
        
        &:not(.tracklist-refresh) #wpsstm-notice-ajax-refresh{
            display:none;
        }
        
        &.tracklist-refresh{
            > * {
                display:none;
                &.tracklist-header,&.wpsstm-tracklist-notices{
                    display:inherit;
                }
                &.wpsstm-tracklist-notices > *{
                    display:none;
                    &#wpsstm-notice-ajax-refresh{
                        display:inherit;
                    }
                }

            }
        }
    }

    &.wpsstm-playable-tracklist{
        
        .wpsstm-tracks-list{
        
            [itemprop="track"]{
                
                &[data-wpsstm-sources-count="0"]{
                    @include opacity(.25);
                } 

                &:not(.track-active){
                    td{
                        @include opacity(.5);
                    }
                }

                &.track-has-played,&:hover{
                    td{
                        @include opacity(.75);
                    }
                }

                &.track-active{
                    td{
                        @include opacity(1);
                    }
                }
                
                .wpsstm-track-icon{
                    @extend .fa;
                }
                
                &.track-loading .wpsstm-track-icon{
                    @extend .fa-circle-o-notch;
                    @extend .fa-spin;
                    @extend .fa-fw;
                }
                &:not(.track-playing) .wpsstm-track-icon{
                    @extend .fa-play;
                }
                
                &.track-playing .wpsstm-track-icon{
                    @extend .fa-pause;
                }

                &.track-error .wpsstm-track-icon{
                    @extend .fa-exclamation-triangle;
                }
                
                &.track-pause .wpsstm-track-icon{
                    @extend .fa-pause;
                }
                
                &:not(.wpsstm-loved-track) #wpsstm-track-action-unfavorite{
                    display:none;
                }

                &.wpsstm-loved-track{
                    #wpsstm-track-action-favorite{
                        display:none;
                    }
                } 

            }
        }
    }
    
    .wpsstm-tracks-list{

        [itemprop="track"]{

            .wpsstm-track-image{
                img{
                    height:2em;
                    width: auto;
                    vertical-align: middle;
                }

            }

           .wpsstm-track-position{

                .wpsstm-player-icon-loading{
                    display:none;
                }
                span{
                    display:initial;
                }

                .wpsstm-reposition-track{
                    display:none;
                    @extend .wpsstm-can-click;
                }
            }

            .wpsstm-track-actions,.wpsstm-track-sources{
                ul{
                    list-style: none;
                    padding:0;
                    margin:0;
                }
            }
            .wpsstm-track-actions{
                ul li {
                    label{
                        display:none;
                    }
                }
            }
            .wpsstm-track-sources-list{
                position:relative;
                
                //single source
                [data-wpsstm-source-idx]{
                    position:relative;
                
                    label{
                        @extend .wpsstm-can-click;
                    }
                    &.source-error .wpsstm-source-icon{
                        @extend .fa-exclamation-triangle;
                    }
                    &.source-play{
                        font-weight: bold;
                    }
                }
            }
            
            &.wpsstm-invalid-track{
                background:rgba(255, 0, 0, 0.10);
            }
        }
        
    }

    table.wpsstm-tracks-list{
        table-layout:fixed;
        width:100%;
        tr{
            > * {
                vertical-align: middle;
            }
            .wpsstm-track-image,.wpsstm-track-position,.wpsstm-track-play-bt,.wpsstm-track-actions,.wpsstm-track-sources{
                text-align:center;
            }
            .wpsstm-track-image{
                box-sizing: content-box;
            }
            td{
                &.wpsstm-column-identical-value{
                    display:none;
                }
            }
        }
    }
    
}