@import "compass/css3";
@import "wpsstm-shared";

.postbox#wpsstm-tracklist{
    
    #wpsstm-subtracks-list{

        .loading{
            pointer-events: none;
            @include opacity(0.5);
        }

        >.search-box{ //filter links

        }
        >.subsubsub{ //tabs
            margin:0;
            margin-bottom:1em;
        }

        >.tablenav{ //bulk actions
            .add-tracklist-track{
                margin:0;
                body.no-js &{
                    display:none;
                }
            }
            &.top{

            }
            &.bottom{

            }

        }

        table.wp-list-table{
            .column-reorder,.column-trackitem_order {
                width: 2em;
                text-align:center;
            }

            .column-trackitem-action{
                body.no-js &{
                    display:none;
                }
            }
            
            .column-trackitem_sources {
            }

            #the-list {

                tr{

                    td{
                        overflow:hidden;
                        input[type='text']{
                            width:100%;
                        }

                        &.column-reorder{
                            .metabox-table-row-draghandle {
                                text-align: center;
                                &:not(.disabled) {
                                    @extend .wpsstm-can-click;
                                }
                                &.disabled{
                                    opacity:0.5;
                                }
                            }
                        }

                    }
                    
                    .metabox-table-cell-toggle{
                        &.metabox-table-cell-display{
                            display:block;
                        }
                        &.metabox-table-cell-edit{
                            display:none;
                        }
                    }

                    .row-actions{
                        span.save{
                            display:none;
                        }
                    }

                    &.metabox-table-row-edit{
                        .metabox-table-cell-toggle{
                            &.metabox-table-cell-display{
                                display:none;
                            }
                            &.metabox-table-cell-edit{
                                display:block;
                            }
                        }

                        .row-actions{
                            span.save{
                                display:inline;
                            }
                            span.edit{
                                display:none;
                            }
                        }

                    }

                }

            }

        }
    }

}

.toggle-table-columns{
    position:relative;
    width:100%;
    table{
        table-layout: initial;
    }
    table.toggle-columns-driver{
        margin: auto;
        padding: 1em 0;
    }
    table.wp-list-table{
        .toggle-column-hidden{
            display:none;
        }
    }
}
