//sources
@import "compass";
@import "wpsstm-shared";

.wpsstm-submit-wrapper{
    text-align:center;
    margin: .5em 0;
}

.wpsstm-track-sources-list{
    padding:0;
    margin:0;
    list-style-type: none;
    display:inline-block;
    


    .wpsstm-source{
        @extend .wpsstm-table-row;
        line-height: 2em;
        position:relative;
        width:100%;
        text-decoration: none;
        border:none;
        padding: 0 .5em;
        .wpsstm-provider-icon{
            width: 2em;
            font-size: 1.2em;;
        }

        .wpsstm-source-title{
            @extend .ellipsis;
        }

        &.wpsstm-bad-source{
            .wpsstm-source-title{
                text-decoration: line-through;
            }
        }
    }
}

.wpsstm-track-sources{
    position:relative;
    .wpsstm-track-sources-list{
        .wpsstm-source:not(.wpsstm-active-source){
            display:none;
        }
    }
    &:hover{
        .wpsstm-track-sources-list{
            .wpsstm-source{
                @extend .wpsstm-table-row;
            }
        }
    }
}

#wpsstm-track-admin-sources{
    form{
        &.loading{
            @extend .wpsstm-loading-el;
        }
    }
    .wpsstm-sources-edit-list{

        .wpsstm-source{

            position:relative;
            margin:0;

            .wpsstm-source-icon{
                text-align:center;
                display:inline-block;
            }

            .wpsstm-source-fields{
                display:inline-block;
                width: calc(100% - 6em)!important; //.wpsstm-source-icon + .wpsstm-source-action
                position:relative;

                .wpsstm-editable-source-url{
                    width:100%;
                }
            }

            .wpsstm-source-action{
                width:2em;
                text-align:center;
                display:inline-block;
                padding-right:2em;
                .wpsstm-source-icon{
                    width:1em;
                    display:inline-block;
                    @extend .wpsstm-can-click;
                    &.wpsstm-source-icon-add{
                        display:none;
                    }
                }
            }
            &:first-of-type{ //blank row
                margin-bottom:2em;
                .wpsstm-source-icon{
                    &.wpsstm-source-icon-delete{
                        display:none;
                    }
                    &.wpsstm-source-icon-add{
                        display:initial;
                    }
                }
            }
            &[data-wpsstm-autosource="1"]{
                @include opacity(.5);
                .wpsstm-source-icon{
                    &.wpsstm-source-icon-delete{
                        display:none;
                    }
                    &.wpsstm-source-icon-add{
                        display:initial;
                    }
                }
            }
        }

    }
}

//metabox
.postbox#wpsstm-track-sources .inside{
    text-align:center;
}