@import "wpsstm-shared";
@import "pure-tree"; //for MBdata

body{
    //hide title input as we set it automatically - but keep the feature sine it outputs the permalink and 'view' link
    &.post-type-wpsstm_artist,&.post-type-wpsstm_release,&.post-type-wpsstm_track{
        #titlewrap{
            label[for=title],input#title{
                display:none;
            }
        }
    }
}

#wpsstm-promo-notice{
    padding: .75em;
    border-bottom:1px solid #DDD;
}

.wp-list-table{
    .mbz-id{
        color:silver;
        font-size:0.8em;
    }
    .mbz-disambiguation{
        font-style: italic;
        font-size:0.9em;
    }
}


#mbid-value,#mbid-do-lookup{
    text-align:center;
}

.postbox{
    &#wpsstm-artist,&#wpsstm-track,&#wpsstm-album,&#wpsstm-mbid{
        background:none;
        border:none;
        box-shadow: none;
        
        > h2{
            display:none;
        }
        > button.handlediv{
            display:none;
        }

    }
    &#wpsstm-mbid{

    }
    
    &#wpsstm_mbdata{
        ul{
            li{
                span{
                    font-weight: bold;
                    &:after{
                        content:" ";
                    }
                }
            }
        }

        
        #wpsstm-metabox-mbdata-actions{
            margin-top:1em;
            position:relative;
            
            text-align:center;
            a{
                margin:.5em auto;
                display:block;
                max-width:75%;
            }
            
            p.submit{
                text-align:center;
                margin: .5em 0;
                padding: 0;
            }
        }
        
    }
    
    &#wpsstm_mb_entries{
        
        //summary

        > label {

        }
        > span{
            font-weight: bold;
        }

        #wpsstm-mb-section-data{
            display:none;
        }
        

        
        //entries
        table.wp-list-table{
            border:none;
            .column-score{
                width:10%;
            }
            #the-list{

            }

            
        }
        
        &.table-mbz-summary{
            table.wp-list-table{
                tfoot{
                    display:none;
                }
            }
        }
        

        
    }
    
}