@import "_wpsstm-shared";

#wpsstm-metabox-importer{
  .wpsstm-wizard-node{
    .wpsstm-wizard-node{
      margin:.5em;
      border:2px solid #DDD;
      padding:.5em;
    }
    &.wpsstm-wizard-node-readonly > .wpsstm-wizard-node-content{
      opacity:.5;
    }

    .wpsstm-wizard-node-handle{
      display:inline-block;
      margin-left:.5em;
    }

    &.wpsstm-wizard-node-active >p .wpsstm-wizard-node-handle-open{
      display:none;
    }
    &:not(.wpsstm-wizard-node-active){
      >p .wpsstm-wizard-node-handle-close,
      .wpsstm-wizard-node{
        display:none;
      }
    }
  }

}

//tabs
.ui-tabs{
    ul.ui-tabs-nav{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li.ui-state-default{
            margin-bottom: 0;
            padding: 10px 15px;
            display: inline-block;
            @extend .wpsstm-can-click;
        }
    }

    .ui-tabs-panel{
        display: none;
        padding: 15px;
        &.current{
            display: inherit;
        }
    }
}

#wpsstm-importer-urls{
    display:none;
}

#wpsstm-importer-services{
    ul{
        margin:0;
        padding:0;
        li{
            width:100px;
            height:100px;
            display:inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            img{
                width:100%;
                height:auto;
            }

        }
    }
}

#wpsstm-frontend-importer-recent{
    ul{
        list-style: none;
        padding:0;
        margin:0;
        li{
            position:relative;
            line-height: 1em;
            line-height:1.5em;
            a{
                display:flex;
                strong{
                    margin-right:.25em;
                }
                > *{
                    @extend .wpsstm-ellipsis;
                }
            }
        }
    }
}
