@import "compass/css3";

.wpsstm-tracklist-table{
    tbody{
        tr{
            &[data-wpsstm-sources=""] a.wpsstm-play-track:not(:hover){
                @include opacity(.25);
            }
            &:not(.active) .wpsstm-play-track{
                .wpsstm-player-icon{
                    @include opacity(.25);
                }

            }

            &:hover .wpsstm-play-track{
                .wpsstm-player-icon{
                        @include opacity(1);
                }
            }

            &.buffering .wpsstm-play-track{
                pointer-events: none;

                .wpsstm-player-icon{
                    display:none;
                }
                .wpsstm-player-icon-buffering{
                    display:inline-block;
                }
            }

            &.playing .wpsstm-play-track{
                .wpsstm-player-icon{
                    display:none;
                }
                .wpsstm-player-icon-pause{
                    display:inline-block;
                }
            }

            &.error .wpsstm-play-track{
                .wpsstm-player-icon{
                    display:none;
                }
                .wpsstm-player-icon-error{
                    display:inline-block;
                }
            }

            &.has-played .wpsstm-play-track{
                color:#00b511;
            }
        }
    }
}

a.wpsstm-play-track{
    text-decoration:none;
    border-bottom:none!important; //twentyfifteen fix

    .wpsstm-player-icon{
        display:none;
        &.wpsstm-player-icon-play{
            display:inline-block;
        }
    }
}

#wpsstm-bottom{
    display:none;
    position:fixed;
    width:100%;
    padding:0;
    bottom: 0;
    z-index: 50;
    min-height:0em;
    background:#222;
    
    .wpsstm-bottom-notice{
        font-size:0.8em;
        margin: 0;
        padding: .5em 1em;
        background-color:#fcf8e3;
        
        a{
            text-decoration: underline;
        }

        &#wpsstm-bottom-notice-redirection{
            display:none;
            cursor: pointer;
            cursor: hand;
        }
        &#wpsstm-bottom-notice-wp-auth{
            display:none;
        }
        &#wpsstm-bottom-notice-lastfm-auth{
            display:none;
        }
    }

    #wpsstm-player-track-actions{
        position: absolute;
        right: 1em;
        top: 0;
        > *{
            padding: 0 .25em;
            font-size:1.5em;
        }
        a{
            @include opacity(0.9);
            font-size:1.25em;
            color:white;
            text-decoration: none;
            border:none!important;
            &:hover{
                @include opacity(1);
            }
        }
    }
    
    #wpsstm-player-sources-wrapper{
        background:#222;
        text-align:center;
        color:white;
        font-size:.8em;
        font-family:sans-serif;
        position:relative;
        
        a{
            color:white;
        }
        
        #wpsstm-player-sources-header{
            font-size:1.4em;
            font-weight: 100;
            line-height:2em;
            text-align:left;
            padding: 0 1em;
            display:none;
            .wpsstm-player-sources-toggle{
                cursor: pointer;
                cursor: hand;
            }
        }
        
        #wpsstm-player-sources{
            padding-top: .5em;
            ul{
                margin:0;
                padding:0;
                line-height: 2em;
                list-style-type: none;
                li{
                    @include opacity(.8);
                    display:none;
                    .wpsstm-trackinfo-title{
                        cursor: pointer;
                        cursor: hand;
                        &:hover{
                           @include opacity(1); 
                        }
                    }

                    &.wpsstm-active-source{
                        @include opacity(1);
                        display:block;
                    }
                    &.wpsstm-bad-source{
                        //text-decoration: line-through;
                        display:none!important;
                    }

                    a.wpsstm-trackinfo-provider-link{
                        margin-left:.5em;
                        font-size:2em;
                    }

                }
            }
        }
        &.expanded{
            #wpsstm-player-sources-header{
                background:#222;
                display:block;
            }
            #wpsstm-player-sources{
                background:#272727;
                ul{
                    li{
                        display:block;
                    }
                }
            }
        }

    }
    
    #wpsstm-player-wrapper{
        background:#222;
        position:relative;
        overflow: auto;
        a{
            color:white;
        }
        
        > * {
            display: block;
            height: 40px;
            float: left;
            line-height:40px;
        }
        .wpsstm-player-nav{
            width:5%;
            text-align:center;
        }
        #wpsstm-player{
            width:80%;
            margin:auto;
        }
    }
}

#wpsstm-player-toggle-scrobble{
    > :nth-child(1){ //loading
        display:none;
    }
    > :nth-child(2){ //disabled
        i{
            @include opacity(.25);
        }
        
        display:inline-block;
    }
    > :nth-child(3){ //enabled
        display:none;
    }

    &.active{
        > :nth-child(2){ //disabled
            display:none;
        }
        > :nth-child(3){ //enabled
            display:inline-block;
        }
    }
    &.loading{
        pointer-events: none;
        > :nth-child(1){ //loading
            display:inline-block;
        }
        > :nth-child(2){ //disabled
            display:none;
        }
        > :nth-child(3){ //enabled
            display:none;
        }
    }
}

.wpsstm-love-unlove-links{
    
    > :nth-child(1){ //loading
        display:none;
    }
    > :nth-child(2){ //love
        display:inline-block;
    }
    > :nth-child(3){ //unlove
        display:none;
    }

    &.wpsstm-is-loved{
        > :nth-child(2){ //love
            display:none;
        }
        > :nth-child(3){ //unlove
            display:inline-block;
        }
    }
    &.loading{
        pointer-events: none;
        > :nth-child(1){ //loading
            display:inline-block;
        }
        > :nth-child(2){ //love
            display:none;
        }
        > :nth-child(3){ //unlove
            display:none;
        }
    }
}