@import "compass";
@import "wpsstm-shared";

[itemprop="track"]{
    
    [itemprop="byArtist"]{
        font-weight: bold;
    }
    [itemprop="inAlbum"]{
        font-size:.8em;
    }

    .trackitem_order{
        .wpsstm-player-icon-buffering{
            display:none;
        }
        span{
            display:initial;
        }
    }
    
    .trackitem_actions{
        .wpsstm-actions-list{
            display:inline;
            padding: 0;
            li{
                padding: 0 .1em;
            }
        }
    }

    .wpsstm-play-track{
        text-decoration:none;
        border-bottom:none!important; //twentyfifteen fix

        .wpsstm-player-icon{
            display:none;
            &.wpsstm-player-icon-play{
                display:inline-block;
            }
        }
    }

    &.buffering{
        .trackitem_order{
            .wpsstm-player-icon-buffering{
                display:inline-block;
            }
            span{
                display:none;
            }
        }
    }
    &.playing .wpsstm-play-track, &.active.buffering .wpsstm-play-track{
        .wpsstm-player-icon{
            display:none;
        }
        .wpsstm-player-icon-pause{
            display:inline-block;
        }
    }

    &.error .wpsstm-play-track{
        .wpsstm-player-icon{
            display:none;
        }
        .wpsstm-player-icon-error{
            display:inline-block;
        }
    }
    
    &.active{
        &:not(.error){
            @include opacity(1);
        }
        
        &.buffering{
            @extend .wpsstm-loading-el;
            @include opacity(.75);
        }
        
        .wpsstm-track-sources-list{
            li{
                &.wpsstm-active-source{
                    font-weight: bold;
                }
            }
        }
        &:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]){
            .wpsstm-track-sources-list{
                li{
                    @extend .wpsstm-can-click;
                }
            }
        }
    }
}

.wpsstm-actions-list{
    .wpsstm-action-toggle-favorite:not(.wpsstm-toggle-favorite-active){
        display:none!important;
    }
}