@import "compass/css3";

div.wpsstm-source{
    
    position:relative;
    padding:.5em;
    margin:0;
    
    .wpsstm-source-icon{
        width:2em;
        text-align:center;
        display:inline-block;
    }
    
    .wpsstm-source-fields{
        display:inline-block;
        width: calc(100% - 6em)!important; //.wpsstm-source-icon + .wpsstm-source-action
        position:relative;

        .wpsstm-source-url{
            width:100%;
        }
    }

    .wpsstm-source-action{
        width:2em;
        text-align:center;
        display:inline-block;
        .wpsstm-source-icon{
            width:1em;
            display:inline-block;
            cursor: pointer;
            cursor: hand;
            &.wpsstm-source-icon-add{
                display:none;
            }
        }
    }
    &:first-of-type{
        .wpsstm-source-icon{
            &.wpsstm-source-icon-delete{
                display:none;
            }
            &.wpsstm-source-icon-add{
                display:initial;
            }
        }
    }
    &[data-wpsstm-source-origin="auto"]{
        .wpsstm-source-icon{
            &.wpsstm-source-icon-delete{
                display:none;
            }
            &.wpsstm-source-icon-add{
                display:initial;
            }
        }
    }
}

.wpsstm-manage-sources-wrapper.loading{
    pointer-events: none;
    @include opacity(.5);
}


.wpsstm-suggest-sources-link{
    display:block;
    text-align:center;
}

.postbox#wpsstm-track-sources{
    .inside{
        
        > p{ //desc
            padding: 0 1em;
            font-style: italic;
        }
    }
}

.postbox#wpsstm-track-sources{ //sources metabox

}

#wpsstm-tracklist{ //tracklist metabox
    td.column-trackitem_sources{

        .metabox-table-cell-display,.metabox-table-cell-edit{
            text-align:center;
        }
        .wpsstm-track-sources-popup{
            display:none;
        }
    }
}


