/*
Popup, modals, etc.
*/

@import "compass";
@import "_wpsstm-tracklists-manager";

html,body{
    /*fixes iframeResizer infinite expansion*/
    height:initial!important;
    min-height:initial!important;
    
    margin:0;
    padding:0;
    background:rgba(255,255,255,.8)!important;
}

body{
    margin:.5em!important;
    background:none!important;
}

.wpsstm-tracklist-manager-iframe{
    form{
        &#wpsstm-new-tracklist{
             margin:2em;
        }
        &#wpsstm-toggle-tracklists{
            margin:1em;
        }
        button[type="submit"]{
            margin: 1em auto;
            display: block;
        }
    }
}