@import "compass";



.wpsstm-tracklist-table {
    position:relative;
    font-family: sans-serif;
    width: 100%;
    margin-bottom:1.5em;

    .tablenav{
        padding:.5em;
        .tablenav-pages{
            line-height:3em;
        }
    }

    table{
        width: 100%;
        display: table;
        border: none;
        background: rgba(255,255,255,0.5);
        margin:0;
        
        .column-trackitem_order{
            width:2em;
            text-align:center;
        }
        
        .column-trackitem_play_bt{
            width:2em;
            text-align:center;
        }
        
        .column-trackitem_image{
            width:2em;
            img{
                max-width:100%;
            }
        }
        
        th,td{
            border:none;
        }
        
        th{
            font-weight: 400;
        }

        thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;
                th{
                    border-bottom: 1px solid #e1e1e1;
                    text-align:center;
                }
        }
        tfoot {
            th {
                border-top: 1px solid #e1e1e1;
            }
        }

	   tbody tr {
            
            @include transition-property(background);
            @include transition-duration(.4s);

            &:nth-child(odd) {
                    background: rgba(249, 249, 249, 0.5);
            }
            &:hover {
                    background: rgba(0,0,0,0.025);
                    td.column-image img{
                        @include opacity(0.8);
                    }
            }

            td{
                &.column-image{
                    width: 50px;
                    padding:0;
                    img {
                        max-width: 100%;
                        @include opacity(0.2);
                        @include transition-property(opacity);
                        @include transition-duration(.4s);
                    }
                }
            }
            &:not(.wpsstm-row-current) .wpsstm-player-icon{
                    @include opacity(.25);
            }
            &:hover{
                .wpsstm-player-icon{
                        @include opacity(1);
                }
            }
	   }
    }
    .single & {
        font-size:0.8em;
    }
 
}