@import "wpsstm-shared";
@import "pure-tree";

body{
    //hide title input as we set it automatically - but keep the feature sine it outputs the permalink and 'view' link
    &.post-type-wpsstm_artist,&.post-type-wpsstm_release,&.post-type-wpsstm_track{
        #titlewrap{
            label[for=title],input#title{
                display:none;
            }
        }
    }
}

input[type="checkbox"].checkbox-status{
    
    &:not(checked) ~ .watch-checkbox {
        display:none;
    }
    
    &:checked ~ .watch-checkbox {
       display: inherit;
    }
}

#wpsstm-promo-notice{
    padding: .75em;
    border-bottom:1px solid #DDD;
}

.wpsstm-fullwidth{
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}



.wp-list-table{
    .mbz-id{
        color:silver;
        font-size:0.8em;
    }
    .mbz-disambiguation{
        font-style: italic;
        font-size:0.9em;
    }
}


#mbid-value,#mbid-do-lookup{
    text-align:center;
}

.postbox{
    &#wpsstm-artist,&#wpsstm-track,&#wpsstm-album,&#wpsstm-mbid{
        background:none;
        border:none;
        box-shadow: none;
        
        > h2{
            display:none;
        }
        > button.handlediv{
            display:none;
        }

    }
    &#wpsstm-mbid{

    }
    
    &#wpsstm_mbdata{
        ul{
            li{
                span{
                    font-weight: bold;
                    &:after{
                        content:" ";
                    }
                }
            }
        }

        
        #wpsstm-metabox-mbdata-actions{
            margin-top:1em;
            position:relative;
            
            text-align:center;
            a{
                margin:.5em auto;
                display:block;
                max-width:75%;
            }
            
            p.submit{
                text-align:center;
                margin: .5em 0;
                padding: 0;
            }
        }
        
    }
    
    &#wpsstm_mb_entries{
        
        //summary

        > label {

        }
        > span{
            font-weight: bold;
        }

        #wpsstm-mb-section-data{
            display:none;
        }
        

        
        //entries
        table.wp-list-table{
            border:none;
            .column-score{
                width:10%;
            }
            #the-list{

            }

            
        }
        
        &.table-mbz-summary{
            table.wp-list-table{
                tfoot{
                    display:none;
                }
            }
        }
        

        
    }
    
}

.wpsstm-pc-bar{
    position: relative;
    display:block;
    background-color:rgba(#CCC, 0.4);
    clear:both;
    width:100%;
    height:1.3em;
    line-height:1.3em;

    .wpsstm-pc-bar-fill{
        display:block;
        height:100%;
        text-align:left;
        position:relative;
        .wpsstm-pc-bar-fill-color{
            width:100%;
            height:100%;
            position: absolute;
            &.wpsstm-pc-bar-fill-yellow{
                background-color:#FFE000;
            }
            &.wpsstm-pc-bar-fill-red{
                background-color:red;
            }
        }

        .wpsstm-pc-bar-text{
            margin:auto;
            display:block;
            text-align:center;
            i.fa{
                padding:0 0.5em;
            }
        }

    }

    &.color-light .wpsstm-pc-bar-text{
        color:white;
    }

    &.offline,&.empty{
        .wpsstm-pc-bar-fill{
            width:100%!important;
        }

        .wpsstm-pc-bar-fill-color{
            display:none;
        }
        .wpsstm-pc-bar-text{
            color:inherit;
            font-size:0.8em;
        }
    }

    &.complete{

    }
    &.incomplete{
        .wpsstm-pc-bar-text{
            text-align:right;
        }
    }

}