@import "compass";
@import "wpsstm-shared";

/*
Thickbox popups
*/

body.wpsstm_track-template-admin,body.wpsstm_tracklist-template-admin{
    header{
        margin: 2em 0;
    }
    //hide default styles - this may have to be adapted to your theme
    #sidebar,#colophon{
        display:none;
    }
    #content{
        width:100%;
        margin:0;
    }
    #main{
        margin:0;
        padding:0;
    }
    #wpadminbar{
        display:none;
    }
    // !hide default styles
    
    .hentry{
        margin:0;
        padding:0;
        #track-popup-tabs{
            > ul{
                list-style: none;
                li{
                    &:not(.ui-state-active){
                        @include opacity(.8);
                    }
                }
            }
        }
    }
    
    //tracklists chooser
    #wpsstm-tracklist-chooser-list{
        #wpsstm-filter-playlists{
            position:relative;
            ul{
                font-size:.8em;
                list-style: none;
                //@include column-count(2);
                li{
                    @extend .wpsstm-ellipsis;
                    padding: 1em;
                    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
                    &.loading{
                        @extend .wpsstm-loading-el;
                    }

                }
            }
        }

        #wpsstm-new-playlist-add{
            display:none;
            margin: 1em;
            text-align: center;

            input[type="submit"]{
            } 
        }

        &.loading{
            @extend .wpsstm-loading-el;
        }
    }
    
    //submit bt
    .wpsstm-submit-wrapper{
        text-align:center;
        margin: .5em 0;
    }
    
}

#TB_window{
    font-family:sans-serif;
    #TB_ajaxWindowTitle{
        
    }
    #TB_ajaxContent{
        margin: 0;
        padding: 1em;
    }
}

ul.wpsstm-track-loved-by-list,ul.wpsstm-track-parents{
    @extend .comma-list;
}

#wpsstm-track-admin-sources{
    form{
        &.loading{
            @extend .wpsstm-loading-el;
        }
    }
    .wpsstm-sources-edit-list{

        .wpsstm-source{

            position:relative;
            margin:0;

            .wpsstm-source-icon{
                text-align:center;
                display:inline;
            }

            .wpsstm-source-fields{
                display:inline-block;
                width: calc(100% - 6em)!important; //.wpsstm-source-icon + .wpsstm-source-action
                position:relative;

                .wpsstm-editable-source-url{
                    width:100%;
                }
            }

            .wpsstm-source-action{
                width:2em;
                text-align:center;
                display:inline-block;
                padding-right:2em;
                .wpsstm-source-icon{
                    width:1em;
                    display:inline-block;
                    @extend .wpsstm-can-click;
                    &.wpsstm-source-icon-add{
                        display:none;
                    }
                }
            }
            &:first-of-type{ //blank row
                margin-bottom:2em;
                .wpsstm-source-icon{
                    &.wpsstm-source-icon-delete{
                        display:none;
                    }
                    &.wpsstm-source-icon-add{
                        display:initial;
                    }
                }
            }
            &[data-wpsstm-autosource="1"]{
                @include opacity(.5);
                .wpsstm-source-icon{
                    &.wpsstm-source-icon-delete{
                        display:none;
                    }
                    &.wpsstm-source-icon-add{
                        display:initial;
                    }
                }
            }
        }

    }
}