@import "compass/css3";

div.wpsstm-source{
    
    position:relative;
    padding:.5em;
    margin:0;
    
    .wpsstm-source-inputs{
        display:inline-block;
        width: calc(100% - 3em)!important; //.wpsstm-source-action
        position:relative;
        input{
            width:49%;
        }
    }

    .wpsstm-source-action{
        width:2em;
        text-align:center;
        display:inline-block;
        .wpsstm-source-icon{
            width:1em;
            display:inline-block;
            cursor: pointer;
            cursor: hand;
            &.wpsstm-source-icon-add{
                display:none;
            }
        }
    }
    &.wpsstm-source-blank{
        .wpsstm-source-icon{
            &.wpsstm-source-icon-delete{
                display:none;
            }
            &.wpsstm-source-icon-add{
                display:initial;
            }
        }
    }
    &.wpsstm-source-auto{
        .wpsstm-source-icon{
            &.wpsstm-source-icon-delete{
                display:none;
            }
            &.wpsstm-source-icon-add{
                display:initial;
            }
        }
    }
}

.postbox#wpsstm-track-sources{
    .inside{
        
        > p{ //desc
            padding: 0 1em;
            font-style: italic;
        }
        
        margin:0;
        padding:0;
        font-size: 1.5em;
        p.wpsstm-source{
            padding: .5em 2em;
            input{
                height:3em;
            }
            
            &.wpsstm-source-blank{
                background-color:#F1F1F1;

            }
            
            
        }
    }
}

#wpsstm-tracklist{
    td.column-trackitem_sources{
        margin:0;
        padding:0;
        .metabox-table-cell-display{
            text-align:center;
        }
    }
    p.wpsstm-source{
        &.wpsstm-source-blank{
            border-bottom:1px solid #DDD;
            &.wpsstm-source-icon-add{
                display:inline;
            }
            &.wpsstm-source-icon-delete{
                display:none;
            }
        }
    }
}


