@import "compass";
@import "wpsstm-shared";

/*
Thickbox popups
*/

body.wpsstm-popup{
    header{
        margin: 2em 0;
    }
    //hide default styles - this may have to be adapted to your theme
    #sidebar,#colophon{
        display:none;
    }
    #content{
        width:100%;
        margin:0;
    }
    #main{
        margin:0;
        padding:0;
    }
    #wpadminbar{
        display:none;
    }
    // !hide default styles
    
    .hentry{
        margin:0;
        padding:0;
        #track-popup-tabs{
            > ul{
                list-style: none;
                li{
                    &:not(.ui-state-active){
                        @include opacity(.8);
                    }
                }
            }
        }
    }
    
    //submit bt
    .wpsstm-submit-wrapper{
        text-align:center;
        margin: .5em 0;
    }
    
}

//tracklists chooser
#wpsstm-tracklist-chooser-list{
    #wpsstm-filter-playlists{
        position:relative;
        ul{
            font-size:.8em;
            list-style: none;
            //@include column-count(2);
            li{
                @extend .wpsstm-ellipsis;
                padding: 1em;
                border-bottom: 1px solid rgba(51, 51, 51, 0.1);
                &.loading{
                    @extend .wpsstm-loading-el;
                }

            }
        }
    }

    #wpsstm-new-playlist-add{
        display:none;
        margin: 1em;
        text-align: center;

        input[type="submit"]{
        } 
    }

    &.loading{
        @extend .wpsstm-loading-el;
    }
}

#TB_window{
    font-family:sans-serif;
    #TB_ajaxWindowTitle{
        
    }
    #TB_ajaxContent{
        margin: 0;
        padding: 1em;
    }
}

.wpsstm-popup{
    .wpsstm-actions-list{
        border-bottom: 1px solid #F7F7F7;
        padding-bottom: 1em;
        text-align: center;
    }
}

#wpsstm-track-admin-edit{
    
}

ul.wpsstm-track-loved-by-list,ul.wpsstm-track-parents{
    @extend .comma-list;
}

#wpsstm-track-admin-sources{
    form{
        &.loading{
            @extend .wpsstm-loading-el;
        }
    }
}