/* line 1, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper {
  position: relative;
}
/* line 3, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper .inside {
  overflow: auto;
}
/* line 6, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper input.fullwidth {
  width: 100%;
}
/* line 12, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes {
  width: 100%;
}
/* line 14, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes tr:first-child, #wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes td:first-child {
  width: 70%;
}
/* line 19, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw, #wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 31, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 35, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
/* line 38, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li {
  display: inline-block;
}
/* line 40, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 47, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector input[type="text"] {
  min-width: 50%;
}
/* line 50, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row {
  display: none;
}
/* line 52, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row.active {
  display: table;
}
/* line 55, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 61, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field:before {
  text-align: center;
  width: 20px;
  content: '~';
}
/* line 66, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field:after {
  text-align: center;
  width: 20px;
  content: '~m';
}
/* line 71, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field input {
  width: 90%;
  color: #999;
}
/* line 80, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content#wpsstm-wizard-step-tracks-content .wizard-selector input[type="text"] {
  min-width: 100%;
}
/* line 87, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .regex-link {
  text-decoration: none;
}
/* line 91, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 96, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 100, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw code {
  background: none;
}
/* line 104, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .ui-tabs-panel > h3:first-of-type {
  display: none;
}
