/* line 3, ../scss/_shared.scss */
.wpsstm-icon-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 8, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length {
  display: block;
  text-align: center;
}
/* line 12, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length button {
  cursor: pointer;
  cursor: hand;
  font-size: 1.5em;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 22, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length button:hover {
  background: none;
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 31, ../scss/_shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
}
/* line 36, ../scss/_shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 41, ../scss/_shared.scss */
.wpsstm-notice.active {
  display: block;
}
