@charset "UTF-8";
@-moz-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes highlight {
  0% {
    background-color: rgba(224, 255, 226, 0);
  }
  25% {
    background-color: #e0ffe2;
  }
  100% {
    background-color: rgba(224, 255, 226, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* line 58, ../scss/wpsstm.scss */
.wpsstm-no-underline, ul.wpsstm-actions-list .wpsstm-action a, a.toggle-children-link, .toggle-children-link a, .wpsstm-tracklist .tracklist-header .wpsstm-live-tracklist-link, [itemprop="track"] .wpsstm-track-play-bt a, .wpsstm-track-sources-list a {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 63, ../scss/wpsstm.scss */
.wpsstm-can-click, .wpsstm-icon-input [type="submit"], .toggle-children-link, [itemprop="track"] .wpsstm-track-position, [data-wpsstm-source-idx] label, .wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-title {
  cursor: pointer;
  cursor: hand;
}

/* line 68, ../scss/wpsstm.scss */
.wpsstm-freeze, ul.wpsstm-actions-list .wpsstm-action a.action-loading, input.input-loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 74, ../scss/wpsstm.scss */
.wpsstm-icon:before, .wpsstm-loading-icon:before, ul.wpsstm-actions-list .wpsstm-action a.action-loading:before, .wpsstm-iframe-container .wpsstm-loading-notice span:before, .wpsstm-tracklist.tracklist-loading .wpsstm-tracklist-icon:before, [itemprop="track"].track-loading .wpsstm-track-icon:before, .wpsstm-track-sources-list [data-wpsstm-source-idx].source-loading .wpsstm-source-action-provider a:before, .wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading a:before, .wpsstm-dialog .wpsstm-dialog-loader:before, ul.wpsstm-actions-list .wpsstm-action a:before, ul.wpsstm-actions-list .wpsstm-action.wpsstm-action-icon a:before, #tracklists-manager > li > *.wpsstm-tracklist-actions ul.wpsstm-actions-list li.wpsstm-action a:before, ul.wpsstm-actions-list [itemprop="track"] .wpsstm-track-actions li.wpsstm-action a:before, [itemprop="track"] .wpsstm-track-actions ul.wpsstm-actions-list li.wpsstm-action a:before, .wpsstm-tracklist.wpsstm-live-tracklist .wpsstm-tracklist-title:before, .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title:before, .wpsstm-dialog .ui-dialog-content #wpsstm-dialog-auth-notice:before, .wpsstm-dialog .ui-dialog-content #wpsstm-dialog-lastfm-auth-notice:before, .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'FontAwesome';
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
}

/* line 86, ../scss/wpsstm.scss */
.wpsstm-loading-icon:before, ul.wpsstm-actions-list .wpsstm-action a.action-loading:before, .wpsstm-iframe-container .wpsstm-loading-notice span:before, .wpsstm-tracklist.tracklist-loading .wpsstm-tracklist-icon:before, [itemprop="track"].track-loading .wpsstm-track-icon:before, .wpsstm-track-sources-list [data-wpsstm-source-idx].source-loading .wpsstm-source-action-provider a:before, .wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading a:before, .wpsstm-dialog .wpsstm-dialog-loader:before {
  animation: spin 2s linear infinite;
  content: "" !important;
}

/* line 92, ../scss/wpsstm.scss */
ul.wpsstm-actions-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2.2em;
}
/* line 98, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action {
  margin: auto;
  text-align: center;
  display: inline-block;
}
/* line 109, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action a.action-error:before {
  content: "\f071";
}
/* line 113, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action:hover {
  border-color: #F7F7F7;
  background: rgba(0, 0, 0, 0.025);
}
/* line 117, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action a:before {
  margin-right: .5em;
}
/* line 124, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action.wpsstm-action-icon a:before, #tracklists-manager > li > *.wpsstm-tracklist-actions ul.wpsstm-actions-list li.wpsstm-action a:before, ul.wpsstm-actions-list [itemprop="track"] .wpsstm-track-actions li.wpsstm-action a:before, [itemprop="track"] .wpsstm-track-actions ul.wpsstm-actions-list li.wpsstm-action a:before {
  margin-right: 0;
}
/* line 127, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action.wpsstm-action-icon a > span, #tracklists-manager > li > *.wpsstm-tracklist-actions ul.wpsstm-actions-list li.wpsstm-action a > span, ul.wpsstm-actions-list [itemprop="track"] .wpsstm-track-actions li.wpsstm-action a > span, [itemprop="track"] .wpsstm-track-actions ul.wpsstm-actions-list li.wpsstm-action a > span {
  display: none;
}
/* line 133, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action.action-favorite a:before {
  content: "\f08a";
}
/* line 136, ../scss/wpsstm.scss */
ul.wpsstm-actions-list .wpsstm-action.action-unfavorite a:before {
  content: "\f004";
}

/* line 143, ../scss/wpsstm.scss */
.wpsstm-ellipsis, #tracklists-manager > li > *.wpsstm-tracklist-title a, [itemprop="track"], [itemprop="track"] .wpsstm-track-info > *, .wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-title, #wpsstm-frontend-wizard-recent > ul li a > * {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 148, ../scss/wpsstm.scss */
input.input-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 153, ../scss/wpsstm.scss */
input.wpsstm-fullwidth {
  width: 100%;
}

/* line 158, ../scss/wpsstm.scss */
.wpsstm-icon-input {
  position: relative;
  margin: 0.5em;
}
/* line 161, ../scss/wpsstm.scss */
.wpsstm-icon-input input {
  padding: 0.5em;
}
/* line 163, ../scss/wpsstm.scss */
.wpsstm-icon-input input[type="text"] {
  padding-right: 4em;
}
/* line 168, ../scss/wpsstm.scss */
.wpsstm-icon-input [type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
/* line 174, ../scss/wpsstm.scss */
.wpsstm-icon-input [type="submit"].wpsstm-icon-button {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2em;
}

/* line 183, ../scss/wpsstm.scss */
.wpsstm-tracklist-notices {
  position: relative;
  margin: auto;
  padding: .5em 0;
}
/* line 188, ../scss/wpsstm.scss */
.wpsstm-tracklist-notices #wpsstm-notice-empty-tracklist {
  background: none;
  opacity: 1;
  font-size: 1em;
}

/* line 196, ../scss/wpsstm.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
  margin: .5em 0;
}
/* line 203, ../scss/wpsstm.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 208, ../scss/wpsstm.scss */
.wpsstm-notice.active {
  display: block;
}
/* line 212, ../scss/wpsstm.scss */
.wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}

/* line 220, ../scss/wpsstm.scss */
ul.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list ul.wpsstm-wizard-child-service-list {
  list-style: none;
  display: inline;
}
/* line 223, ../scss/wpsstm.scss */
ul.comma-list > li, ul.wpsstm-track-loved-by-list > li, ul.wpsstm-track-parents > li, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list > li, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list ul.wpsstm-wizard-child-service-list > li {
  display: inline;
}
/* line 225, ../scss/wpsstm.scss */
ul.comma-list > li:not(:last-child):after, ul.wpsstm-track-loved-by-list > li:not(:last-child):after, ul.wpsstm-track-parents > li:not(:last-child):after, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list > li:not(:last-child):after, #wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list ul.wpsstm-wizard-child-service-list > li:not(:last-child):after {
  content: ", ";
}
/* line 230, ../scss/wpsstm.scss */
ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 249, ../scss/wpsstm.scss */
ul.ui-autocomplete li.ui-menu-item {
  padding: 0 .5em;
  line-height: 2em;
  font-size: .8em;
}
/* line 253, ../scss/wpsstm.scss */
ul.ui-autocomplete li.ui-menu-item.ui-state-focus {
  background: #F7F7F7;
}

/* line 268, ../scss/wpsstm.scss */
.wpsstm-tracks-list > .toggle-children-link {
  text-align: center;
  padding: .5em;
  font-size: 1.2em;
}

/* line 274, ../scss/wpsstm.scss */
.input-group {
  position: relative;
  display: table;
  border: 1px solid #CCC;
  padding: .5em;
  margin: .5em 0;
  border-collapse: separate;
}
/* line 281, ../scss/wpsstm.scss */
.input-group .input-group-icon, .input-group .input-group-field {
  display: table-cell;
}
/* line 284, ../scss/wpsstm.scss */
.input-group .input-group-field {
  background: transparent;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  line-height: 40px;
  padding: 0 10px;
  border: none;
  box-shadow: none;
}
/* line 295, ../scss/wpsstm.scss */
.input-group .input-group-field:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* line 301, ../scss/wpsstm.scss */
.input-group .input-group-icon {
  padding: 0 .5em;
  font-size: 1em;
  color: #444;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}
/* line 312, ../scss/wpsstm.scss */
.input-group input, .input-group button {
  background: transparent;
  border: none;
  color: #444;
}
/* line 316, ../scss/wpsstm.scss */
.input-group input:hover, .input-group button:hover {
  background: transparent;
}
/* line 320, ../scss/wpsstm.scss */
.input-group:hover, .input-group:focus-within {
  background: rgba(0, 0, 0, 0.01);
}
/* line 323, ../scss/wpsstm.scss */
.input-group:focus-within {
  outline: medium;
}

/* line 328, ../scss/wpsstm.scss */
.wpsstm-iframe-container {
  width: 100%;
}
/* line 331, ../scss/wpsstm.scss */
.wpsstm-iframe-container .wpsstm-loading-notice {
  display: none;
  position: relative;
  text-align: center;
}
/* line 335, ../scss/wpsstm.scss */
.wpsstm-iframe-container .wpsstm-loading-notice span {
  display: inline-block;
  padding: .5em 0;
  -moz-animation: opacityPulse 2s infinite ease-out;
  -webkit-animation: opacityPulse 2s infinite ease-out;
  animation: opacityPulse 2s infinite ease-out;
}
/* line 344, ../scss/wpsstm.scss */
.wpsstm-iframe-container.wpsstm-iframe-loading .wpsstm-loading-notice {
  display: inherit;
}
/* line 347, ../scss/wpsstm.scss */
.wpsstm-iframe-container.wpsstm-iframe-loading iframe {
  display: none;
}
/* line 352, ../scss/wpsstm.scss */
.wpsstm-iframe-container iframe {
  width: 100%;
  box-sizing: content-box;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 3, ../scss/_wpsstm-tracklists.scss */
ul.wpsstm-tracklist-actions {
  margin: 1em 0;
}
/* line 5, ../scss/_wpsstm-tracklists.scss */
ul.wpsstm-tracklist-actions .wpsstm-action {
  padding: .25em .5em;
  font-size: .8em;
  border: 1px solid #F7F7F7;
  line-height: 1.8em;
}

/* line 15, ../scss/_wpsstm-tracklists.scss */
.tracklist-list .tracklist-header, .wp-list-table .column-tracklist .wpsstm-tracklist .tracklist-header {
  display: none !important;
}

/* line 20, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist {
  font-family: sans-serif;
}
/* line 22, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .wpsstm-tracks-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
/* line 29, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .wpsstm-empty-tracks-list {
  padding: .5em;
  text-align: center;
  margin: .5em 0;
}
/* line 36, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-post-tracklist [itemprop="track"].track-active {
  background: rgba(252, 248, 227, 0.25);
}
/* line 42, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.tracklist-loading .wpsstm-tracklist-action-refresh, .wpsstm-tracklist:not(.tracklist-expired) .wpsstm-tracklist-action-refresh {
  pointer-events: none;
}
/* line 47, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-header {
  border-bottom: 1px solid #F7F7F7;
  padding: .25em;
}
/* line 51, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-header .wpsstm-tracklist-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
}
/* line 55, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-header .wpsstm-live-tracklist-link {
  display: block;
  margin: .5em 0;
}
/* line 61, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-header .wpsstm-tracklist-refresh-time {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 69, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-live-tracklist .wpsstm-tracklist-title:before {
  content: "\f09e";
}
/* line 81, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.tracklist-playing) .wpsstm-tracklist-icon:before, .wpsstm-tracklist.tracklist-pause .wpsstm-tracklist-icon:before {
  content: "\f04b";
}
/* line 85, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.tracklist-playing .wpsstm-tracklist-icon:before {
  content: "\f04c";
}
/* line 89, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.tracklist-error .wpsstm-tracklist-icon:before {
  content: "\f071";
}
/* line 94, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.tracklist-expired) .wpsstm-tracklist-action-refresh {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 99, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist form.wpsstm-new-subtrack {
  margin-top: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}
/* line 105, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist form.wpsstm-new-subtrack > * {
  margin: 0 .5em;
}
/* line 109, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist form.wpsstm-new-subtrack.wpsstm-new-subtrack-simple > *:not(button) {
  display: none;
}
/* line 114, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist form.wpsstm-new-subtrack:not(.wpsstm-new-subtrack-simple) button span {
  display: none;
}

/* line 123, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions {
  display: block;
  margin: 1em;
  list-style: none;
  line-height: 2.8em;
}
/* line 130, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-refresh a:before {
  content: "\f021";
}
/* line 133, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-share a:before {
  content: "\f1e0";
}
/* line 136, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-export a:before {
  content: "\f019";
}
/* line 141, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-new-subtrack a:before {
  content: "\f055";
}
/* line 147, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-make-live a:before, .wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-make-static a:before {
  content: "\f09e";
}
/* line 151, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-make-live.wpsstm-tracklist-action-make-live a:before, .wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-make-static.wpsstm-tracklist-action-make-live a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 156, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-edit-backend a:before {
  content: "\f084";
}
/* line 159, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-trash a:before {
  content: "\f1f8";
}

/* line 167, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: -webkit-flex;
  display: flex;
  height: 1em;
  padding: 1em 0;
}
/* line 172, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li > * {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  align-items: center;
  padding: 0 .25em;
  box-sizing: border-box;
  max-width: 50%;
}
/* line 184, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li > *.wpsstm-tracklist-title .wpsstm-tracklist-post-state.wpsstm-tracklist-post-state-publish {
  display: none;
}
/* line 189, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li > *.wpsstm-tracklist-actions {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  text-align: right;
  visibility: hidden;
}
/* line 195, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li > *.wpsstm-tracklist-actions ul {
  display: inline;
}
/* line 197, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li > *.wpsstm-tracklist-actions ul li {
  display: inline;
}
/* line 205, ../scss/_wpsstm-tracklists.scss */
#tracklists-manager > li:hover .wpsstm-tracklist-actions {
  visibility: visible;
}

/* line 4, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 3em;
  font-size: .8em;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  list-style: none;
}
/* line 15, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 19, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-row > * {
  vertical-align: middle;
  padding: 0 .25em;
  box-sizing: border-box;
  text-align: center;
}
/* line 29, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-pre {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 37, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-actions {
  display: none;
  margin-left: auto;
}
/* line 40, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-actions li.wpsstm-action {
  display: inline;
  padding: 0 .1em;
}
/* line 53, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-image {
  width: 2em;
  height: 2em;
  background: #DDD;
  padding: 0;
  text-align: center;
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
}
/* line 62, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-image img {
  height: auto;
  width: auto;
}
/* line 68, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-info {
  display: -webkit-flex;
  display: flex;
}
/* line 70, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-info > * {
  text-align: left;
  margin-right: .5em;
}
/* line 74, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-info > *[itemprop="byArtist"] {
  font-weight: bold;
}
/* line 78, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-info > *[itemprop="name"]:before {
  content: "—";
  margin-right: .5em;
}
/* line 83, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-info > *[itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 91, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-position .wpsstm-player-icon-loading {
  display: none;
}
/* line 94, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-position span {
  display: initial;
}
/* line 100, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-actions ul, [itemprop="track"] .wpsstm-track-sources ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 107, ../scss/_wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-unique-value {
  display: none !important;
}
/* line 114, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:not(.track-playing) .wpsstm-track-icon:before {
  content: "\f04b";
}
/* line 118, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].track-playing .wpsstm-track-icon:before, [itemprop="track"] .track-pause .wpsstm-track-icon:before {
  content: "\f04c";
}
/* line 122, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].track-error .wpsstm-track-icon:before {
  content: "\f071";
}
/* line 126, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].wpsstm-invalid-track {
  background: rgba(255, 0, 0, 0.1);
}
/* line 130, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:hover {
  background: rgba(0, 0, 0, 0.02);
}
/* line 132, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:hover .wpsstm-track-actions {
  display: inherit;
}
/* line 137, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 142, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:hover ul.wpsstm-track-actions, [itemprop="track"].track-active ul.wpsstm-track-actions {
  display: inherit;
}
/* line 147, ../scss/_wpsstm-tracks.scss */
[itemprop="track"][data-wpsstm-sources-count="0"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 149, ../scss/_wpsstm-tracks.scss */
[itemprop="track"][data-wpsstm-sources-count="0"] .wpsstm-track-sources {
  display: none !important;
}
/* line 154, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:not(.track-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 158, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].track-has-played, [itemprop="track"]:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 162, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].track-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 169, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-actions > * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 171, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-actions > *:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 178, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action a span {
  display: none;
}
/* line 183, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-share a:before {
  content: "\f1e0";
}
/* line 186, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-trash a:before {
  content: "\f1f8";
}
/* line 189, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-unlink a:before {
  content: "\f127";
}
/* line 192, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-sources a:before {
  content: "\f0c2";
}
/* line 195, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-move a:before {
  content: "\f07d";
}
/* line 198, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-playlists a:before {
  content: "\f03a";
}
/* line 201, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-edit a:before {
  content: "\f040";
}
/* line 204, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-edit-backend a:before {
  content: "\f084";
}
/* line 207, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-about a:before {
  content: "\f05a";
}
/* line 210, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-favorite a:before {
  content: "\f08a";
}
/* line 215, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-sources a .wpsstm-sources-count {
  display: inherit;
}
/* line 218, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-sources a:before {
  content: "\f078";
}
/* line 221, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-sources a.active:before {
  content: "\f077";
}
/* line 225, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-sources .wpsstm-sources-count {
  font-weight: bold;
  font-size: .8em;
}

/* line 239, ../scss/_wpsstm-tracks.scss */
#wpsstm-track-tracklists #wpsstm-new-playlist-add {
  display: none;
}

/* line 1, ../scss/_wpsstm-sources.scss */
[data-wpsstm-source-idx] {
  display: -webkit-flex;
  display: flex;
}
/* line 6, ../scss/_wpsstm-sources.scss */
[data-wpsstm-source-idx] .wpsstm-source-actions {
  margin-left: .5em;
}
/* line 8, ../scss/_wpsstm-sources.scss */
[data-wpsstm-source-idx] .wpsstm-source-actions > * {
  display: inline-block;
}

/* line 14, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list {
  font-size: .8em;
  position: relative;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -moz-transition-property: margin-bottom;
  -o-transition-property: margin-bottom;
  -webkit-transition-property: margin-bottom;
  transition-property: margin-bottom;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 21, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list.active {
  margin-bottom: 0.5em !important;
}
/* line 25, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list.active [data-wpsstm-source-idx] .wpsstm-source-actions .wpsstm-action {
  display: inline-block;
}
/* line 36, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] {
  position: relative;
  padding: 0 .75em;
  box-sizing: border-box;
}
/* line 44, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions {
  padding-right: .5em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 51, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions .wpsstm-source-action a:before {
  margin-right: 0;
}
/* line 54, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions .wpsstm-source-action a > span {
  display: none;
}
/* line 58, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions .wpsstm-source-action.wpsstm-source-action-trash a:before {
  content: "\f1f8";
}
/* line 61, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions .wpsstm-source-action.wpsstm-source-action-move a:before {
  content: "\f07d";
}
/* line 64, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] > *.wpsstm-source-actions .wpsstm-source-action.wpsstm-source-action-edit-backend a:before {
  content: "\f084";
}
/* line 77, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx].source-error .wpsstm-source-icon:before {
  content: "\f071";
}
/* line 80, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx].source-error .wpsstm-source-icon label {
  text-decoration: line-through;
}
/* line 84, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx].source-active {
  display: -webkit-flex;
  display: flex;
  font-weight: bold;
}
/* line 93, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-action-provider a:before {
  content: "\f0c1";
}
/* line 97, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx][data-wpsstm-source-type="video/soundcloud"] .wpsstm-source-action-provider a:before {
  content: "\f1be";
}
/* line 100, ../scss/_wpsstm-sources.scss */
.wpsstm-track-sources-list [data-wpsstm-source-idx][data-wpsstm-source-type="video/youtube"] .wpsstm-source-action-provider a:before {
  content: "\f167";
}

/* line 115, ../scss/_wpsstm-sources.scss */
[itemprop="track"] .wpsstm-track-sources-list:not(.active) {
  display: none;
}
/* line 120, ../scss/_wpsstm-sources.scss */
[itemprop="track"] .wpsstm-source-actions > *:not(.wpsstm-source-action-provider) {
  display: none;
}

/* line 6, ../scss/_wpsstm-player.scss */
.wpsstm-player {
  display: none;
  background: #222;
  color: #FFF;
}
/* line 8, ../scss/_wpsstm-player.scss */
.wpsstm-player#wpsstm-bottom-player {
  position: fixed;
  width: 100%;
  padding: 0;
  bottom: 0;
  min-height: 0em;
  z-index: 50;
}
/* line 20, ../scss/_wpsstm-player.scss */
.wpsstm-player a {
  color: #FFF;
}
/* line 24, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  display: flex;
}
/* line 30, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row > * {
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 39, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions {
  margin-right: .5em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
/* line 46, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action a span {
  display: none;
}
/* line 51, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 53, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler a:before {
  content: "\f202";
}
/* line 59, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.scrobbler-error a:before {
  content: "\f071";
}
/* line 62, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 70, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row #wpsstm-audio-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 74, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-extra {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 0 .5em;
}
/* line 78, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .wpsstm-player-extra:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 83, ../scss/_wpsstm-player.scss */
.wpsstm-player .player-row .mejs-container {
  width: 100% !important;
}

/* line 91, ../scss/_wpsstm-player.scss */
:not(#wpsstm-player-track-container) .wpsstm-tracklist.tracklist-template-table {
  border: 1px solid #F7F7F7;
  padding: .5em 1em;
}
/* line 97, ../scss/_wpsstm-player.scss */
:not(#wpsstm-player-track-container) .wpsstm-tracklist.tracklist-template-table [itemprop="track"] .wpsstm-track-sources {
  display: none;
}

/* line 104, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track {
  display: block !important;
}
/* line 106, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track .wpsstm-track-actions {
  margin-left: inherit;
}
/* line 109, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track .wpsstm-track-sources {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 111, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track .wpsstm-track-sources [data-wpsstm-source-idx] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 113, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track .wpsstm-track-sources [data-wpsstm-source-idx].source-playing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 116, ../scss/_wpsstm-player.scss */
.wpsstm-player-tracklist .wpsstm-track .wpsstm-track-sources [data-wpsstm-source-idx]:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 3, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper {
  position: relative;
}
/* line 6, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw, #wizard-wrapper pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 18, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 22, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .wpsstm-wizard-selector-toggle-advanced {
  text-decoration: none;
}
/* line 26, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 31, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 35, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw code {
  background: none;
}
/* line 39, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .ui-tabs-panel > h3:first-of-type {
  display: none;
}
/* line 43, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets {
  list-style: none;
  font-size: .75em;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
/* line 50, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget {
  width: calc(33% - 1em);
  margin: .5em;
  box-sizing: border-box;
  padding: 1em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}
/* line 58, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services {
  width: calc(100% - 1em);
}
/* line 62, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list ul.wpsstm-wizard-child-service-list {
  font-size: .8em;
  margin: 0;
  padding: 0;
}
/* line 66, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget#wpsstm-wizard-widget-services ul#wpsstm-wizard-services-list ul.wpsstm-wizard-child-service-list:before {
  content: ":\00a0";
}
/* line 73, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget h3 {
  margin-top: 0;
}
/* line 76, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget ul {
  list-style: none;
}
/* line 79, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget input[type=text] {
  font-size: 1em;
  text-align: center;
  background-color: white;
}
/* line 86, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-widgets .wpsstm-wizard-widget:not(.wpsstm-wizard-widget-success) a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 96, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}

/* line 101, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
/* line 104, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header {
  clear: both;
  overflow: auto;
}
/* line 107, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header li {
  display: inline-block;
}
/* line 109, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 119, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 50%;
}
/* line 122, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced {
  display: none;
}
/* line 124, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced.active {
  display: block;
}
/* line 127, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc {
  padding: 1em;
  font-style: italic;
}
/* line 130, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc code {
  font-style: normal;
}
/* line 135, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 141, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:before {
  text-align: center;
  width: 20px;
  content: '~';
}
/* line 146, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:after {
  text-align: center;
  width: 20px;
  content: '~m';
}
/* line 151, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex input {
  width: 90%;
  color: #999;
}
/* line 161, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content#wpsstm-wizard-step-tracks-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 100%;
}

/* line 169, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard-recent {
  font-size: .8em;
}
/* line 171, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard-recent > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 175, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li {
  position: relative;
  line-height: 1em;
  line-height: 1.5em;
}
/* line 179, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li a {
  display: -webkit-flex;
  display: flex;
}
/* line 181, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li a strong {
  margin-right: .25em;
}

/*
Popup, modals, etc.
*/
/* line 7, ../scss/_wpsstm-popups.scss */
body.wpsstm-iframe {
  margin: 0.5em !important;
  background: rgba(255, 255, 255, 0.8);
}
/* line 11, ../scss/_wpsstm-popups.scss */
body.wpsstm-iframe.wpsstm-tracklist-iframe, body.wpsstm-iframe.wpsstm-track-iframe {
  margin: 0.5em !important;
}

/* line 17, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog {
  z-index: 11;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #F7F7F7;
  position: relative;
}
/* line 28, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog button.ui-dialog-titlebar-close {
  background: none;
  color: black;
}
/* line 33, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content {
  display: -webkit-flex !important;
  display: flex !important;
}
/* line 35, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content #wpsstm-popup-iframe {
  background-color: white;
}
/* line 38, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content .wpsstm-dialog-loader {
  font-size: 3em;
}
/* line 43, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content > * {
  margin: auto;
}
/* line 48, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content #wpsstm-dialog-auth-notice:before {
  content: "\f19a";
  font-size: 2em;
  margin-right: .25em;
}
/* line 56, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content #wpsstm-dialog-lastfm-auth-notice:before {
  content: "\f202";
  font-size: 2em;
  margin-right: .25em;
}
/* line 62, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content .wpsstm-dialog-loader {
  display: none;
}
/* line 65, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-content #wpsstm-popup-iframe {
  width: 100%;
  height: 100%;
}
/* line 75, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog.dialog-loading .ui-dialog-content > * {
  display: none;
}
/* line 78, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog.dialog-loading .ui-dialog-content .wpsstm-dialog-loader {
  display: inherit;
}
/* line 85, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 91, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before {
  content: "\f00d";
}
/* line 95, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
/* line 101, ../scss/_wpsstm-popups.scss */
.wpsstm-dialog iframe {
  width: 100%;
  height: 100%;
}

/* line 4, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) {
  padding-left: .5em;
}
/* line 7, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}
/* line 13, ../scss/_pure-tree.scss */
.pure-tree li {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}
/* line 16, ../scss/_pure-tree.scss */
.pure-tree li > label {
  line-height: 1em;
  display: inline;
  padding-right: .5em;
}
/* line 21, ../scss/_pure-tree.scss */
.pure-tree li.checkbox-tree-parent > label:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f114";
  margin-right: .25em;
}
/* line 26, ../scss/_pure-tree.scss */
.pure-tree li label {
  cursor: pointer;
  color: #717780;
}
/* line 33, ../scss/_pure-tree.scss */
.pure-tree li label:hover {
  color: #434a58;
  border-bottom-color: #434a58;
}
/* line 43, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a {
  padding: 1.500em 1.125em 0.750em 0;
  display: block;
  border-radius: .2em;
  color: #717780;
  text-decoration: none;
}
/* line 50, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a:hover {
  color: #434a58;
}
/* line 56, ../scss/_pure-tree.scss */
.pure-tree.nested {
  padding-left: 1.7em;
}
/* line 60, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"] {
  display: none;
}
/* line 63, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked + label:before {
  content: "\f115";
}
/* line 66, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked ~ ul > li {
  height: auto;
}

/* line 5, ../scss/_wpsstm-backend.scss */
#wpsstm-promo-notice {
  padding: .75em;
  border-bottom: 1px solid #DDD;
}

/* line 10, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 19, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 24, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 28, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 31, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 36, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 40, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 47, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 52, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 56, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 59, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 69, ../scss/_wpsstm-backend.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/* line 85, ../scss/_wpsstm-backend.scss */
.wp-list-table .mbz-id {
  color: silver;
  font-size: 0.8em;
}
/* line 89, ../scss/_wpsstm-backend.scss */
.wp-list-table .mbz-disambiguation {
  font-style: italic;
  font-size: 0.9em;
}

/* line 98, ../scss/_wpsstm-backend.scss */
#mbid-value, #mbid-do-lookup {
  text-align: center;
}

/* line 104, ../scss/_wpsstm-backend.scss */
.postbox .wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}
/* line 117, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm-metabox-sources .wpsstm-submit-wrapper {
  text-align: center;
}
/* line 122, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm-metabox-scraper {
  position: relative;
}
/* line 124, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm-metabox-scraper .inside {
  overflow: auto;
}
/* line 126, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm-metabox-scraper .inside #wpsstm-wizard-preview-feed-url {
  font-size: 1.2em;
  text-align: center;
}
/* line 136, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span {
  font-weight: bold;
}
/* line 138, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span:after {
  content: " ";
}
/* line 146, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions {
  margin-top: 1em;
  position: relative;
  text-align: center;
}
/* line 151, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions a {
  margin: .5em auto;
  display: block;
  max-width: 75%;
}
/* line 157, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions p.submit {
  text-align: center;
  margin: .5em 0;
  padding: 0;
}
/* line 173, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries > span {
  font-weight: bold;
}
/* line 177, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries #wpsstm-mb-section-data {
  display: none;
}
/* line 184, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table {
  border: none;
}
/* line 186, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table .column-score {
  width: 10%;
}
/* line 198, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries.table-mbz-summary table.wp-list-table tfoot {
  display: none;
}
