@charset "UTF-8";
@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes highlight {
  0% {
    background-color: rgba(224, 255, 226, 0);
  }
  25% {
    background-color: #e0ffe2;
  }
  100% {
    background-color: rgba(224, 255, 226, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
ul.comma-list {
  list-style: none;
  display: inline;
}
ul.comma-list > li {
  display: inline;
}
ul.comma-list > li:not(:last-child):after {
  content: ", ";
}

input.input-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
input.wpsstm-fullwidth {
  width: 100%;
}
.wpsstm-no-underline {
  text-decoration: none;
  border-bottom: none !important;
}

.wpsstm-can-click, .ui-tabs ul.ui-tabs-nav li.ui-state-default, .wpsstm-icon-input [type=submit] {
  cursor: pointer;
  cursor: hand;
}

.wpsstm-freeze, input.input-loading, input[type=checkbox][readonly] {
  pointer-events: none;
  opacity: 0.5;
}

.wpsstm-icon:before, .wpsstm-action-icon a:before, .wpsstm-loading-icon:before {
  font-weight: normal;
  font-style: normal;
  font-family: "FontAwesome";
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
}

.wpsstm-loading-icon:before {
  animation: spin 2s linear infinite;
  content: "" !important;
}

.wpsstm-action-icon a:before {
  margin-right: 0;
}
.wpsstm-action-icon a > span {
  display: none;
}

.wpsstm-ellipsis, #wpsstm-frontend-importer-recent ul li a > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wpsstm-icon-input {
  position: relative;
  margin: 0.5em;
}
.wpsstm-icon-input input {
  padding: 0.5em;
}
.wpsstm-icon-input input[type=text] {
  padding-right: 4em;
}
.wpsstm-icon-input [type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.wpsstm-icon-input [type=submit].wpsstm-icon-button {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2em;
}

.wpsstm-block-notice {
  background: #fff3d4;
  border: 0px solid #f6b73c;
  border-left-width: 5px;
  padding: 0.75em;
  position: relative;
  z-index: 10;
  display: flex;
}
.wpsstm-block-notice > * {
  flex: 1;
}
.wpsstm-block-notice > *.wpsstm-close-notice {
  flex-grow: 0;
  text-align: center;
}

.wpsstm-align-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wpsstm-metabox-importer .wpsstm-wizard-node .wpsstm-wizard-node {
  margin: 0.5em;
  border: 2px solid #DDD;
  padding: 0.5em;
}
#wpsstm-metabox-importer .wpsstm-wizard-node.wpsstm-wizard-node-readonly > .wpsstm-wizard-node-content {
  opacity: 0.5;
}
#wpsstm-metabox-importer .wpsstm-wizard-node .wpsstm-wizard-node-handle {
  display: inline-block;
  margin-left: 0.5em;
}
#wpsstm-metabox-importer .wpsstm-wizard-node.wpsstm-wizard-node-active > p .wpsstm-wizard-node-handle-open {
  display: none;
}
#wpsstm-metabox-importer .wpsstm-wizard-node:not(.wpsstm-wizard-node-active) > p .wpsstm-wizard-node-handle-close,
#wpsstm-metabox-importer .wpsstm-wizard-node:not(.wpsstm-wizard-node-active) .wpsstm-wizard-node {
  display: none;
}

.ui-tabs ul.ui-tabs-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ui-tabs ul.ui-tabs-nav li.ui-state-default {
  margin-bottom: 0;
  padding: 10px 15px;
  display: inline-block;
}
.ui-tabs .ui-tabs-panel {
  display: none;
  padding: 15px;
}
.ui-tabs .ui-tabs-panel.current {
  display: inherit;
}

#wpsstm-importer-urls {
  display: none;
}

#wpsstm-importer-services ul {
  margin: 0;
  padding: 0;
}
#wpsstm-importer-services ul li {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#wpsstm-importer-services ul li img {
  width: 100%;
  height: auto;
}

#wpsstm-frontend-importer-recent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#wpsstm-frontend-importer-recent ul li {
  position: relative;
  line-height: 1em;
  line-height: 1.5em;
}
#wpsstm-frontend-importer-recent ul li a {
  display: flex;
}
#wpsstm-frontend-importer-recent ul li a strong {
  margin-right: 0.25em;
}