@charset "UTF-8";
/* line 4, ../scss/_wpsstm-shared.scss */
.truncate {
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link, .toggle-children-container .toggle-children-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 18, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, [itemprop="track"].active:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-player-sources-list li {
  cursor: pointer;
  cursor: hand;
}

/* line 23, ../scss/_wpsstm-shared.scss */
.ellipsis, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 28, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 34, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 39, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}

/*
Thickbox popups
*/
/* line 47, ../scss/_wpsstm-shared.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 52, ../scss/_wpsstm-shared.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}

/* line 5, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 10, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 15, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] .trackitem_order .wpsstm-player-icon-buffering {
  display: none;
}
/* line 18, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] .trackitem_order span {
  display: initial;
}
/* line 24, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] .trackitem_actions .wpsstm-track-action {
  margin: 0 .1em;
}
/* line 31, ../scss/wpsstm-tracklists.scss */
[itemprop="track"] .wpsstm-player-sources-list li:not(.wpsstm-bad-source) .wpsstm-source-error {
  display: none;
}
/* line 39, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].buffering .trackitem_order .wpsstm-player-icon-buffering {
  display: inline-block;
}
/* line 42, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].buffering .trackitem_order span {
  display: none;
}
/* line 48, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].playing .wpsstm-play-track .wpsstm-player-icon, [itemprop="track"].active .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 51, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].playing .wpsstm-play-track .wpsstm-player-icon-pause, [itemprop="track"].active .wpsstm-play-track .wpsstm-player-icon-pause {
  display: inline-block;
}
/* line 57, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].error .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 60, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].error .wpsstm-play-track .wpsstm-player-icon-error {
  display: inline-block;
}
/* line 66, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].active:not(.error) {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 70, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].active.buffering {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  pointer-events: none;
}
/* line 77, ../scss/wpsstm-tracklists.scss */
[itemprop="track"].active .wpsstm-player-sources-list li.wpsstm-active-source {
  font-weight: bold;
}

/* line 92, ../scss/wpsstm-tracklists.scss */
a.wpsstm-play-track {
  text-decoration: none;
  border-bottom: none !important;
}
/* line 96, ../scss/wpsstm-tracklists.scss */
a.wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 98, ../scss/wpsstm-tracklists.scss */
a.wpsstm-play-track .wpsstm-player-icon.wpsstm-player-icon-play {
  display: inline-block;
}

/* line 105, ../scss/wpsstm-tracklists.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 109, ../scss/wpsstm-tracklists.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 118, ../scss/wpsstm-tracklists.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 128, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist {
  position: relative;
  font-family: sans-serif;
  padding: 1em 0;
  font-size: .8em;
  margin-bottom: 2em;
}
/* line 136, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table {
  font-size: 1em;
  width: 100%;
  display: table;
  border-collapse: collapse;
  border: none;
  margin: 0;
}
/* line 144, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_order {
  width: 3em;
  text-align: center;
}
/* line 149, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_play_bt {
  width: 2em;
  text-align: center;
}
/* line 154, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_image {
  width: 2em;
  display: none;
}
/* line 157, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_image img {
  max-width: 100%;
}
/* line 161, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_sources {
  display: none;
}
/* line 163, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table .column-trackitem_sources ul {
  list-style-type: none;
}
/* line 168, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table th, .wpsstm-tracklist table td {
  border: none;
}
/* line 172, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table th {
  font-weight: 400;
}
/* line 176, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table thead {
  /*
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  th{
      border-bottom: 1px solid #e1e1e1;
      text-align:center;
  }
  */
  display: none;
}
/* line 189, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tfoot th {
  border-top: 1px solid #e1e1e1;
}
/* line 194, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 199, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.0125);
}
/* line 202, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr:hover {
  background: rgba(0, 0, 0, 0.025);
}
/* line 204, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr:hover td.column-image img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 210, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr.no-items .wpsstm-bottom-refresh-notice {
  display: inline;
}
/* line 214, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr:not(.no-items):not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 221, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr td {
  font-size: 1em;
  line-height: 2em;
  padding: .5em;
}
/* line 225, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr td.column-image {
  width: 50px;
  padding: 0;
}
/* line 228, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist table tbody tr td.column-image img {
  max-width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 243, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist > ol li[itemprop="track"] [itemprop="name"]:before, .wpsstm-tracklist ul li[itemprop="track"] [itemprop="name"]:before {
  content: "– ";
}
/* line 251, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav {
  padding: .5em;
}
/* line 253, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .tablenav-pages {
  line-height: 3em;
}
/* line 256, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-time {
  margin-left: .5em;
}
/* line 259, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-actions {
  font-size: 0.8em;
}
/* line 261, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-actions > * {
  display: inline-block;
}
/* line 264, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-actions a {
  text-decoration: none;
}
/* line 268, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-actions form select {
  font-size: 1em;
}
/* line 277, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist[data-tracks-count="1"] .tracklist-nav {
  display: none;
}
/* line 283, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 291, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .wpsstm-tracklist-time .wpsstm-refresh-playlist i.fa-exclamation-triangle {
  display: none;
}
/* line 298, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist:not([data-wpsstm-expire-sec="0"]) .wpsstm-tracklist-time .wpsstm-refresh-playlist, .wpsstm-tracklist.loading .wpsstm-tracklist-time .wpsstm-refresh-playlist {
  display: none;
}
/* line 304, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist[data-wpsstm-expire-sec="0"] .wpsstm-tracklist-refresh-time {
  display: none;
}
/* line 312, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.error .wpsstm-tracklist-time .wpsstm-refresh-playlist i.fa-exclamation-triangle {
  display: inline-block;
}

/* line 322, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove span, .wpsstm-playlist-action-love-unlove span {
  display: none;
}
/* line 325, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove a, .wpsstm-playlist-action-love-unlove a {
  border: none !important;
}
/* line 328, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove > :nth-child(1), .wpsstm-playlist-action-love-unlove > :nth-child(1) {
  display: none;
}
/* line 331, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove > :nth-child(2), .wpsstm-playlist-action-love-unlove > :nth-child(2) {
  display: inline-block;
}
/* line 334, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove > :nth-child(3), .wpsstm-playlist-action-love-unlove > :nth-child(3) {
  display: none;
}
/* line 339, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.wpsstm-is-loved > :nth-child(2), .wpsstm-playlist-action-love-unlove.wpsstm-is-loved > :nth-child(2) {
  display: none;
}
/* line 342, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.wpsstm-is-loved > :nth-child(3), .wpsstm-playlist-action-love-unlove.wpsstm-is-loved > :nth-child(3) {
  display: inline-block;
}
/* line 346, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.loading, .wpsstm-playlist-action-love-unlove.loading {
  pointer-events: none;
}
/* line 348, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.loading > :nth-child(1), .wpsstm-playlist-action-love-unlove.loading > :nth-child(1) {
  display: inline-block;
}
/* line 351, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.loading > :nth-child(2), .wpsstm-playlist-action-love-unlove.loading > :nth-child(2) {
  display: none;
}
/* line 354, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-love-unlove.loading > :nth-child(3), .wpsstm-playlist-action-love-unlove.loading > :nth-child(3) {
  display: none;
}

/* line 361, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector span {
  display: none;
}
/* line 364, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector a {
  border: none !important;
}
/* line 367, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector > :nth-child(1) {
  display: none;
}
/* line 370, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector > :nth-child(2) {
  display: inline-block;
}
/* line 375, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector.wpsstm-is-loved > :nth-child(2) {
  display: none;
}
/* line 379, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector.loading {
  pointer-events: none;
}
/* line 381, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector.loading > :nth-child(1) {
  display: inline-block;
}
/* line 384, ../scss/wpsstm-tracklists.scss */
.wpsstm-track-action-playlists-selector.loading > :nth-child(2) {
  display: none;
}

/* line 391, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists {
  position: relative;
}
/* line 393, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul {
  font-size: .8em;
  list-style: none;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
/* line 404, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-new-playlist-adder #wpsstm-new-playlist-add {
  display: none;
  margin: 1em;
  text-align: center;
}
/* line 409, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-new-playlist-adder #wpsstm-new-playlist-add input[type="text"] {
  width: 80%;
}
/* line 413, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-new-playlist-adder #wpsstm-new-playlist-add input[type="submit"] {
  width: 15%;
  margin-left: 5%;
}
/* line 419, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 426, ../scss/wpsstm-tracklists.scss */
.wpsstm-lastfm-love-unlove-track-links {
  font-size: 1em !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
