/* line 4, ../scss/_wpsstm-shared.scss */
.truncate {
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 18, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr td.column-reorder .metabox-table-row-draghandle:not(.disabled) {
  cursor: pointer;
  cursor: hand;
}

/* line 23, ../scss/_wpsstm-shared.scss */
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 8, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list .loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 16, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list > .subsubsub {
  margin: 0;
  margin-bottom: 1em;
}
/* line 22, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list > .tablenav .add-tracklist-track {
  margin: 0;
}
/* line 24, ../scss/wpsstm-admin-metabox-tracklist.scss */
body.no-js .postbox#wpsstm-tracklist #wpsstm-subtracks-list > .tablenav .add-tracklist-track {
  display: none;
}
/* line 38, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table .column-reorder, .postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table .column-trackitem_order {
  width: 2em;
  text-align: center;
}
/* line 44, ../scss/wpsstm-admin-metabox-tracklist.scss */
body.no-js .postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table .column-trackitem-action {
  display: none;
}
/* line 56, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr td {
  overflow: hidden;
}
/* line 58, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr td input[type='text'] {
  width: 100%;
}
/* line 63, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr td.column-reorder .metabox-table-row-draghandle {
  text-align: center;
}
/* line 68, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr td.column-reorder .metabox-table-row-draghandle.disabled {
  opacity: 0.5;
}
/* line 77, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr .metabox-table-cell-toggle.metabox-table-cell-display {
  display: block;
}
/* line 80, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr .metabox-table-cell-toggle.metabox-table-cell-edit {
  display: none;
}
/* line 86, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr .row-actions span.save {
  display: none;
}
/* line 93, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr.metabox-table-row-edit .metabox-table-cell-toggle.metabox-table-cell-display {
  display: none;
}
/* line 96, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr.metabox-table-row-edit .metabox-table-cell-toggle.metabox-table-cell-edit {
  display: block;
}
/* line 102, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr.metabox-table-row-edit .row-actions span.save {
  display: inline;
}
/* line 105, ../scss/wpsstm-admin-metabox-tracklist.scss */
.postbox#wpsstm-tracklist #wpsstm-subtracks-list table.wp-list-table #the-list tr.metabox-table-row-edit .row-actions span.edit {
  display: none;
}

/* line 121, ../scss/wpsstm-admin-metabox-tracklist.scss */
.toggle-table-columns {
  position: relative;
  width: 100%;
}
/* line 124, ../scss/wpsstm-admin-metabox-tracklist.scss */
.toggle-table-columns table {
  table-layout: initial;
}
/* line 127, ../scss/wpsstm-admin-metabox-tracklist.scss */
.toggle-table-columns table.toggle-columns-driver {
  margin: auto;
  padding: 1em 0;
}
/* line 132, ../scss/wpsstm-admin-metabox-tracklist.scss */
.toggle-table-columns table.wp-list-table .toggle-column-hidden {
  display: none;
}
