/* line 5, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist[data-tracks-count="1"] .tracklist-nav {
  display: none;
}
/* line 11, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}
/* line 18, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav {
  padding: .5em;
}
/* line 20, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .tablenav-pages {
  line-height: 3em;
}
/* line 23, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .wpsstm-tracklist-actions {
  font-size: 0.8em;
}
/* line 25, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .wpsstm-tracklist-actions a {
  text-decoration: none;
}
/* line 31, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table {
  width: 100%;
  display: table;
  border: none;
  margin: 0;
}
/* line 37, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_order {
  width: 2em;
  text-align: center;
}
/* line 42, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_play_bt {
  width: 2em;
  text-align: center;
}
/* line 47, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_image {
  width: 2em;
}
/* line 49, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_image img {
  max-width: 100%;
}
/* line 54, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table th, .wpsstm-tracklist.wpsstm-tracklist-table table td {
  border: none;
}
/* line 58, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table th {
  font-weight: 400;
}
/* line 62, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table thead {
  /*
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  th{
      border-bottom: 1px solid #e1e1e1;
      text-align:center;
  }
  */
  display: none;
}
/* line 75, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tfoot th {
  border-top: 1px solid #e1e1e1;
}
/* line 80, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 85, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.0125);
}
/* line 88, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:hover {
  background: rgba(0, 0, 0, 0.025);
}
/* line 90, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:hover td.column-image img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 96, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr td.column-image {
  width: 50px;
  padding: 0;
}
/* line 99, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr td.column-image img {
  max-width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
