/*
Default styles to improve the GUI, can be disabled in the plugin's settings
*/
/* line 7, ../scss/_wpsstm-shared.scss */
.wpsstm-no-underline, .wpsstm-actions-list li a, .wpsstm-tracklist [itemprop="track"] .wpsstm-track-play-bt a, .wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources a {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-ellipsis, .wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-info, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-info, #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 16, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-sources ul a label, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-sources ul a label {
  cursor: pointer;
  cursor: hand;
}

/* line 20, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 25, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 31, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 36, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}
/* line 39, ../scss/_wpsstm-shared.scss */
.wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}

/* line 47, ../scss/_wpsstm-shared.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 51, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 59, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 67, ../scss/_wpsstm-shared.scss */
ul.comma-list {
  list-style: none;
  display: inline;
}
/* line 70, ../scss/_wpsstm-shared.scss */
ul.comma-list li {
  display: inline;
}
/* line 72, ../scss/_wpsstm-shared.scss */
ul.comma-list li:not(:last-child):after {
  content: ", ";
}

/* line 78, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 87, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 92, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 96, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 99, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 104, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 108, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 115, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 120, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 124, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 127, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 137, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/* line 9, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list li {
  display: inline-block;
}

/* line 17, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) {
  text-align: center;
  font-size: .8em;
  line-height: 3em;
}
/* line 21, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) li {
  background: #EEE;
  padding: 0 .5em;
  line-height: 2.5em;
}
/* line 26, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) li a i {
  padding-right: .25em;
}

/* line 33, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist {
  font-family: sans-serif;
  font-size: 0.8em;
}
/* line 39, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist .tracklist-nav ul#wpsstm-tracklist-actions {
  text-align: center;
  font-size: .8em;
}
/* line 46, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-actions {
  width: 6em;
}
/* line 48, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-actions ul {
  display: none;
}
/* line 53, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"]:hover .wpsstm-track-actions ul, .wpsstm-tracklist [itemprop="track"].active .wpsstm-track-actions ul {
  display: inherit;
}
/* line 68, ../scss/wpsstm-default-style.scss */
.entry-content .wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources {
  display: none;
}
/* line 74, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: none;
}
/* line 77, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries th, .wpsstm-tracklist table.wpsstm-tracklist-entries tr, .wpsstm-tracklist table.wpsstm-tracklist-entries td {
  padding: 0;
  margin: 0;
}
/* line 85, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries td, .wpsstm-tracklist table.wpsstm-tracklist-entries th {
  border: none;
  outline: none;
}
/* line 91, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries .wpsstm-tracklist-entries-header {
  display: none;
}
/* line 95, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 97, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th {
  padding: .5em 0;
}
/* line 100, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-image, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-image {
  width: 2em;
  box-sizing: content-box;
}
/* line 104, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-position, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-position {
  width: 2em;
}
/* line 107, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-play-bt, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-play-bt {
  width: 2em;
}
/* line 112, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-info [itemprop="byArtist"], .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-info [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 115, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-info [itemprop="inAlbum"], .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-info [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 125, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-sources ul a.wpsstm-bad-source, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-sources ul a.wpsstm-bad-source {
  text-decoration: line-through;
}
/* line 128, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr td.wpsstm-track-sources ul a.wpsstm-active-source, .wpsstm-tracklist table.wpsstm-tracklist-entries tr th.wpsstm-track-sources ul a.wpsstm-active-source {
  font-weight: bold;
}
/* line 136, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr th {
  text-align: center;
}
/* line 143, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr:hover {
  background: rgba(0, 0, 0, 0.02);
}
/* line 147, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracklist-entries tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 156, ../scss/wpsstm-default-style.scss */
.hentry .wpsstm-tracklist [itemprop="track"] [data-wpsstm-source-idx] {
  display: inline;
}
/* line 158, ../scss/wpsstm-default-style.scss */
.hentry .wpsstm-tracklist [itemprop="track"] [data-wpsstm-source-idx] .wpsstm-source-title {
  display: none;
}
/* line 161, ../scss/wpsstm-default-style.scss */
.hentry .wpsstm-tracklist [itemprop="track"] [data-wpsstm-source-idx]:not(.wpsstm-active-source) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

/* line 170, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .05em;
}
/* line 179, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-image {
  padding-left: 0 !important;
}
/* line 182, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-album {
  display: none !important;
}
/* line 185, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources {
  position: relative;
  width: 20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 189, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list {
  width: 100%;
  padding: 0;
  line-height: 2em;
}
/* line 193, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  display: block;
  width: calc(100% - 2em);
  padding: 0 .75em;
}
/* line 198, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-provider {
  position: absolute;
  width: 2em;
  left: 0;
  text-align: center;
}
/* line 204, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title {
  margin-left: 1.5em;
  display: initial;
}
/* line 208, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx]:not(.wpsstm-active-source) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  display: none;
}
/* line 211, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx]:not(.wpsstm-active-source):hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 218, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources:hover {
  width: 30%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 221, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list {
  background: #222;
  text-align: left;
  position: absolute;
  bottom: -1em;
  padding-bottom: 1em;
}
/* line 227, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info.wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  padding: .4em;
  display: inherit;
}
