@charset "UTF-8";
/* line 4, ../scss/_wpsstm-shared.scss */
.truncate, .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 10, ../scss/_wpsstm-shared.scss */
.wpsstm-table-row, .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"], .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info {
  display: table;
}
/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-table-row > *, .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] > *, .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info > * {
  display: table-cell;
}

/* line 17, ../scss/_wpsstm-shared.scss */
.wpsstm-flexible-cell, .wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-right {
  width: 1%;
  white-space: nowrap;
}

/* line 23, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link, .toggle-children-container .toggle-children-link, .wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-actions .wpsstm-actions-list li a {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 29, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position .wpsstm-reposition-track, #wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position {
  cursor: pointer;
  cursor: hand;
}

/* line 33, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el, ul.wpsstm-actions-list li.loading, .wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active.buffering, .wpsstm-tracklist.loading, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li.loading, #wpsstm-tracklist-chooser-list.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 38, ../scss/_wpsstm-shared.scss */
.wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

/* line 49, ../scss/_wpsstm-shared.scss */
.ellipsis, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 54, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 60, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 65, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}

/* line 72, ../scss/_wpsstm-shared.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 76, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 85, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 93, ../scss/_wpsstm-shared.scss */
.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 96, ../scss/_wpsstm-shared.scss */
.comma-list li, ul.wpsstm-track-loved-by-list li, ul.wpsstm-track-parents li {
  display: inline;
}
/* line 98, ../scss/_wpsstm-shared.scss */
.comma-list li:not(:last-child):after, ul.wpsstm-track-loved-by-list li:not(:last-child):after, ul.wpsstm-track-parents li:not(:last-child):after {
  content: ", ";
}

/* line 104, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 113, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 118, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 122, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 125, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 130, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 134, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 141, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 146, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 150, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 153, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 163, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/* line 170, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list {
  list-style: none;
}
/* line 173, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li {
  display: inline-block;
}
/* line 177, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li a label {
  padding-left: .25em;
}
/* line 185, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li.error, ul.wpsstm-actions-list li.error a {
  color: red;
}

/*
Thickbox popups
*/
/* line 200, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin header, body.wpsstm_tracklist-template-admin header {
  margin: 2em 0;
}
/* line 204, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #sidebar, body.wpsstm_track-template-admin #colophon, body.wpsstm_tracklist-template-admin #sidebar, body.wpsstm_tracklist-template-admin #colophon {
  display: none;
}
/* line 207, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #content, body.wpsstm_tracklist-template-admin #content {
  width: 100%;
  margin: 0;
}
/* line 211, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #main, body.wpsstm_tracklist-template-admin #main {
  margin: 0;
  padding: 0;
}
/* line 215, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #wpadminbar, body.wpsstm_tracklist-template-admin #wpadminbar {
  display: none;
}
/* line 220, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry, body.wpsstm_tracklist-template-admin .hentry {
  margin: 0;
  padding: 0;
}
/* line 224, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul {
  list-style: none;
}
/* line 226, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li {
  display: inline;
}
/* line 228, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active), body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 237, ../scss/_wpsstm-shared.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 242, ../scss/_wpsstm-shared.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}

/* line 4, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist {
  position: relative;
  font-family: sans-serif;
}
/* line 9, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries {
  font-size: 1em;
  margin: 0;
  list-style: none;
}
/* line 14, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] {
  position: relative;
  z-index: 0;
}
/* line 18, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position {
  position: relative;
}
/* line 20, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position .wpsstm-reposition-track {
  display: none;
}
/* line 28, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-image {
  width: 50px;
  padding: 0;
}
/* line 34, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-actions .wpsstm-actions-list {
  display: inline;
}
/* line 39, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-actions .wpsstm-actions-list li a label {
  display: none;
}
/* line 48, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"]:not(.active) .wpsstm-track-sources {
  pointer-events: none;
}
/* line 54, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist ul.wpsstm-tracklist-entries li[itemprop="track"]:not(.active):not(:hover) .wpsstm-track-actions {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 67, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-can-manage-tracklist[data-wpsstm-tracklist-type="static"] ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position:hover .wpsstm-reposition-track {
  display: inherit;
}
/* line 70, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-can-manage-tracklist[data-wpsstm-tracklist-type="static"] ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-position:hover [itemprop="position"] {
  display: none;
}
/* line 81, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 85, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"]:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 87, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"]:not(.active)[data-wpsstm-sources-count="0"]:not(:hover) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
/* line 90, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"]:not(.active).has-played {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 96, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].wpsstm-invalid-track {
  background: rgba(255, 0, 0, 0.1);
}
/* line 100, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"] .wpsstm-play-track {
  text-decoration: none;
  border-bottom: none !important;
}
/* line 104, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"] .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 106, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"] .wpsstm-play-track .wpsstm-player-icon.wpsstm-player-icon-play {
  display: inline-block;
}
/* line 114, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].buffering .wpsstm-track-position .wpsstm-player-icon-loading, .wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].loading-sources .wpsstm-track-position .wpsstm-player-icon-loading {
  display: inline-block;
}
/* line 117, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].buffering .wpsstm-track-position span, .wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].loading-sources .wpsstm-track-position span {
  display: none;
}
/* line 123, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].playing .wpsstm-play-track .wpsstm-player-icon, .wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active.buffering .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 126, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].playing .wpsstm-play-track .wpsstm-player-icon-pause, .wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active.buffering .wpsstm-play-track .wpsstm-player-icon-pause {
  display: inline-block;
}
/* line 132, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].error .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 135, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].error .wpsstm-play-track .wpsstm-player-icon-error {
  display: inline-block;
}
/* line 141, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active:not(.error) {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 145, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active.buffering {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 152, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-playable-tracklist [itemprop="track"].active .wpsstm-track-sources-list a.wpsstm-active-source {
  font-weight: bold;
}
/* line 163, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.wpsstm-playable-tracklist) .wpsstm-track-play-bt {
  display: none;
}
/* line 172, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] {
  width: 100%;
  line-height: 3em;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 179, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-left {
  width: 4em;
  text-align: center;
}
/* line 190, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"]:nth-child(odd) {
  background: rgba(0, 0, 0, 0.0125);
}
/* line 193, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"]:hover {
  background: rgba(0, 0, 0, 0.025);
}
/* line 197, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"]:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 201, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources {
  display: none;
}
/* line 203, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources .wpsstm-track-sources-list {
  position: absolute;
  margin-top: .5em;
}
/* line 206, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources .wpsstm-track-sources-list .wpsstm-source-title {
  display: none;
}
/* line 215, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-track-sources:hover .wpsstm-track-sources-list {
  top: 0;
  right: -2em;
  border: 1px solid #DDD;
  font-size: .9em;
  width: 200px;
  position: absolute;
  background: white;
  z-index: 1;
}
/* line 224, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-track-sources:hover .wpsstm-track-sources-list .wpsstm-source-title {
  display: inline-block;
}
/* line 231, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources {
  padding-right: 2em;
}
/* line 235, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 241, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info > * {
  padding: 0 .25em;
}
/* line 246, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-tracklist-table ul.wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-info .wpsstm-track-image {
  width: 3.5em;
}
/* line 255, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav {
  padding: .5em;
}
/* line 257, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .tablenav-pages {
  line-height: 3em;
}
/* line 260, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .tracklist-nav .wpsstm-tracklist-time {
  margin-left: .5em;
}
/* line 269, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist[data-tracks-count="0"] .wpsstm-track-position, .wpsstm-tracklist[data-tracks-count="0"] #wpsstm-track-action-move, .wpsstm-tracklist[data-tracks-count="1"] .wpsstm-track-position, .wpsstm-tracklist[data-tracks-count="1"] #wpsstm-track-action-move {
  display: none;
}
/* line 274, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist .wpsstm-tracklist-loading-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 280, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist.loading .wpsstm-tracklist-loading-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 286, ../scss/wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.wpsstm-expired-tracklist) #wpsstm-tracklist-action-refresh {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  pointer-events: none;
}

/* line 293, ../scss/wpsstm-tracklists.scss */
.hentry .wpsstm-tracklist {
  padding: 1em 0;
  font-size: .8em;
}

/* line 299, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist {
  text-transform: uppercase;
  letter-spacing: .05em;
  position: relative;
  font-size: .6em;
  vertical-align: middle;
}
/* line 307, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] {
  height: 50px;
}
/* line 309, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] > * {
  padding: 0 1em;
}
/* line 314, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-image {
  padding: 0;
}
/* line 316, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-image img {
  height: 50px;
}
/* line 321, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-play-bt {
  display: none;
}
/* line 325, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-actions {
  font-size: 1.5em;
}
/* line 327, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-actions #wpsstm-track-action-remove {
  display: none;
}
/* line 337, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-title:before {
  content: "—";
  margin: 0 1em;
}
/* line 343, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 345, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources .wpsstm-track-sources-list {
  width: 200px;
}
/* line 348, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources .wpsstm-track-sources-list a .wpsstm-provider-icon {
  font-size: 2em;
}
/* line 351, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources .wpsstm-track-sources-list a .wpsstm-source-title {
  width: calc(100% - 5em);
}
/* line 356, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 358, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources:hover .wpsstm-track-sources-list {
  width: 400px;
}
/* line 360, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"] .wpsstm-track-sources:hover .wpsstm-track-sources-list a {
  padding: 1em .5em;
}
/* line 368, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-track-sources:hover .wpsstm-track-sources-list {
  bottom: 0;
  left: 0;
  background: #222;
  position: absolute;
}
/* line 373, ../scss/wpsstm-tracklists.scss */
#wpsstm-bottom-track-info.wpsstm-tracklist .wpsstm-tracklist-entries li[itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-track-sources:hover .wpsstm-track-sources-list .wpsstm-source:hover {
  background: #2f2f2f;
}

/* line 387, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists {
  position: relative;
}
/* line 389, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul {
  font-size: .8em;
  list-style: none;
}
/* line 393, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  padding: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
/* line 405, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-chooser-list #wpsstm-new-playlist-add {
  display: none;
  margin: 1em;
  text-align: center;
}

/* line 420, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions {
  display: block;
  padding: 0 1em;
  margin: 1em;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
}
/* line 427, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions li {
  padding: 0 .5em;
  display: inline;
}
/* line 432, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch form {
  display: none;
}
/* line 434, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch form select {
  font-size: 1em;
}
/* line 439, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch.expanded em {
  display: none;
}
/* line 442, ../scss/wpsstm-tracklists.scss */
#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch.expanded form {
  display: inline-block;
}

/* line 450, ../scss/wpsstm-tracklists.scss */
.wpsstm-actions-list#wpsstm-tracklist-actions .tracklist-action-favorite-toggle:not(.tracklist-action-favorite-active) {
  display: none;
}

/* line 456, ../scss/wpsstm-tracklists.scss */
.wpsstm-notice#wpsstm-notice-tracklist-expired {
  background: none;
}
