/* line 4, ../scss/_wpsstm-shared.scss */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 10, ../scss/_wpsstm-shared.scss */
.flexible-table-cell {
  width: 1%;
  white-space: nowrap;
}

/* line 16, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 22, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click {
  cursor: pointer;
  cursor: hand;
}

/* line 26, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el, ul.wpsstm-actions-list li.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 31, ../scss/_wpsstm-shared.scss */
.wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

/* line 42, ../scss/_wpsstm-shared.scss */
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 47, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 53, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 58, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}

/* line 64, ../scss/_wpsstm-shared.scss */
.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 67, ../scss/_wpsstm-shared.scss */
.comma-list li, ul.wpsstm-track-loved-by-list li, ul.wpsstm-track-parents li {
  display: inline;
}
/* line 69, ../scss/_wpsstm-shared.scss */
.comma-list li:not(:last-child):after, ul.wpsstm-track-loved-by-list li:not(:last-child):after, ul.wpsstm-track-parents li:not(:last-child):after {
  content: ", ";
}

/* line 75, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list {
  list-style: none;
}
/* line 78, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li {
  display: inline-block;
}
/* line 82, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li a label {
  padding-left: .25em;
}
/* line 90, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li.error, ul.wpsstm-actions-list li.error a {
  color: red;
}

/*
Thickbox popups
*/
/* line 105, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin header, body.wpsstm_tracklist-template-admin header {
  margin: 2em 0;
}
/* line 109, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #sidebar, body.wpsstm_track-template-admin #colophon, body.wpsstm_tracklist-template-admin #sidebar, body.wpsstm_tracklist-template-admin #colophon {
  display: none;
}
/* line 112, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #content, body.wpsstm_tracklist-template-admin #content {
  width: 100%;
  margin: 0;
}
/* line 116, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #main, body.wpsstm_tracklist-template-admin #main {
  margin: 0;
  padding: 0;
}
/* line 120, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #wpadminbar, body.wpsstm_tracklist-template-admin #wpadminbar {
  display: none;
}
/* line 125, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry, body.wpsstm_tracklist-template-admin .hentry {
  margin: 0;
  padding: 0;
}
/* line 129, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul {
  list-style: none;
}
/* line 131, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li {
  display: inline;
}
/* line 133, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active), body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 142, ../scss/_wpsstm-shared.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 147, ../scss/_wpsstm-shared.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}

/* line 6, ../scss/wpsstm-tracks.scss */
[itemprop="track"] [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 9, ../scss/wpsstm-tracks.scss */
[itemprop="track"] [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 14, ../scss/wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-position .wpsstm-player-icon-loading {
  display: none;
}
/* line 17, ../scss/wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-position span {
  display: initial;
}
/* line 23, ../scss/wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-actions .wpsstm-actions-list {
  display: inline;
  padding: 0;
}
/* line 26, ../scss/wpsstm-tracks.scss */
[itemprop="track"] .wpsstm-track-actions .wpsstm-actions-list li {
  padding: 0 .1em;
}

/* line 34, ../scss/wpsstm-tracks.scss */
.wpsstm-actions-list .wpsstm-action-toggle-favorite:not(.wpsstm-toggle-favorite-active) {
  display: none !important;
}
