/* line 4, ../scss/_wpsstm-shared.scss */
.truncate {
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 18, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click {
  cursor: pointer;
  cursor: hand;
}

/* line 23, ../scss/_wpsstm-shared.scss */
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 28, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 34, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 39, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}

/*
Thickbox popups
*/
/* line 51, ../scss/_wpsstm-shared.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 2em;
}
