/* line 5, ../scss/wpsstm-frontend-wizard.scss */
.wpsstm-ellipsis, #wpsstm-frontend-wizard-recent ul li a > * {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 8, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list {
  list-style: none;
  display: inline;
}
/* line 11, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list > li {
  display: inline;
}
/* line 13, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list > li:not(:last-child):after {
  content: ", ";
}

/* line 21, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}

/* line 27, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-shortcuts ul {
  list-style: none;
}
/* line 30, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-shortcuts .wpsstm-bang-desc {
  font-size: .8em;
}
/* line 32, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-shortcuts .wpsstm-bang-desc:not(.expanded) {
  display: none;
}

/* line 40, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-services ul {
  margin: 0;
  padding: 0;
}
/* line 43, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-services ul li {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 48, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-services ul li img {
  width: 100%;
  height: auto;
}

/* line 58, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 62, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent ul li {
  position: relative;
  line-height: 1em;
  line-height: 1.5em;
}
/* line 66, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent ul li a {
  display: -webkit-flex;
  display: flex;
}
/* line 68, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent ul li a strong {
  margin-right: .25em;
}
