/* line 1, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper {
  position: relative;
}
/* line 4, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper input.fullwidth {
  width: 100%;
}
/* line 8, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper #wpsstm-available-presets {
  margin: 1em 0;
}
/* line 16, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper #wpsstm-wizard-preview-feed-url {
  text-align: center;
  font-size: 1.25em;
}
/* line 21, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend {
  text-align: center;
}
/* line 23, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend h2 {
  display: none;
}
/* line 26, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend p.submit {
  margin: auto;
  max-width: 40%;
}
/* line 30, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend table.wizard-section-table {
  margin: auto;
  border: none;
}
/* line 33, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend table.wizard-section-table th {
  display: none;
}
/* line 36, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-frontend table.wizard-section-table th, #wizard-wrapper.wizard-wrapper-frontend table.wizard-section-table td {
  border: none;
}
/* line 44, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes {
  width: 100%;
}
/* line 46, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes tr:first-child, #wizard-wrapper.wizard-wrapper-advanced table#wizard-regexes td:first-child {
  width: 70%;
}
/* line 51, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw, #wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 63, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 67, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
/* line 70, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li {
  display: inline-block;
}
/* line 72, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 79, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 50%;
}
/* line 82, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced {
  display: none;
}
/* line 84, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced.active {
  display: block;
}
/* line 87, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc {
  padding: 1em;
  font-style: italic;
}
/* line 90, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc code {
  font-style: normal;
}
/* line 95, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 101, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:before {
  text-align: center;
  width: 20px;
  content: '~';
}
/* line 106, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:after {
  text-align: center;
  width: 20px;
  content: '~m';
}
/* line 111, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex input {
  width: 90%;
  color: #999;
}
/* line 121, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content#wpsstm-wizard-step-tracks-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 100%;
}
/* line 128, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .wpsstm-wizard-selector-toggle-advanced {
  text-decoration: none;
}
/* line 132, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 137, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 141, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced pre.spiff-raw code {
  background: none;
}
/* line 145, ../scss/wpsstm-scraper-wizard.scss */
#wizard-wrapper.wizard-wrapper-advanced .ui-tabs-panel > h3:first-of-type {
  display: none;
}

/* line 159, ../scss/wpsstm-scraper-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}
/* line 163, ../scss/wpsstm-scraper-wizard.scss */
#wpsstm-frontend-wizard #wpsstm-wizard-convert-tracklist p.submit {
  display: inline-block;
}
