/*
Default styles to improve the GUI, can be disabled in the plugin's settings
*/
/* line 7, ../scss/_wpsstm-shared.scss */
.wpsstm-no-underline, .wpsstm-actions-list li a, .wpsstm-tracklist [itemprop="track"] .wpsstm-track-play-bt a, .wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources a {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-ellipsis, .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info, #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 16, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-sources [data-wpsstm-source-idx] label, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-sources [data-wpsstm-source-idx] label {
  cursor: pointer;
  cursor: hand;
}

/* line 20, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 25, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 31, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 36, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}
/* line 39, ../scss/_wpsstm-shared.scss */
.wpsstm-notice#wpsstm-notice-ajax-refresh {
  background: none;
  height: 100px;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 46, ../scss/_wpsstm-shared.scss */
.wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}

/* line 54, ../scss/_wpsstm-shared.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 58, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 66, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 74, ../scss/_wpsstm-shared.scss */
ul.comma-list {
  list-style: none;
  display: inline;
}
/* line 77, ../scss/_wpsstm-shared.scss */
ul.comma-list li {
  display: inline;
}
/* line 79, ../scss/_wpsstm-shared.scss */
ul.comma-list li:not(:last-child):after {
  content: ", ";
}

/* line 85, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 94, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 99, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 103, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 106, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 111, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 115, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 122, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 127, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 131, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 134, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 144, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/* line 9, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list li {
  display: inline-block;
}

/* line 17, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) {
  text-align: center;
  font-size: .8em;
  line-height: 3em;
}
/* line 21, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) li {
  background: #EEE;
  padding: 0 .5em;
  line-height: 2.5em;
}
/* line 26, ../scss/wpsstm-default-style.scss */
.wpsstm-actions-list:not(#wpsstm-track-actions) li a i {
  padding-right: .25em;
}

/* line 33, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist {
  font-family: sans-serif;
  font-size: 0.8em;
}
/* line 39, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist .tracklist-nav ul#wpsstm-tracklist-actions {
  text-align: center;
  font-size: .8em;
}
/* line 46, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-actions {
  width: 6em;
}
/* line 48, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-actions ul {
  display: none;
}
/* line 53, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"]:hover .wpsstm-track-actions ul, .wpsstm-tracklist [itemprop="track"].track-active .wpsstm-track-actions ul {
  display: inherit;
}
/* line 69, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources [data-wpsstm-source-idx]:not(.source-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 71, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources [data-wpsstm-source-idx]:not(.source-active):hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 80, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: none;
}
/* line 83, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list th, .wpsstm-tracklist table.wpsstm-tracks-list tr, .wpsstm-tracklist table.wpsstm-tracks-list td {
  padding: 0;
  margin: 0;
}
/* line 91, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list td, .wpsstm-tracklist table.wpsstm-tracks-list th {
  border: none;
  outline: none;
}
/* line 97, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list .wpsstm-tracks-list-header {
  display: none;
}
/* line 101, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 103, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td, .wpsstm-tracklist table.wpsstm-tracks-list tr th {
  padding: .5em 0;
}
/* line 106, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-image, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-image {
  width: 2em;
  box-sizing: content-box;
}
/* line 110, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-position, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-position {
  width: 2em;
}
/* line 113, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-play-bt, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-play-bt {
  width: 2em;
}
/* line 118, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info [itemprop="byArtist"], .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 121, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info [itemprop="inAlbum"], .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 130, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-sources [data-wpsstm-source-idx].source-error, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-sources [data-wpsstm-source-idx].source-error {
  text-decoration: line-through;
}
/* line 133, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-sources [data-wpsstm-source-idx].source-active, .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-sources [data-wpsstm-source-idx].source-active {
  font-weight: bold;
}
/* line 139, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr th {
  text-align: center;
}
/* line 146, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr:hover {
  background: rgba(0, 0, 0, 0.02);
}
/* line 150, ../scss/wpsstm-default-style.scss */
.wpsstm-tracklist table.wpsstm-tracks-list tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 160, ../scss/wpsstm-default-style.scss */
.hentry .wpsstm-tracklist [itemprop="track"] .wpsstm-track-sources {
  display: none;
}
/* line 163, ../scss/wpsstm-default-style.scss */
.hentry .wpsstm-tracklist [itemprop="track"] [data-wpsstm-source-idx] {
  display: inline;
}
/* line 170, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .05em;
}
/* line 178, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-image {
  padding-left: 0 !important;
}
/* line 181, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-album {
  display: none !important;
}
/* line 184, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources {
  position: relative;
  width: 20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 188, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list {
  padding: 0;
  line-height: 2em;
}
/* line 192, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  display: block;
  padding: 0 .75em;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
}
/* line 201, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-links {
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5em;
}
/* line 207, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-links > * {
  text-align: center;
  width: 2em;
}
/* line 213, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title {
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  /*important*/
  min-width: 0;
  overflow: hidden;
}
/* line 228, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover {
  width: 30%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 231, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list {
  background: #222;
  text-align: left;
  position: absolute;
  bottom: -1em;
  padding-bottom: 1em;
}
/* line 237, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  line-height: 2.5em;
}
/* line 245, ../scss/wpsstm-default-style.scss */
#wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:not(:hover) [data-wpsstm-source-idx]:not(.source-active) {
  display: none;
}
