/* line 5, ../scss/wpsstm-frontend-wizard.scss */
.wpsstm-ellipsis, #wpsstm-frontend-wizard-recent > ul li a > * {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 8, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list, #wpsstm-wizard-services ul {
  list-style: none;
  display: inline;
}
/* line 11, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list > li, #wpsstm-wizard-services ul > li {
  display: inline;
}
/* line 13, ../scss/wpsstm-frontend-wizard.scss */
ul.comma-list > li:not(:last-child):after, #wpsstm-wizard-services ul > li:not(:last-child):after {
  content: ", ";
}

/* line 21, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}

/* line 26, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent {
  font-size: .8em;
}
/* line 28, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 32, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li {
  position: relative;
  line-height: 1em;
  line-height: 1.5em;
}
/* line 36, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li a {
  display: -webkit-flex;
  display: flex;
}
/* line 38, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-frontend-wizard-recent > ul li a strong {
  margin-right: .25em;
}

/* line 50, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-services {
  font-size: .8em;
}
/* line 52, ../scss/wpsstm-frontend-wizard.scss */
#wpsstm-wizard-services ul {
  margin: 0;
  padding: 0;
}
