/* line 3, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length {
  display: block;
  text-align: center;
}
/* line 7, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length button {
  cursor: pointer;
  cursor: hand;
  font-size: 1.5em;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 17, ../scss/_shared.scss */
.wpsstm-toggle-tracklist-length button:hover {
  background: none;
  color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 4, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) {
  padding-left: .5em;
}
/* line 7, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}
/* line 13, ../scss/_pure-tree.scss */
.pure-tree li {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}
/* line 16, ../scss/_pure-tree.scss */
.pure-tree li > label {
  line-height: 1em;
  display: inline;
  padding-right: .5em;
}
/* line 21, ../scss/_pure-tree.scss */
.pure-tree li.checkbox-tree-parent > label:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f114";
  margin-right: .25em;
}
/* line 26, ../scss/_pure-tree.scss */
.pure-tree li label {
  cursor: pointer;
  color: #717780;
}
/* line 33, ../scss/_pure-tree.scss */
.pure-tree li label:hover {
  color: #434a58;
  border-bottom-color: #434a58;
}
/* line 43, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a {
  padding: 1.500em 1.125em 0.750em 0;
  display: block;
  border-radius: .2em;
  color: #717780;
  text-decoration: none;
}
/* line 50, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a:hover {
  color: #434a58;
}
/* line 56, ../scss/_pure-tree.scss */
.pure-tree.nested {
  padding-left: 1.7em;
}
/* line 60, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"] {
  display: none;
}
/* line 63, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked + label:before {
  content: "\f115";
}
/* line 66, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked ~ ul > li {
  height: auto;
}

/* line 6, ../scss/wpsstm-admin.scss */
input[type="checkbox"].checkbox-status:not(checked) ~ .watch-checkbox {
  display: none;
}
/* line 10, ../scss/wpsstm-admin.scss */
input[type="checkbox"].checkbox-status:checked ~ .watch-checkbox {
  display: inherit;
}

/* line 17, ../scss/wpsstm-admin.scss */
.wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

/* line 31, ../scss/wpsstm-admin.scss */
.wp-list-table .mbz-id {
  color: silver;
  font-size: 0.8em;
}
/* line 35, ../scss/wpsstm-admin.scss */
.wp-list-table .mbz-disambiguation {
  font-style: italic;
  font-size: 0.9em;
}

/* line 42, ../scss/wpsstm-admin.scss */
#mbid-value, #mbid-do-lookup {
  text-align: center;
}

/* line 47, ../scss/wpsstm-admin.scss */
.postbox#wpsstm-artist, .postbox#wpsstm-track, .postbox#wpsstm-album, .postbox#wpsstm-mbid {
  background: none;
  border: none;
  box-shadow: none;
}
/* line 52, ../scss/wpsstm-admin.scss */
.postbox#wpsstm-artist > h2, .postbox#wpsstm-track > h2, .postbox#wpsstm-album > h2, .postbox#wpsstm-mbid > h2 {
  display: none;
}
/* line 55, ../scss/wpsstm-admin.scss */
.postbox#wpsstm-artist > button.handlediv, .postbox#wpsstm-track > button.handlediv, .postbox#wpsstm-album > button.handlediv, .postbox#wpsstm-mbid > button.handlediv {
  display: none;
}
/* line 67, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mbdata ul li span {
  font-weight: bold;
}
/* line 69, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mbdata ul li span:after {
  content: " ";
}
/* line 77, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions {
  margin-top: 1em;
  position: relative;
  text-align: center;
}
/* line 82, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions a {
  margin: .5em auto;
  display: block;
  max-width: 75%;
}
/* line 88, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions p.submit {
  text-align: center;
  margin: .5em 0;
  padding: 0;
}
/* line 104, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mb_entries > span {
  font-weight: bold;
}
/* line 108, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mb_entries #wpsstm-mb-section-data {
  display: none;
}
/* line 115, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mb_entries table.wp-list-table {
  border: none;
}
/* line 117, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mb_entries table.wp-list-table .column-score {
  width: 10%;
}
/* line 129, ../scss/wpsstm-admin.scss */
.postbox#wpsstm_mb_entries.table-mbz-summary table.wp-list-table tfoot {
  display: none;
}

/* line 141, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 150, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 155, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 159, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 162, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 167, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 171, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 178, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 183, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 187, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 190, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 200, ../scss/wpsstm-admin.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}
