@charset "UTF-8";
@-moz-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes highlight {
  0% {
    background-color: rgba(224, 255, 226, 0);
  }
  25% {
    background-color: #e0ffe2;
  }
  100% {
    background-color: rgba(224, 255, 226, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* line 55, ../scss/_wpsstm-shared.scss */
ul.comma-list {
  list-style: none;
  display: inline;
}
/* line 58, ../scss/_wpsstm-shared.scss */
ul.comma-list > li {
  display: inline;
}
/* line 60, ../scss/_wpsstm-shared.scss */
ul.comma-list > li:not(:last-child):after {
  content: ", ";
}

/* line 67, ../scss/_wpsstm-shared.scss */
input.input-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 72, ../scss/_wpsstm-shared.scss */
input.wpsstm-fullwidth {
  width: 100%;
}

/* line 80, ../scss/_wpsstm-shared.scss */
.wpsstm-no-underline, #wpsstm-importer .wpsstm-debug-log-bt .wpsstm-debug-log-icon {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 85, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .wpsstm-icon-input [type="submit"], .ui-tabs ul.ui-tabs-nav li.ui-state-default {
  cursor: pointer;
  cursor: hand;
}

/* line 90, ../scss/_wpsstm-shared.scss */
.wpsstm-freeze, input.input-loading, input[type='checkbox'][readonly], #wpsstm-importer .wpsstm-debug-log-bt.wpsstm-loading .wpsstm-debug-log-icon {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 96, ../scss/_wpsstm-shared.scss */
.wpsstm-icon:before, .wpsstm-loading-icon:before, #wpsstm-importer .wpsstm-debug-log-bt.wpsstm-loading .wpsstm-debug-log-icon:before, .wpsstm-action-icon a:before, #wpsstm-importer .wpsstm-debug-log-bt .wpsstm-debug-log-icon:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'FontAwesome';
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
}

/* line 108, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-icon:before, #wpsstm-importer .wpsstm-debug-log-bt.wpsstm-loading .wpsstm-debug-log-icon:before {
  animation: spin 2s linear infinite;
  content: "" !important;
}

/* line 117, ../scss/_wpsstm-shared.scss */
.wpsstm-action-icon a:before {
  margin-right: 0;
}
/* line 120, ../scss/_wpsstm-shared.scss */
.wpsstm-action-icon a > span {
  display: none;
}

/* line 126, ../scss/_wpsstm-shared.scss */
.wpsstm-ellipsis, #frontend-importer #wpsstm-frontend-importer-recent ul li a > * {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 130, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input {
  position: relative;
  margin: 0.5em;
}
/* line 133, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input input {
  padding: 0.5em;
}
/* line 135, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input input[type="text"] {
  padding-right: 4em;
}
/* line 140, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input [type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
/* line 146, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input [type="submit"].wpsstm-icon-button {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2em;
}

/* line 155, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice {
  background: #fff3d4;
  border: 0px solid #f6b73c;
  border-left-width: 5px;
  padding: .75em;
  position: relative;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
}
/* line 163, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice > * {
  flex: 1;
}
/* line 165, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice > *.wpsstm-close-notice {
  flex-grow: 0;
  text-align: center;
}

/* line 172, ../scss/_wpsstm-shared.scss */
.wpsstm-align-both {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 7, ../scss/wpsstm-importer.scss */
#wpsstm-importer h3 {
  font-weight: bold;
}
/* line 14, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-row {
  display: -webkit-flex;
  display: flex;
  padding: .25em 0;
}
/* line 18, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-row > *.wpsstm-importer-row-label {
  margin: 0;
  padding: 0;
}
/* line 22, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-row > *.wpsstm-importer-row-content {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 2em;
}
/* line 30, ../scss/wpsstm-importer.scss */
#wpsstm-importer input[type="text"], #wpsstm-importer input[type="number"] {
  padding: .5em;
}
/* line 34, ../scss/wpsstm-importer.scss */
#wpsstm-importer button[type="submit"] {
  margin: 1em auto;
  display: block;
}
/* line 39, ../scss/wpsstm-importer.scss */
#wpsstm-importer pre.wpsstm-raw, #wpsstm-importer pre.wpsstm-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 50, ../scss/wpsstm-importer.scss */
#wpsstm-importer pre.wpsstm-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 54, ../scss/wpsstm-importer.scss */
#wpsstm-importer pre.wpsstm-raw code {
  background: none;
}
/* line 59, ../scss/wpsstm-importer.scss */
#wpsstm-importer .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 63, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-selector-toggle-advanced {
  text-decoration: none;
}
/* line 67, ../scss/wpsstm-importer.scss */
#wpsstm-importer #wpsstm-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 72, ../scss/wpsstm-importer.scss */
#wpsstm-importer #wpsstm-importer-sections-header {
  clear: both;
  overflow: auto;
}
/* line 75, ../scss/wpsstm-importer.scss */
#wpsstm-importer #wpsstm-importer-sections-header li {
  display: inline-block;
}
/* line 77, ../scss/wpsstm-importer.scss */
#wpsstm-importer #wpsstm-importer-sections-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 87, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-section-label {
  margin: 1em;
}
/* line 91, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section input:disabled {
  color: #CCC;
}
/* line 95, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 99, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector input[type="text"] {
  flex-grow: 1;
}
/* line 103, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced {
  display: none;
}
/* line 105, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced.active {
  display: block;
}
/* line 108, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced .wpsstm-importer-track-selector-desc {
  padding: 1em;
  font-style: italic;
}
/* line 111, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced .wpsstm-importer-track-selector-desc code {
  font-style: normal;
}
/* line 116, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced table td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 121, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced table .wpsstm-importer-selector-regex {
  display: -webkit-flex;
  display: flex;
  color: lightgrey;
}
/* line 124, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section .wpsstm-importer-selector .wpsstm-importer-selector-advanced table .wpsstm-importer-selector-regex input {
  color: #999;
}
/* line 133, ../scss/wpsstm-importer.scss */
#wpsstm-importer .wpsstm-importer-section#wpsstm-importer-step-tracks-content .wpsstm-importer-selector input[type="text"] {
  min-width: 100%;
}
/* line 144, ../scss/wpsstm-importer.scss */
#wpsstm-importer.ui-tabs ul.ui-tabs-nav li.ui-state-default.ui-state-active {
  background: #f9f9f9;
}
/* line 150, ../scss/wpsstm-importer.scss */
#wpsstm-importer.ui-tabs .ui-tabs-panel {
  padding: 1em;
  background: #f9f9f9;
}
/* line 159, ../scss/wpsstm-importer.scss */
#wpsstm-importer.ui-tabs .ui-tabs ul.ui-tabs-nav li.ui-state-default.ui-state-active {
  background: #FFF;
}
/* line 165, ../scss/wpsstm-importer.scss */
#wpsstm-importer.ui-tabs .ui-tabs .ui-tabs-panel {
  background: #FFF;
}

/* line 190, ../scss/wpsstm-importer.scss */
#wpsstm-music-data-map .wpsstm-map-input-container span {
  display: inline-block;
  width: 40%;
  font-weight: bold;
}

/* line 203, ../scss/wpsstm-importer.scss */
.ui-tabs ul.ui-tabs-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 207, ../scss/wpsstm-importer.scss */
.ui-tabs ul.ui-tabs-nav li.ui-state-default {
  margin-bottom: 0;
  padding: 10px 15px;
  display: inline-block;
}
/* line 215, ../scss/wpsstm-importer.scss */
.ui-tabs .ui-tabs-panel {
  display: none;
  padding: 15px;
}
/* line 218, ../scss/wpsstm-importer.scss */
.ui-tabs .ui-tabs-panel.current {
  display: inherit;
}

/* line 226, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-services ul {
  margin: 0;
  padding: 0;
}
/* line 229, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-services ul li {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 234, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-services ul li img {
  width: 100%;
  height: auto;
}
/* line 245, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-bangs ul {
  list-style: none;
}
/* line 250, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-bangs > ul > li {
  margin-top: 1em;
}
/* line 254, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-importer-bangs .wpsstm-bang-desc {
  font-size: .8em;
}
/* line 260, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-frontend-importer-recent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 264, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-frontend-importer-recent ul li {
  position: relative;
  line-height: 1em;
  line-height: 1.5em;
}
/* line 268, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-frontend-importer-recent ul li a {
  display: -webkit-flex;
  display: flex;
}
/* line 270, ../scss/wpsstm-importer.scss */
#frontend-importer #wpsstm-frontend-importer-recent ul li a strong {
  margin-right: .25em;
}
