/* line 7, ../scss/_wpsstm-shared.scss */
.wpsstm-no-underline {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 12, ../scss/_wpsstm-shared.scss */
.wpsstm-ellipsis, body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 16, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, #wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-action .wpsstm-source-icon {
  cursor: pointer;
  cursor: hand;
}

/* line 20, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el, body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li.loading, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li.loading, body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list.loading, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list.loading, #wpsstm-track-admin-sources form.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 25, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 31, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 36, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}
/* line 39, ../scss/_wpsstm-shared.scss */
.wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}

/* line 47, ../scss/_wpsstm-shared.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 51, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 59, ../scss/_wpsstm-shared.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 67, ../scss/_wpsstm-shared.scss */
.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 70, ../scss/_wpsstm-shared.scss */
.comma-list li, ul.wpsstm-track-loved-by-list li, ul.wpsstm-track-parents li {
  display: inline;
}
/* line 72, ../scss/_wpsstm-shared.scss */
.comma-list li:not(:last-child):after, ul.wpsstm-track-loved-by-list li:not(:last-child):after, ul.wpsstm-track-parents li:not(:last-child):after {
  content: ", ";
}

/* line 78, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 87, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 92, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 96, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 99, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 104, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 108, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 115, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 120, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 124, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 127, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 137, ../scss/_wpsstm-shared.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/*
Thickbox popups
*/
/* line 9, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin header, body.wpsstm_tracklist-template-admin header {
  margin: 2em 0;
}
/* line 13, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #sidebar, body.wpsstm_track-template-admin #colophon, body.wpsstm_tracklist-template-admin #sidebar, body.wpsstm_tracklist-template-admin #colophon {
  display: none;
}
/* line 16, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #content, body.wpsstm_tracklist-template-admin #content {
  width: 100%;
  margin: 0;
}
/* line 20, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #main, body.wpsstm_tracklist-template-admin #main {
  margin: 0;
  padding: 0;
}
/* line 24, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #wpadminbar, body.wpsstm_tracklist-template-admin #wpadminbar {
  display: none;
}
/* line 29, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin .hentry, body.wpsstm_tracklist-template-admin .hentry {
  margin: 0;
  padding: 0;
}
/* line 33, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul {
  list-style: none;
}
/* line 36, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active), body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 46, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists {
  position: relative;
}
/* line 48, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul {
  font-size: .8em;
  list-style: none;
}
/* line 52, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  padding: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
/* line 64, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin #wpsstm-tracklist-chooser-list #wpsstm-new-playlist-add, body.wpsstm_tracklist-template-admin #wpsstm-tracklist-chooser-list #wpsstm-new-playlist-add {
  display: none;
  margin: 1em;
  text-align: center;
}
/* line 79, ../scss/wpsstm-frontend.scss */
body.wpsstm_track-template-admin .wpsstm-submit-wrapper, body.wpsstm_tracklist-template-admin .wpsstm-submit-wrapper {
  text-align: center;
  margin: .5em 0;
}

/* line 86, ../scss/wpsstm-frontend.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 91, ../scss/wpsstm-frontend.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}

/* line 109, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source {
  position: relative;
  margin: 0;
}
/* line 114, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-icon {
  text-align: center;
  display: inline;
}
/* line 119, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-fields {
  display: inline-block;
  width: calc(100% - 6em) !important;
  position: relative;
}
/* line 124, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-fields .wpsstm-editable-source-url {
  width: 100%;
}
/* line 129, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-action {
  width: 2em;
  text-align: center;
  display: inline-block;
  padding-right: 2em;
}
/* line 134, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-action .wpsstm-source-icon {
  width: 1em;
  display: inline-block;
}
/* line 138, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source .wpsstm-source-action .wpsstm-source-icon.wpsstm-source-icon-add {
  display: none;
}
/* line 143, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source:first-of-type {
  margin-bottom: 2em;
}
/* line 146, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source:first-of-type .wpsstm-source-icon.wpsstm-source-icon-delete {
  display: none;
}
/* line 149, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source:first-of-type .wpsstm-source-icon.wpsstm-source-icon-add {
  display: initial;
}
/* line 154, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source[data-wpsstm-autosource="1"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 157, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source[data-wpsstm-autosource="1"] .wpsstm-source-icon.wpsstm-source-icon-delete {
  display: none;
}
/* line 160, ../scss/wpsstm-frontend.scss */
#wpsstm-track-admin-sources .wpsstm-sources-edit-list .wpsstm-source[data-wpsstm-autosource="1"] .wpsstm-source-icon.wpsstm-source-icon-add {
  display: initial;
}
