/* line 2, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-simple, body .postbox#wpsstm-scraper-advanced {
  position: relative;
}
/* line 4, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-simple .inside, body .postbox#wpsstm-scraper-advanced .inside {
  overflow: auto;
}
/* line 7, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-simple input.fullwidth, body .postbox#wpsstm-scraper-advanced input.fullwidth {
  width: 100%;
}
/* line 16, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced table#wizard-regexes {
  width: 100%;
}
/* line 18, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced table#wizard-regexes tr:first-child, body .postbox#wpsstm-scraper-advanced table#wizard-regexes td:first-child {
  width: 70%;
}
/* line 23, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced pre.spiff-raw, body .postbox#wpsstm-scraper-advanced pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 35, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 39, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
/* line 42, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li {
  display: inline-block;
}
/* line 44, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs #wpsstm-wizard-tabs-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 51, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector input[type="text"] {
  min-width: 50%;
}
/* line 54, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row {
  display: none;
}
/* line 56, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row.active {
  display: table;
}
/* line 59, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 65, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field:before {
  text-align: center;
  width: 20px;
  content: '~';
}
/* line 70, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field:after {
  text-align: center;
  width: 20px;
  content: '~m';
}
/* line 75, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content .wizard-selector .regex-row .regex-field input {
  width: 90%;
  color: #999;
}
/* line 84, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #wpsstm-wizard-tabs .wpsstm-wizard-step-content#wpsstm-wizard-step-tracks-content .wizard-selector input[type="text"] {
  min-width: 100%;
}
/* line 91, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced .regex-link {
  text-decoration: none;
}
/* line 95, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 100, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 104, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced pre.spiff-raw code {
  background: none;
}
/* line 108, ../scss/wpsstm-admin-metabox-scraper.scss */
body .postbox#wpsstm-scraper-advanced .ui-tabs-panel > h3:first-of-type {
  display: none;
}
