/* line 4, ../scss/_wpsstm-shared.scss */
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 10, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-link {
  text-decoration: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* line 16, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click {
  cursor: pointer;
  cursor: hand;
}

/* line 20, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-el, ul.wpsstm-actions-list li.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 25, ../scss/_wpsstm-shared.scss */
.wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

/* line 36, ../scss/_wpsstm-shared.scss */
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 41, ../scss/_wpsstm-shared.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
}
/* line 47, ../scss/_wpsstm-shared.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 52, ../scss/_wpsstm-shared.scss */
.wpsstm-notice.active {
  display: block;
}

/* line 58, ../scss/_wpsstm-shared.scss */
.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 61, ../scss/_wpsstm-shared.scss */
.comma-list li, ul.wpsstm-track-loved-by-list li, ul.wpsstm-track-parents li {
  display: inline;
}
/* line 63, ../scss/_wpsstm-shared.scss */
.comma-list li:not(:last-child):after, ul.wpsstm-track-loved-by-list li:not(:last-child):after, ul.wpsstm-track-parents li:not(:last-child):after {
  content: ", ";
}

/* line 69, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list {
  list-style: none;
}
/* line 72, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li {
  display: inline-block;
}
/* line 76, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li a label {
  padding-left: .25em;
}
/* line 84, ../scss/_wpsstm-shared.scss */
ul.wpsstm-actions-list li.error, ul.wpsstm-actions-list li.error a {
  color: red;
}

/*
Thickbox popups
*/
/* line 99, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin header, body.wpsstm_tracklist-template-admin header {
  margin: 2em 0;
}
/* line 103, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #sidebar, body.wpsstm_track-template-admin #colophon, body.wpsstm_tracklist-template-admin #sidebar, body.wpsstm_tracklist-template-admin #colophon {
  display: none;
}
/* line 106, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #content, body.wpsstm_tracklist-template-admin #content {
  width: 100%;
  margin: 0;
}
/* line 110, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #main, body.wpsstm_tracklist-template-admin #main {
  margin: 0;
  padding: 0;
}
/* line 114, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin #wpadminbar, body.wpsstm_tracklist-template-admin #wpadminbar {
  display: none;
}
/* line 119, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry, body.wpsstm_tracklist-template-admin .hentry {
  margin: 0;
  padding: 0;
}
/* line 123, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul {
  list-style: none;
}
/* line 125, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li, body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li {
  display: inline;
}
/* line 127, ../scss/_wpsstm-shared.scss */
body.wpsstm_track-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active), body.wpsstm_tracklist-template-admin .hentry #track-popup-tabs > ul li:not(.ui-state-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 136, ../scss/_wpsstm-shared.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 141, ../scss/_wpsstm-shared.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}

/* line 4, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) {
  padding-left: .5em;
}
/* line 7, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}
/* line 13, ../scss/_pure-tree.scss */
.pure-tree li {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}
/* line 16, ../scss/_pure-tree.scss */
.pure-tree li > label {
  line-height: 1em;
  display: inline;
  padding-right: .5em;
}
/* line 21, ../scss/_pure-tree.scss */
.pure-tree li.checkbox-tree-parent > label:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f114";
  margin-right: .25em;
}
/* line 26, ../scss/_pure-tree.scss */
.pure-tree li label {
  cursor: pointer;
  color: #717780;
}
/* line 33, ../scss/_pure-tree.scss */
.pure-tree li label:hover {
  color: #434a58;
  border-bottom-color: #434a58;
}
/* line 43, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a {
  padding: 1.500em 1.125em 0.750em 0;
  display: block;
  border-radius: .2em;
  color: #717780;
  text-decoration: none;
}
/* line 50, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a:hover {
  color: #434a58;
}
/* line 56, ../scss/_pure-tree.scss */
.pure-tree.nested {
  padding-left: 1.7em;
}
/* line 60, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"] {
  display: none;
}
/* line 63, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked + label:before {
  content: "\f115";
}
/* line 66, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked ~ ul > li {
  height: auto;
}

/* line 8, ../scss/wpsstm-backend.scss */
body.post-type-wpsstm_artist #titlewrap label[for=title], body.post-type-wpsstm_artist #titlewrap input#title, body.post-type-wpsstm_release #titlewrap label[for=title], body.post-type-wpsstm_release #titlewrap input#title, body.post-type-wpsstm_track #titlewrap label[for=title], body.post-type-wpsstm_track #titlewrap input#title {
  display: none;
}

/* line 17, ../scss/wpsstm-backend.scss */
input[type="checkbox"].checkbox-status:not(checked) ~ .watch-checkbox {
  display: none;
}
/* line 21, ../scss/wpsstm-backend.scss */
input[type="checkbox"].checkbox-status:checked ~ .watch-checkbox {
  display: inherit;
}

/* line 26, ../scss/wpsstm-backend.scss */
#wpsstm-promo-notice {
  padding: .75em;
  border-bottom: 1px solid #DDD;
}

/* line 32, ../scss/wpsstm-backend.scss */
.wp-list-table .mbz-id {
  color: silver;
  font-size: 0.8em;
}
/* line 36, ../scss/wpsstm-backend.scss */
.wp-list-table .mbz-disambiguation {
  font-style: italic;
  font-size: 0.9em;
}

/* line 43, ../scss/wpsstm-backend.scss */
#mbid-value, #mbid-do-lookup {
  text-align: center;
}

/* line 48, ../scss/wpsstm-backend.scss */
.postbox#wpsstm-artist, .postbox#wpsstm-track, .postbox#wpsstm-album, .postbox#wpsstm-mbid {
  background: none;
  border: none;
  box-shadow: none;
}
/* line 53, ../scss/wpsstm-backend.scss */
.postbox#wpsstm-artist > h2, .postbox#wpsstm-track > h2, .postbox#wpsstm-album > h2, .postbox#wpsstm-mbid > h2 {
  display: none;
}
/* line 56, ../scss/wpsstm-backend.scss */
.postbox#wpsstm-artist > button.handlediv, .postbox#wpsstm-track > button.handlediv, .postbox#wpsstm-album > button.handlediv, .postbox#wpsstm-mbid > button.handlediv {
  display: none;
}
/* line 68, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span {
  font-weight: bold;
}
/* line 70, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span:after {
  content: " ";
}
/* line 78, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions {
  margin-top: 1em;
  position: relative;
  text-align: center;
}
/* line 83, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions a {
  margin: .5em auto;
  display: block;
  max-width: 75%;
}
/* line 89, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions p.submit {
  text-align: center;
  margin: .5em 0;
  padding: 0;
}
/* line 105, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mb_entries > span {
  font-weight: bold;
}
/* line 109, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mb_entries #wpsstm-mb-section-data {
  display: none;
}
/* line 116, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table {
  border: none;
}
/* line 118, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table .column-score {
  width: 10%;
}
/* line 130, ../scss/wpsstm-backend.scss */
.postbox#wpsstm_mb_entries.table-mbz-summary table.wp-list-table tfoot {
  display: none;
}

/* line 142, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 151, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 156, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 160, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 163, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 168, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 172, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 179, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 184, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 188, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 191, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 201, ../scss/wpsstm-backend.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}
