@charset "UTF-8";
/*
MINIMAL STYLES
*/
/* line 9, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.tracklist-loading #wpsstm-tracklist-actions, .wpsstm-tracklist.tracklist-loading body.wpsstm-popup ul.wpsstm-actions-list, body.wpsstm-popup .wpsstm-tracklist.tracklist-loading ul.wpsstm-actions-list {
  pointer-events: none;
}
/* line 13, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.wpsstm-loved-tracklist) #wpsstm-tracklist-action-unfavorite {
  display: none !important;
}
/* line 18, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist.wpsstm-loved-tracklist #wpsstm-tracklist-action-favorite {
  display: none !important;
}
/* line 23, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist:not(.tracklist-expired) #wpsstm-tracklist-action-refresh {
  pointer-events: none;
}

/* line 33, ../scss/_wpsstm-tracklists.scss */
ul#wpsstm-tracklist-actions li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form, body.wpsstm-popup ul.wpsstm-actions-list li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form, ul#wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form, body.wpsstm-popup ul.wpsstm-actions-list ul#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch form, body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form {
  display: none;
}
/* line 37, ../scss/_wpsstm-tracklists.scss */
ul#wpsstm-tracklist-actions li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch.expanded em, body.wpsstm-popup ul.wpsstm-actions-list li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch.expanded em, ul#wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch.expanded em, body.wpsstm-popup ul.wpsstm-actions-list ul#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch.expanded em, body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch.expanded em {
  display: none;
}
/* line 40, ../scss/_wpsstm-tracklists.scss */
ul#wpsstm-tracklist-actions li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch.expanded form, body.wpsstm-popup ul.wpsstm-actions-list li.wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch.expanded form, ul#wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch.expanded form, body.wpsstm-popup ul.wpsstm-actions-list ul#wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch.expanded form, body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch.expanded form {
  display: inline-block;
}

/*
DEFAULT STYLES
*/
/* line 55, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist {
  position: relative;
  font-family: sans-serif;
  font-size: 0.8em;
}
/* line 61, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist .tracklist-header {
  border-bottom: 1px solid #F7F7F7;
  padding: .25em;
}
/* line 64, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist .tracklist-header ul#wpsstm-tracklist-actions, body.wpsstm-default .wpsstm-tracklist .tracklist-header body.wpsstm-popup ul.wpsstm-actions-list, body.wpsstm-popup body.wpsstm-default .wpsstm-tracklist .tracklist-header ul.wpsstm-actions-list {
  text-align: center;
  font-size: .8em;
}
/* line 71, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist .wpsstm-tracklist-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
}
/* line 79, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-loading #wpsstm-tracklist-actions, body.wpsstm-default .wpsstm-tracklist.tracklist-loading body.wpsstm-popup ul.wpsstm-actions-list, body.wpsstm-popup body.wpsstm-default .wpsstm-tracklist.tracklist-loading ul.wpsstm-actions-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 84, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist:not(.tracklist-playing) .wpsstm-tracklist-icon:before, body.wpsstm-default .wpsstm-tracklist.tracklist-pause .wpsstm-tracklist-icon:before {
  content: "\f04b";
}
/* line 88, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-playing .wpsstm-tracklist-icon:before {
  content: "\f04c";
}
/* line 92, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-error .wpsstm-tracklist-icon:before {
  content: "\f071";
}
/* line 97, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist:not(.tracklist-expired) #wpsstm-tracklist-action-refresh {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 104, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed:not(.tracklist-refresh) #wpsstm-notice-ajax-refresh {
  display: none;
}
/* line 109, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > * {
  display: none;
}
/* line 111, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > *.tracklist-header, body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > *.wpsstm-tracklist-notices {
  display: inherit;
}
/* line 114, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > *.wpsstm-tracklist-notices > * {
  display: none;
}
/* line 116, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > *.wpsstm-tracklist-notices > *#wpsstm-notice-ajax-refresh {
  display: inherit;
}
/* line 120, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist.tracklist-ajaxed.tracklist-refresh > * .wpsstm-tracklist-time {
  display: none;
}
/* line 128, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list {
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: none;
}
/* line 133, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list th, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list td {
  padding: 0;
  margin: 0;
}
/* line 141, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list td, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list th {
  border: none;
  outline: none;
}
/* line 147, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list .wpsstm-tracks-list-header {
  display: none;
}
/* line 150, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 151, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td {
  padding: .5em 0;
}
/* line 154, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-image, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-image {
  width: 2em;
  box-sizing: content-box;
}
/* line 158, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-position, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-position {
  width: 2em;
}
/* line 161, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-play-bt, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-play-bt {
  width: 2em;
}
/* line 166, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info [itemprop="byArtist"], body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 169, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info [itemprop="inAlbum"], body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 181, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th {
  text-align: center;
}
/* line 185, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-column-identical-value {
  display: none;
}
/* line 193, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr:hover {
  background: rgba(0, 0, 0, 0.02);
}
/* line 197, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 200, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr > * {
  vertical-align: middle;
}
/* line 203, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-image, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-position, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-play-bt, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-actions, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-sources {
  text-align: center;
}
/* line 206, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr .wpsstm-track-image {
  box-sizing: content-box;
}
/* line 215, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list {
  display: block;
  margin: 1em;
  list-style: none;
  line-height: 2.8em;
}
/* line 221, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li {
  border: 1px solid #F7F7F7;
  background: #F7F7F7;
  padding: .25em .5em;
  display: inline-block;
  line-height: 1.8em;
}
/* line 228, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action:hover, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action:hover, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action:hover, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li:hover, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li:hover, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li:hover, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li:hover {
  border-color: #F7F7F7;
  background: white;
}
/* line 232, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li a:before {
  margin-right: .5em;
}
/* line 236, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-refresh a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-refresh a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-refresh a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-refresh a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-refresh a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-refresh a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-refresh a:before {
  content: "\f021";
}
/* line 239, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-share a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-share a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-share a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-share a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-share a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-share a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-share a:before {
  content: "\f1e0";
}
/* line 242, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-export a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-export a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-export a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-export a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-export a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-export a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-export a:before {
  content: "\f019";
}
/* line 247, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-favorite:not(.wpsstm-loading) a:before {
  content: "\f08a";
}
/* line 250, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-unfavorite:not(.wpsstm-loading) a:before {
  content: "\f004";
}
/* line 256, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-new-subtrack a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-new-subtrack a:before {
  content: "\f055";
}
/* line 263, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch a:before {
  content: "\f274";
}
/* line 267, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form select, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form select, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form select, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form select, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch form select, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form select, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form select {
  font-size: 1em;
}
/* line 270, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form em, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form em, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-status-switch form em, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form em, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-status-switch form em, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form em, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-status-switch form em {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 276, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-lock-tracklist a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-lock-tracklist a:before {
  content: "\f023";
}
/* line 279, ../scss/_wpsstm-tracklists.scss */
body.wpsstm-default #wpsstm-tracklist-actions .wpsstm-tracklist-action#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list .wpsstm-tracklist-action#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-default #wpsstm-tracklist-actions body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-popup ul.wpsstm-actions-list body.wpsstm-default #wpsstm-tracklist-actions li#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-default body.wpsstm-popup ul.wpsstm-actions-list li#wpsstm-tracklist-action-unlock-tracklist a:before, body.wpsstm-popup body.wpsstm-default ul.wpsstm-actions-list li#wpsstm-tracklist-action-unlock-tracklist a:before {
  content: "\f023";
}

/*
MINIMAL STYLES
*/
/* line 10, ../scss/_wpsstm-tracks.scss */
.wpsstm-tracklist:not(.tracklist-playable) [itemprop="track"] .wpsstm-track-play-bt {
  display: none;
}

/* line 17, ../scss/_wpsstm-tracks.scss */
[itemprop="track"]:not(.wpsstm-loved-track) #wpsstm-track-action-unfavorite {
  display: none;
}
/* line 22, ../scss/_wpsstm-tracks.scss */
[itemprop="track"].wpsstm-loved-track #wpsstm-track-action-favorite {
  display: none;
}

/*
DEFAULT STYLES
*/
/* line 35, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 37, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 40, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-favorite:not(.wpsstm-loading) a:before {
  content: "\f08a";
}
/* line 43, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-unfavorite:not(.wpsstm-loading) a:before {
  content: "\f004";
}
/* line 46, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-delete a:before {
  content: "\f1f8";
}
/* line 49, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-sources a:before {
  content: "\f0c2";
}
/* line 52, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-move:not(.wpsstm-loading) a:before {
  content: "\f07d";
}
/* line 55, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-playlists a:before {
  content: "\f03a";
}
/* line 58, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-edit a:before {
  content: "\f040";
}
/* line 61, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default #wpsstm-track-actions .wpsstm-track-action#wpsstm-track-action-about a:before {
  content: "\f05a";
}
/* line 71, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] ul.wpsstm-actions-list {
  width: 100%;
  display: none;
}
/* line 74, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] ul.wpsstm-actions-list li.wpsstm-track-action {
  display: inline;
}
/* line 77, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] ul.wpsstm-actions-list li.wpsstm-track-action a:before {
  margin-right: 0;
}
/* line 80, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] ul.wpsstm-actions-list li.wpsstm-track-action a > span {
  display: none;
}
/* line 88, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"]:hover .wpsstm-track-actions ul, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-active .wpsstm-track-actions ul {
  display: inherit;
}
/* line 104, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-sources [data-wpsstm-source-idx]:not(.source-playing) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 106, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-sources [data-wpsstm-source-idx]:not(.source-playing):hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 117, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"]:not(.track-playing) .wpsstm-track-icon:before {
  content: "\f04b";
}
/* line 121, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-playing .wpsstm-track-icon:before, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .track-pause .wpsstm-track-icon:before {
  content: "\f04c";
}
/* line 125, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-error .wpsstm-track-icon:before {
  content: "\f071";
}
/* line 129, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-invalid {
  color: red;
}
/* line 134, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-image img {
  height: 2em;
  width: auto;
  vertical-align: middle;
}
/* line 144, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-position .wpsstm-player-icon-loading {
  display: none;
}
/* line 147, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-position span {
  display: initial;
}
/* line 153, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-actions ul, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-sources ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 161, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-actions ul li label {
  display: none;
}
/* line 167, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].wpsstm-invalid-track {
  background: rgba(255, 0, 0, 0.1);
}
/* line 174, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list.tracklist-playable [itemprop="track"][data-wpsstm-sources-count="0"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 179, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list.tracklist-playable [itemprop="track"]:not(.track-active) td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 185, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list.tracklist-playable [itemprop="track"].track-has-played td, body.wpsstm-default .wpsstm-tracks-list.tracklist-playable [itemprop="track"]:hover td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 191, ../scss/_wpsstm-tracks.scss */
body.wpsstm-default .wpsstm-tracks-list.tracklist-playable [itemprop="track"].track-active td {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*
MINIMAL STYLES
*/
/*
DEFAULT STYLES
*/
/* line 10, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list {
  position: relative;
}
/* line 14, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  position: relative;
  display: block;
  padding: 0 .75em;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
}
/* line 24, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-links {
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5em;
}
/* line 30, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-links .wpsstm-source-action {
  text-align: center;
  width: 2em;
}
/* line 36, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title {
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  /*important*/
  min-width: 0;
  overflow: hidden;
}
/* line 50, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx].source-error .wpsstm-source-icon:before {
  content: "\f071";
}
/* line 53, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx].source-error .wpsstm-source-icon label {
  text-decoration: line-through;
}
/* line 57, ../scss/_wpsstm-sources.scss */
body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx].source-playing {
  font-weight: bold;
}

/*
MINIMAL STYLES
*/
/*
DEFAULT STYLES
*/
/* line 16, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper {
  position: fixed;
  width: 100%;
  padding: 0;
  bottom: 0;
  min-height: 0em;
  z-index: 50;
}
/* line 26, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom {
  display: none;
  background: #222;
  color: #FFF;
}
/* line 30, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom a {
  color: #FFF;
}
/* line 33, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper {
  width: 100%;
  table-layout: auto;
  padding: 0;
  margin: 0;
}
/* line 39, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td {
  padding: 0;
  margin: 0;
}
/* line 42, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td#wpsstm-bottom-track-info {
  vertical-align: top;
  border: none;
}
/* line 46, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td#wpsstm-bottom-track-info table td {
  display: inline-block;
  padding: 0 .75em;
  box-sizing: content-box;
}
/* line 53, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td#wpsstm-bottom-track-info table td.wpsstm-track-play-bt {
  display: none;
}
/* line 57, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td#wpsstm-bottom-track-info table td.wpsstm-track-title:before {
  content: "—";
  margin-right: 1.5em;
}
/* line 67, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .05em;
}
/* line 75, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-image {
  padding-left: 0 !important;
}
/* line 78, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-album {
  display: none !important;
}
/* line 81, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources {
  position: relative;
  width: 20%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 85, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources .wpsstm-track-sources-list {
  padding: 0;
  line-height: 2em;
}
/* line 91, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover {
  width: 30%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 94, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list {
  background: #222;
  text-align: left;
  position: absolute;
  bottom: -1em;
  padding-bottom: 1em;
}
/* line 100, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-track-sources-list [data-wpsstm-source-idx] {
  line-height: 2.5em;
}
/* line 104, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:hover .wpsstm-source-action {
  display: initial;
}
/* line 111, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:not(:hover) [data-wpsstm-source-idx]:not(.source-playing) {
  display: none;
}
/* line 115, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper .wpsstm-tracklist table td.wpsstm-track-sources:not(:hover) .wpsstm-source-action {
  display: none;
}
/* line 125, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-player-actions {
  padding: 0;
  margin: 0;
  margin-right: .5em;
}
/* line 132, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-player-actions .wpsstm-player-action a span {
  display: none;
}
/* line 138, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-player-actions .wpsstm-player-action:not(.wpsstm-loading)#wpsstm-player-action-scrobbler {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 140, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-player-actions .wpsstm-player-action:not(.wpsstm-loading)#wpsstm-player-action-scrobbler a:before {
  content: "\f202";
}
/* line 143, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-player-actions .wpsstm-player-action:not(.wpsstm-loading)#wpsstm-player-action-scrobbler.wpsstm-enabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 153, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 157, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper td {
  text-align: center;
  vertical-align: middle;
}
/* line 161, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper #wpsstm-player {
  width: 80%;
  margin: auto;
}
/* line 166, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper .wpsstm-player-extra#wpsstm-player-shuffle:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 169, ../scss/_wpsstm-player.scss */
body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper .wpsstm-player-extra#wpsstm-player-loop:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 179, ../scss/_wpsstm-player.scss */
body.wpsstm-default :not(#wpsstm-bottom-track-wrapper) .wpsstm-tracklist.tracklist-template-table {
  border: 1px solid #F7F7F7;
  padding: .5em 1em;
}
/* line 185, ../scss/_wpsstm-player.scss */
body.wpsstm-default :not(#wpsstm-bottom-track-wrapper) .wpsstm-tracklist.tracklist-template-table [itemprop="track"] .wpsstm-track-sources {
  display: none;
}

/* line 3, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper {
  position: relative;
}
/* line 6, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-preview-feed-url {
  text-align: center;
  font-size: 1.25em;
}
/* line 11, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw, #wizard-wrapper pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 23, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 27, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .wpsstm-wizard-selector-toggle-advanced {
  text-decoration: none;
}
/* line 31, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 36, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 40, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw code {
  background: none;
}
/* line 44, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper .ui-tabs-panel > h3:first-of-type {
  display: none;
}
/* line 48, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers {
  list-style: none;
  font-size: .75em;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
/* line 55, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper {
  width: calc(33% - 1em);
  margin: .5em;
  box-sizing: border-box;
  padding: 1em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}
/* line 63, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url {
  width: calc(100% - 1em);
}
/* line 69, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper h3 {
  margin-top: 0;
}
/* line 72, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper ul {
  list-style: none;
}
/* line 75, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper input[type=text] {
  font-size: 1em;
  text-align: center;
  background-color: white;
}
/* line 82, ../scss/_wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper:not(.wpsstm-wizard-helper-success) a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 92, ../scss/_wpsstm-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}

/* line 97, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
/* line 100, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header {
  clear: both;
  overflow: auto;
}
/* line 103, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header li {
  display: inline-block;
}
/* line 105, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections #wpsstm-wizard-sections-header li.ui-tabs-active a {
  background: white;
  border-bottom: 0;
}
/* line 114, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content#wpsstm-wizard-step-source-content table.form-table > tbody th {
  display: none;
}
/* line 119, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 50%;
}
/* line 122, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced {
  display: none;
}
/* line 124, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced.active {
  display: block;
}
/* line 127, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc {
  padding: 1em;
  font-style: italic;
}
/* line 130, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced .wpsstm-wizard-track-selector-desc code {
  font-style: normal;
}
/* line 135, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table td {
  color: #999;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}
/* line 141, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:before {
  text-align: center;
  width: 20px;
  content: '~';
}
/* line 146, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex:after {
  text-align: center;
  width: 20px;
  content: '~m';
}
/* line 151, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content .wpsstm-wizard-selector .wpsstm-wizard-selector-advanced table .wpsstm-wizard-selector-regex input {
  width: 90%;
  color: #999;
}
/* line 161, ../scss/_wpsstm-wizard.scss */
#wpsstm-wizard-sections .wpsstm-wizard-step-content#wpsstm-wizard-step-tracks-content .wpsstm-wizard-selector input[type="text"] {
  min-width: 100%;
}

@-moz-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
MINIMAL STYLES
*/
/* line 44, ../scss/wpsstm.scss */
.wpsstm-can-click, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-sources [data-wpsstm-source-idx] label, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-sources [data-wpsstm-source-idx] label, body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] label, body.wpsstm-default #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper td#wpsstm-bottom-track-info table td.wpsstm-track-position {
  cursor: pointer;
  cursor: hand;
}

/* line 48, ../scss/wpsstm.scss */
.wpsstm-loading-el, body.wpsstm-default #wpsstm-track-admin-sources form.loading, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li.loading, #wpsstm-tracklist-chooser-list.loading {
  pointer-events: none;
}

/* line 53, ../scss/wpsstm.scss */
.wpsstm-icon:before, .wpsstm-loading-icon:before, body.wpsstm-default .wpsstm-tracklist.tracklist-loading .wpsstm-tracklist-icon:before, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-loading .wpsstm-track-icon:before, body.wpsstm-default .wpsstm-tracklist-notices #wpsstm-notice-ajax-refresh:before, body.wpsstm-default ul.wpsstm-actions-list li.wpsstm-action.wpsstm-loading a:before, body.wpsstm-default .wpsstm-icon-input input[type="submit"]:before, body.wpsstm-default ul.wpsstm-actions-list li.wpsstm-action a:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'FontAwesome';
  display: inline-block;
}

/* line 60, ../scss/wpsstm.scss */
.wpsstm-icon-button {
  font-weight: normal;
  font-style: normal;
  font-family: 'FontAwesome';
}

/* line 68, ../scss/wpsstm.scss */
.wpsstm-loading-icon:before, body.wpsstm-default .wpsstm-tracklist.tracklist-loading .wpsstm-tracklist-icon:before, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"].track-loading .wpsstm-track-icon:before, body.wpsstm-default .wpsstm-tracklist-notices #wpsstm-notice-ajax-refresh:before, body.wpsstm-default ul.wpsstm-actions-list li.wpsstm-action.wpsstm-loading a:before {
  animation: spin 2s linear infinite;
  margin-right: .25em;
  content: "\f1ce";
  width: 1.28571429em;
  text-align: center;
}

/* line 78, ../scss/wpsstm.scss */
.toggle-children-container .wpsstm-tracklist {
  margin: 0;
}
/* line 82, ../scss/wpsstm.scss */
.toggle-children-container .toggle-children-link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 90, ../scss/wpsstm.scss */
.toggle-children-container .toggle-children-link small {
  font-size: .5em;
  line-height: 1em;
  vertical-align: middle;
}

/* line 98, ../scss/wpsstm.scss */
.wpsstm-pc-bar {
  position: relative;
  display: block;
  background-color: rgba(204, 204, 204, 0.4);
  clear: both;
  width: 100%;
  height: 1.3em;
  line-height: 1.3em;
}
/* line 107, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill {
  display: block;
  height: 100%;
  text-align: left;
  position: relative;
}
/* line 112, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 116, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-yellow {
  background-color: #FFE000;
}
/* line 119, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-fill-color.wpsstm-pc-bar-fill-red {
  background-color: red;
}
/* line 124, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text {
  margin: auto;
  display: block;
  text-align: center;
}
/* line 128, ../scss/wpsstm.scss */
.wpsstm-pc-bar .wpsstm-pc-bar-fill .wpsstm-pc-bar-text i.fa {
  padding: 0 0.5em;
}
/* line 135, ../scss/wpsstm.scss */
.wpsstm-pc-bar.color-light .wpsstm-pc-bar-text {
  color: white;
}
/* line 140, ../scss/wpsstm.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill {
  width: 100% !important;
}
/* line 144, ../scss/wpsstm.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-fill-color, .wpsstm-pc-bar.empty .wpsstm-pc-bar-fill-color {
  display: none;
}
/* line 147, ../scss/wpsstm.scss */
.wpsstm-pc-bar.offline .wpsstm-pc-bar-text, .wpsstm-pc-bar.empty .wpsstm-pc-bar-text {
  color: inherit;
  font-size: 0.8em;
}
/* line 157, ../scss/wpsstm.scss */
.wpsstm-pc-bar.incomplete .wpsstm-pc-bar-text {
  text-align: right;
}

/*
DEFAULT STYLES
*/
/* line 170, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-no-underline, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-play-bt a, body.wpsstm-default .wpsstm-tracks-list [itemprop="track"] .wpsstm-track-sources a, body.wpsstm-default ul.wpsstm-actions-list li.wpsstm-action a {
  text-decoration: none;
  border-bottom: none !important;
}
/* line 174, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-ellipsis, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr th.wpsstm-track-info, body.wpsstm-default .wpsstm-tracklist table.wpsstm-tracks-list tr td.wpsstm-track-info, body.wpsstm-default .wpsstm-track-sources-list [data-wpsstm-source-idx] .wpsstm-source-title, body.wpsstm-default #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul body.wpsstm-default li {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 177, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-loading-el, body.wpsstm-default #wpsstm-track-admin-sources form.loading, body.wpsstm-default #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li.loading, #wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul body.wpsstm-default li.loading, body.wpsstm-default #wpsstm-tracklist-chooser-list.loading {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 182, ../scss/wpsstm.scss */
body.wpsstm-default input.wpsstm-fullwidth {
  width: 100%;
}
/* line 185, ../scss/wpsstm.scss */
body.wpsstm-default input[type="text"].wpsstm-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 190, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-icon-input {
  position: relative;
  margin: 0.5em;
}
/* line 193, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-icon-input input {
  padding: 0.5em;
  line-height: 1em;
  height: 100%;
}
/* line 197, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-icon-input input[type="text"] {
  padding-right: 4em;
}
/* line 200, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-icon-input input[type="submit"] {
  width: 4em;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: hand;
  cursor: pointer;
}
/* line 212, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-icon-input.wpsstm-loading input[type="text"] {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 218, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-tracklist-notices {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: .5em 0;
}
/* line 224, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-tracklist-notices #wpsstm-notice-ajax-refresh {
  background: none;
  -moz-animation: opacityPulse 2s infinite ease-out;
  -webkit-animation: opacityPulse 2s infinite ease-out;
  animation: opacityPulse 2s infinite ease-out;
  opacity: 1;
  font-size: 1em;
}
/* line 234, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-notice {
  font-size: 0.8em;
  padding: .5em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
  margin: .5em 0;
}
/* line 241, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 246, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-notice.active {
  display: block;
}
/* line 253, ../scss/wpsstm.scss */
body.wpsstm-default .wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}
/* line 261, ../scss/wpsstm.scss */
body.wpsstm-default ul.comma-list, body.wpsstm-default ul.wpsstm-track-loved-by-list, body.wpsstm-default ul.wpsstm-track-parents, body.wpsstm-default #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url ul, #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url body.wpsstm-default ul {
  list-style: none;
  display: inline;
}
/* line 264, ../scss/wpsstm.scss */
body.wpsstm-default ul.comma-list li, body.wpsstm-default ul.wpsstm-track-loved-by-list li, body.wpsstm-default ul.wpsstm-track-parents li, body.wpsstm-default #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url ul li, #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url body.wpsstm-default ul li {
  display: inline;
}
/* line 266, ../scss/wpsstm.scss */
body.wpsstm-default ul.comma-list li:not(:last-child):after, body.wpsstm-default ul.wpsstm-track-loved-by-list li:not(:last-child):after, body.wpsstm-default ul.wpsstm-track-parents li:not(:last-child):after, body.wpsstm-default #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url ul li:not(:last-child):after, #wizard-wrapper #wpsstm-wizard-helpers .wpsstm-wizard-helper#wpsstm-wizard-helper-tracklist-url body.wpsstm-default ul li:not(:last-child):after {
  content: ", ";
}
/* line 272, ../scss/wpsstm.scss */
body.wpsstm-default ul.wpsstm-actions-list {
  list-style: none;
}
/* line 284, ../scss/wpsstm.scss */
body.wpsstm-default ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 303, ../scss/wpsstm.scss */
body.wpsstm-default ul.ui-autocomplete li.ui-menu-item {
  padding: 0 .5em;
  line-height: 2em;
  font-size: .8em;
}
/* line 307, ../scss/wpsstm.scss */
body.wpsstm-default ul.ui-autocomplete li.ui-menu-item.ui-state-focus {
  background: #F7F7F7;
}

/*
Thickbox popups
*/
/* line 9, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup header {
  margin: 2em 0;
}
/* line 13, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup #sidebar, body.wpsstm-popup #colophon {
  display: none;
}
/* line 16, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup #content {
  width: 100%;
  margin: 0;
}
/* line 20, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup #main {
  margin: 0;
  padding: 0;
}
/* line 24, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup #wpadminbar {
  display: none;
}
/* line 29, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup .hentry {
  margin: 0;
  padding: 0;
}
/* line 33, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup .hentry #track-popup-tabs > ul {
  list-style: none;
}
/* line 36, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup .hentry #track-popup-tabs > ul li:not(.ui-state-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 45, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup .wpsstm-submit-wrapper {
  text-align: center;
  margin: .5em 0;
}
/* line 50, ../scss/wpsstm-frontend.scss */
body.wpsstm-popup ul.wpsstm-actions-list {
  border-bottom: 1px solid #F7F7F7;
  padding-bottom: 1em;
  text-align: center;
}

/* line 65, ../scss/wpsstm-frontend.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists {
  position: relative;
}
/* line 67, ../scss/wpsstm-frontend.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul {
  font-size: .8em;
  list-style: none;
}
/* line 71, ../scss/wpsstm-frontend.scss */
#wpsstm-tracklist-chooser-list #wpsstm-filter-playlists ul li {
  padding: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
/* line 83, ../scss/wpsstm-frontend.scss */
#wpsstm-tracklist-chooser-list #wpsstm-new-playlist-add {
  display: none;
  margin: 1em;
  text-align: center;
}

/* line 97, ../scss/wpsstm-frontend.scss */
#TB_window {
  font-family: sans-serif;
}
/* line 102, ../scss/wpsstm-frontend.scss */
#TB_window #TB_ajaxContent {
  margin: 0;
  padding: 1em;
}
