/* line 3, ../scss/wpsstm-player.scss */
.truncate, #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="name"]:before, #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="byArtist"], #wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="inAlbum"] {
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

/* line 11, ../scss/wpsstm-player.scss */
[itemprop="track"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 12, ../scss/wpsstm-player.scss */
[itemprop="track"] [itemprop="byArtist"] {
  font-weight: bold;
}
/* line 17, ../scss/wpsstm-player.scss */
[itemprop="track"] [itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 24, ../scss/wpsstm-player.scss */
[itemprop="track"] .trackitem_order .wpsstm-player-icon-buffering {
  display: none;
}
/* line 27, ../scss/wpsstm-player.scss */
[itemprop="track"] .trackitem_order span {
  display: initial;
}
/* line 34, ../scss/wpsstm-player.scss */
[itemprop="track"] .wpsstm-player-sources-list li:not(.wpsstm-bad-source) .wpsstm-source-error {
  display: none;
}
/* line 40, ../scss/wpsstm-player.scss */
[itemprop="track"].buffering {
  pointer-events: none;
}
/* line 43, ../scss/wpsstm-player.scss */
[itemprop="track"].buffering .trackitem_order .wpsstm-player-icon-buffering {
  display: inline-block;
}
/* line 46, ../scss/wpsstm-player.scss */
[itemprop="track"].buffering .trackitem_order span {
  display: none;
}
/* line 52, ../scss/wpsstm-player.scss */
[itemprop="track"].active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 56, ../scss/wpsstm-player.scss */
[itemprop="track"].active.buffering {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 62, ../scss/wpsstm-player.scss */
[itemprop="track"].active .wpsstm-player-sources-list li.wpsstm-active-source {
  font-weight: bold;
}
/* line 69, ../scss/wpsstm-player.scss */
[itemprop="track"].active:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-player-sources-list li {
  cursor: pointer;
  cursor: hand;
}

/* line 82, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.wpsstm-invalid-track {
  background: rgba(255, 0, 0, 0.1);
}
/* line 86, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr[data-wpsstm-sources-count="0"]:not(:hover):not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
/* line 90, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 96, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr:hover .wpsstm-play-track .wpsstm-player-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 104, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.playing .wpsstm-play-track .wpsstm-player-icon, .wpsstm-tracklist-table tbody tr.buffering .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 107, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.playing .wpsstm-play-track .wpsstm-player-icon-pause, .wpsstm-tracklist-table tbody tr.buffering .wpsstm-play-track .wpsstm-player-icon-pause {
  display: inline-block;
}
/* line 113, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.error .wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 116, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.error .wpsstm-play-track .wpsstm-player-icon-error {
  display: inline-block;
}
/* line 121, ../scss/wpsstm-player.scss */
.wpsstm-tracklist-table tbody tr.has-played:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 128, ../scss/wpsstm-player.scss */
a.wpsstm-play-track {
  text-decoration: none;
  border-bottom: none !important;
}
/* line 132, ../scss/wpsstm-player.scss */
a.wpsstm-play-track .wpsstm-player-icon {
  display: none;
}
/* line 134, ../scss/wpsstm-player.scss */
a.wpsstm-play-track .wpsstm-player-icon.wpsstm-player-icon-play {
  display: inline-block;
}

/* line 140, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper {
  position: fixed;
  width: 100%;
  padding: 0;
  bottom: 0;
  z-index: 50;
  min-height: 0em;
}
/* line 148, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper a {
  color: white;
}
/* line 152, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper .wpsstm-bottom-notice {
  font-size: 0.8em;
  margin: 0;
  padding: .5em 1em;
  padding-bottom: 1.5em;
  background-color: #fcf8e3;
  color: #222;
  display: none;
}
/* line 160, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper .wpsstm-bottom-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 165, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper .wpsstm-bottom-notice.active {
  display: block;
}
/* line 170, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom {
  display: none;
  position: relative;
  color: white;
  font-family: sans-serif;
}
/* line 176, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper {
  background: #222;
  line-height: 3em;
  height: 3em;
  position: relative;
  font-size: 0.8em;
  padding: 0 1em;
}
/* line 184, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-actions {
  position: absolute;
  right: 1em;
  top: 0;
  width: 10%;
  text-align: right;
}
/* line 190, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-actions > * {
  padding: 0 .25em;
  font-size: 1.5em;
  width: calc(10% / 2);
}
/* line 195, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-actions a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  color: white;
  text-decoration: none;
  border: none !important;
}
/* line 200, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-actions a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 206, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: .6em;
  position: relative;
  width: 90%;
}
/* line 212, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] {
  width: 100%;
  position: relative;
  display: block !important;
}
/* line 216, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}
/* line 221, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="image"] {
  padding-left: 0;
}
/* line 223, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="image"] img {
  max-height: 3em;
}
/* line 227, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="name"]:before {
  content: "\002014";
  padding-right: .5em;
}
/* line 235, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] td[itemprop="inAlbum"] {
  display: none;
}
/* line 242, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources {
  padding: 0;
  margin: 0;
  line-height: 2em;
  position: relative;
  min-width: 30%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 249, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 252, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list {
  position: relative;
  display: block;
  font-size: .85em;
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
  list-style-type: none;
  width: 100%;
  padding: 0;
  background: rgba(34, 34, 34, 0.95);
  position: absolute;
  bottom: -2em;
}
/* line 267, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list li {
  position: relative;
  padding: 0 2em;
  height: 4em;
  line-height: 4em;
}
/* line 268, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list li:not(.wpsstm-active-source) {
  display: none;
}
/* line 277, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list li a.wpsstm-source-provider-link {
  font-size: 2em;
  position: absolute;
}
/* line 281, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list li span {
  padding-left: 3.5em;
  display: inline-block;
  width: calc(100% - 3.5em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 289, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"] .column-trackitem_sources ul.wpsstm-player-sources-list li .wpsstm-source-error {
  position: absolute;
  right: 2em;
  height: 4em;
  line-height: 4em;
}
/* line 305, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .wpsstm-player-sources-list:before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f077";
  display: block;
  width: 3em;
  text-align: center;
  bottom: 0;
  height: 4em;
  line-height: 4em;
  left: -1em;
}
/* line 320, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .trackitem_sources:hover ul.wpsstm-player-sources-list:before {
  content: "";
}
/* line 323, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .trackitem_sources:hover ul.wpsstm-player-sources-list li {
  display: block;
}
/* line 325, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-track-wrapper #wpsstm-bottom-track-info [itemprop="track"]:not([data-wpsstm-sources-count="0"]):not([data-wpsstm-sources-count="1"]) .trackitem_sources:hover ul.wpsstm-player-sources-list li:hover {
  background-color: #2f2f2f;
}
/* line 340, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper {
  background: #222;
  position: relative;
  overflow: hidden;
}
/* line 344, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper a {
  color: white;
}
/* line 348, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper > * {
  display: block;
  height: 40px;
  float: left;
  line-height: 40px;
}
/* line 354, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper .wpsstm-player-extra {
  width: calc(20% / 6);
  text-align: center;
}
/* line 357, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper .wpsstm-player-extra#wpsstm-player-shuffle:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 360, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper .wpsstm-player-extra#wpsstm-player-loop:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 364, ../scss/wpsstm-player.scss */
#wpsstm-bottom-wrapper #wpsstm-bottom #wpsstm-bottom-player-wrapper #wpsstm-player {
  width: 80%;
  margin: auto;
}

/* line 373, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble > :nth-child(1) {
  display: none;
}
/* line 376, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble > :nth-child(2) {
  display: none;
}
/* line 380, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble > :nth-child(3) {
  display: inline-block;
}
/* line 382, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble > :nth-child(3) i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 388, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.active > :nth-child(2) {
  display: inline-block;
}
/* line 391, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.active > :nth-child(3) {
  display: none;
}
/* line 395, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.loading {
  pointer-events: none;
}
/* line 397, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.loading > :nth-child(1) {
  display: inline-block;
}
/* line 400, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.loading > :nth-child(2) {
  display: none;
}
/* line 403, ../scss/wpsstm-player.scss */
#wpsstm-player-toggle-scrobble.loading > :nth-child(3) {
  display: none;
}

/* line 410, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links span, .wpsstm-love-unlove-playlist-links span {
  display: none;
}
/* line 413, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links a, .wpsstm-love-unlove-playlist-links a {
  border: none !important;
}
/* line 416, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links > :nth-child(1), .wpsstm-love-unlove-playlist-links > :nth-child(1) {
  display: none;
}
/* line 419, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links > :nth-child(2), .wpsstm-love-unlove-playlist-links > :nth-child(2) {
  display: inline-block;
}
/* line 422, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links > :nth-child(3), .wpsstm-love-unlove-playlist-links > :nth-child(3) {
  display: none;
}
/* line 427, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.wpsstm-is-loved > :nth-child(2), .wpsstm-love-unlove-playlist-links.wpsstm-is-loved > :nth-child(2) {
  display: none;
}
/* line 430, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.wpsstm-is-loved > :nth-child(3), .wpsstm-love-unlove-playlist-links.wpsstm-is-loved > :nth-child(3) {
  display: inline-block;
}
/* line 434, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.loading, .wpsstm-love-unlove-playlist-links.loading {
  pointer-events: none;
}
/* line 436, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.loading > :nth-child(1), .wpsstm-love-unlove-playlist-links.loading > :nth-child(1) {
  display: inline-block;
}
/* line 439, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.loading > :nth-child(2), .wpsstm-love-unlove-playlist-links.loading > :nth-child(2) {
  display: none;
}
/* line 442, ../scss/wpsstm-player.scss */
.wpsstm-love-unlove-track-links.loading > :nth-child(3), .wpsstm-love-unlove-playlist-links.loading > :nth-child(3) {
  display: none;
}

/* line 448, ../scss/wpsstm-player.scss */
.wpsstm-lastfm-love-unlove-track-links {
  font-size: 1em !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
