/* line 3, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source {
  position: relative;
  padding: .5em;
  margin: 0;
}
/* line 8, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source input {
  width: calc(100% - 3em) !important;
  display: inline-block;
}
/* line 13, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source .wpsstm-source-action {
  font-size: 1.5em;
  width: 2em;
  text-align: center;
  display: inline-block;
}
/* line 18, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source .wpsstm-source-action .wpsstm-source-icon {
  width: 1em;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}
/* line 23, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source .wpsstm-source-action .wpsstm-source-icon.wpsstm-source-icon-add {
  display: none;
}
/* line 26, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source .wpsstm-source-action .wpsstm-source-icon.wpsstm-source-icon-delete {
  display: inline;
}
/* line 33, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source.wpsstm-source-blank .wpsstm-source-icon.wpsstm-source-icon-add, p.wpsstm-source.wpsstm-source-suggested .wpsstm-source-icon.wpsstm-source-icon-add {
  display: inline;
}
/* line 36, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source.wpsstm-source-blank .wpsstm-source-icon.wpsstm-source-icon-delete, p.wpsstm-source.wpsstm-source-suggested .wpsstm-source-icon.wpsstm-source-icon-delete {
  display: none;
}
/* line 43, ../scss/wpsstm-admin-metabox-sources.scss */
p.wpsstm-source.wpsstm-source-auto .wpsstm-source-icon.wpsstm-source-icon-delete {
  display: none;
}

/* line 60, ../scss/wpsstm-admin-metabox-sources.scss */
.postbox#wpsstm-track-sources .inside {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
/* line 62, ../scss/wpsstm-admin-metabox-sources.scss */
.postbox#wpsstm-track-sources .inside > p {
  padding: 0 1em;
  font-style: italic;
}
/* line 70, ../scss/wpsstm-admin-metabox-sources.scss */
.postbox#wpsstm-track-sources .inside p.wpsstm-source {
  padding: .5em 2em;
}
/* line 72, ../scss/wpsstm-admin-metabox-sources.scss */
.postbox#wpsstm-track-sources .inside p.wpsstm-source input {
  height: 3em;
}
/* line 76, ../scss/wpsstm-admin-metabox-sources.scss */
.postbox#wpsstm-track-sources .inside p.wpsstm-source.wpsstm-source-blank {
  background-color: #F1F1F1;
}

/* line 87, ../scss/wpsstm-admin-metabox-sources.scss */
#wpsstm-tracklist td.column-trackitem_sources {
  margin: 0;
  padding: 0;
}
/* line 90, ../scss/wpsstm-admin-metabox-sources.scss */
#wpsstm-tracklist td.column-trackitem_sources .metabox-table-cell-display {
  text-align: center;
}
/* line 95, ../scss/wpsstm-admin-metabox-sources.scss */
#wpsstm-tracklist p.wpsstm-source.wpsstm-source-blank {
  border-bottom: 1px solid #DDD;
}
/* line 97, ../scss/wpsstm-admin-metabox-sources.scss */
#wpsstm-tracklist p.wpsstm-source.wpsstm-source-blank.wpsstm-source-icon-add {
  display: inline;
}
/* line 100, ../scss/wpsstm-admin-metabox-sources.scss */
#wpsstm-tracklist p.wpsstm-source.wpsstm-source-blank.wpsstm-source-icon-delete {
  display: none;
}
