@charset "UTF-8";
@-moz-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes highlight {
  0% {
    background-color: rgba(224, 255, 226, 0);
  }
  25% {
    background-color: #e0ffe2;
  }
  100% {
    background-color: rgba(224, 255, 226, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* line 55, ../scss/_wpsstm-shared.scss */
ul.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 58, ../scss/_wpsstm-shared.scss */
ul.comma-list > li, ul.wpsstm-track-loved-by-list > li, ul.wpsstm-track-parents > li {
  display: inline;
}
/* line 60, ../scss/_wpsstm-shared.scss */
ul.comma-list > li:not(:last-child):after, ul.wpsstm-track-loved-by-list > li:not(:last-child):after, ul.wpsstm-track-parents > li:not(:last-child):after {
  content: ", ";
}

/* line 67, ../scss/_wpsstm-shared.scss */
input.input-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 72, ../scss/_wpsstm-shared.scss */
input.wpsstm-fullwidth {
  width: 100%;
}

/* line 80, ../scss/_wpsstm-shared.scss */
.wpsstm-no-underline, .wpsstm-action, a.toggle-children-link, .toggle-children-link a, .wpsstm-track-links-list a {
  text-decoration: none;
  border-bottom: none !important;
}

/* line 85, ../scss/_wpsstm-shared.scss */
.wpsstm-can-click, .wpsstm-icon-input [type="submit"], .toggle-children-link, wpsstm-tracklist.tracklist-expired .wpsstm-reload-bt, wpsstm-tracklist .tracklist-header .wpsstm-tracklist-cover .wpsstm-tracklist-play-bt, wpsstm-track .wpsstm-track-pre > *.wpsstm-track-position, wpsstm-track-link label, .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play {
  cursor: pointer;
  cursor: hand;
}

/* line 90, ../scss/_wpsstm-shared.scss */
.wpsstm-freeze, input.input-loading, input[type='checkbox'][readonly], .wpsstm-action.action-loading, body.wpsstm-popup-overlay > *:not(.wpsstm-dialog), wpsstm-tracklist.tracklist-reloading, wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track:first-child > button, wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track.action-loading, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-loading-icon, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-dialog .wpsstm-dialog-loader, .wpsstm-dialog wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-dialog-loader, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-icon, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt wpsstm-track.track-loading .wpsstm-track-action-play, wpsstm-track.track-loading wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-action-play, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading, wpsstm-player .player-row .wpsstm-player-actions wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-action-icon a, .wpsstm-action-icon wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt wpsstm-track .wpsstm-track-actions .wpsstm-action a, wpsstm-track .wpsstm-track-actions .wpsstm-action wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-action, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick, .wpsstm-dialog .ui-dialog-titlebar-close wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .ui-icon-closethick, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li, wpsstm-tracklist.tracks-container-loading .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time, wpsstm-tracklist.tracks-container-loading .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-link-title:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-link-action-play, wpsstm-track.track-links-loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 96, ../scss/_wpsstm-shared.scss */
.wpsstm-icon:before, .wpsstm-loading-icon:before, .wpsstm-action.action-loading:before, .wpsstm-dialog .wpsstm-dialog-loader:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-icon:before, wpsstm-track.track-loading .wpsstm-track-action-play:before, .wpsstm-track-links-list wpsstm-track-link.link-loading .wpsstm-track-link-action-play:before, wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before, .wpsstm-action-icon a:before, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a:before, wpsstm-track .wpsstm-track-actions .wpsstm-action a:before, .wpsstm-action:before, .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before, wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title:before, .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play:before {
  font-weight: normal;
  font-style: normal;
  font-family: 'FontAwesome';
  width: 1.28571429em;
  text-align: center;
  display: inline-block;
}

/* line 108, ../scss/_wpsstm-shared.scss */
.wpsstm-loading-icon:before, .wpsstm-action.action-loading:before, .wpsstm-dialog .wpsstm-dialog-loader:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-icon:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-loading-icon:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-action-icon a:before, .wpsstm-action-icon wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a:before, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt wpsstm-track .wpsstm-track-actions .wpsstm-action a:before, wpsstm-track .wpsstm-track-actions .wpsstm-action wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-action:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before, .wpsstm-dialog .ui-dialog-titlebar-close wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .ui-icon-closethick:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist.tracks-container-loading .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist.tracks-container-loading .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-link-title:before, wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-loading .wpsstm-tracklist-play-bt .wpsstm-track-link-action-play:before, wpsstm-track.track-loading .wpsstm-track-action-play:before, .wpsstm-track-links-list wpsstm-track-link.link-loading .wpsstm-track-link-action-play:before, wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before {
  animation: spin 2s linear infinite;
  content: "" !important;
}

/* line 117, ../scss/_wpsstm-shared.scss */
.wpsstm-action-icon a:before, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a:before, wpsstm-track .wpsstm-track-actions .wpsstm-action a:before {
  margin-right: 0;
}
/* line 120, ../scss/_wpsstm-shared.scss */
.wpsstm-action-icon a > span, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a > span, wpsstm-track .wpsstm-track-actions .wpsstm-action a > span {
  display: none;
}

/* line 126, ../scss/_wpsstm-shared.scss */
.wpsstm-ellipsis, ul.tracklist-list > li > *.wpsstm-tracklist-title a, wpsstm-track, wpsstm-track .wpsstm-track-info > *, .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 130, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input {
  position: relative;
  margin: 0.5em;
}
/* line 133, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input input {
  padding: 0.5em;
}
/* line 135, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input input[type="text"] {
  padding-right: 4em;
}
/* line 140, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input [type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
/* line 146, ../scss/_wpsstm-shared.scss */
.wpsstm-icon-input [type="submit"].wpsstm-icon-button {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2em;
}

/* line 155, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice {
  background: #fff3d4;
  border: 0px solid #f6b73c;
  border-left-width: 5px;
  padding: .75em;
  position: relative;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
}
/* line 163, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice > * {
  flex: 1;
}
/* line 165, ../scss/_wpsstm-shared.scss */
.wpsstm-block-notice > *.wpsstm-close-notice {
  flex-grow: 0;
  text-align: center;
}

/* line 172, ../scss/_wpsstm-shared.scss */
.wpsstm-align-both, wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data .wpsstm-live-tracklist-icon, wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track, wpsstm-player .player-row > * {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 5, ../scss/wpsstm.scss */
.wpsstm-actions-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2.2em;
  font-family: sans-serif;
  text-align: center;
}

/* line 20, ../scss/wpsstm.scss */
.wpsstm-action.action-error:before {
  content: "\f071";
}
/* line 23, ../scss/wpsstm.scss */
.wpsstm-action.action-favorite:before, .wpsstm-action.action-unfavorite:hover:before {
  content: "\f08a";
}
/* line 28, ../scss/wpsstm.scss */
.wpsstm-action.action-unfavorite:before, .wpsstm-action.action-favorite:hover:before {
  content: "\f004";
}

/* line 35, ../scss/wpsstm.scss */
.wpsstm-notice {
  font-size: 0.8em;
  padding: 1em;
  background-color: #fcf8e3;
  color: #222;
  text-align: center;
  margin: .5em 0;
}
/* line 42, ../scss/wpsstm.scss */
.wpsstm-notice a {
  color: #222;
  text-decoration: underline;
}
/* line 47, ../scss/wpsstm.scss */
.wpsstm-notice.active {
  display: block;
}
/* line 51, ../scss/wpsstm.scss */
.wpsstm-notice .wpsstm-close-notice {
  position: absolute;
  right: 1em;
}

/* line 58, ../scss/wpsstm.scss */
.wpsstm-copy-link {
  text-align: center;
  margin: 2em;
}
/* line 61, ../scss/wpsstm.scss */
.wpsstm-copy-link input[type="text"] {
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
}

/* line 69, ../scss/wpsstm.scss */
ul.comma-list, ul.wpsstm-track-loved-by-list, ul.wpsstm-track-parents {
  list-style: none;
  display: inline;
}
/* line 72, ../scss/wpsstm.scss */
ul.comma-list > li, ul.wpsstm-track-loved-by-list > li, ul.wpsstm-track-parents > li {
  display: inline;
}
/* line 74, ../scss/wpsstm.scss */
ul.comma-list > li:not(:last-child):after, ul.wpsstm-track-loved-by-list > li:not(:last-child):after, ul.wpsstm-track-parents > li:not(:last-child):after {
  content: ", ";
}
/* line 79, ../scss/wpsstm.scss */
ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 98, ../scss/wpsstm.scss */
ul.ui-autocomplete li.ui-menu-item {
  padding: 0 .5em;
  line-height: 2em;
  font-size: .8em;
}
/* line 102, ../scss/wpsstm.scss */
ul.ui-autocomplete li.ui-menu-item.ui-state-focus {
  background: #F7F7F7;
}

/* line 117, ../scss/wpsstm.scss */
.wpsstm-tracks-list > .toggle-children-link {
  text-align: center;
  padding: .5em;
  font-size: 1.2em;
}

/* line 123, ../scss/wpsstm.scss */
.input-group {
  position: relative;
  display: table;
  border: 1px solid #CCC;
  padding: .5em;
  margin: .5em 0;
  border-collapse: separate;
}
/* line 130, ../scss/wpsstm.scss */
.input-group .input-group-icon, .input-group .input-group-field {
  display: table-cell;
}
/* line 133, ../scss/wpsstm.scss */
.input-group .input-group-field {
  background: transparent;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  line-height: 40px;
  padding: 0 10px;
  border: none;
  box-shadow: none;
}
/* line 144, ../scss/wpsstm.scss */
.input-group .input-group-field:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* line 150, ../scss/wpsstm.scss */
.input-group .input-group-icon {
  padding: 0 .5em;
  font-size: 1em;
  color: #444;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}
/* line 161, ../scss/wpsstm.scss */
.input-group input, .input-group button {
  background: transparent;
  border: none;
  color: #444;
}
/* line 165, ../scss/wpsstm.scss */
.input-group input:hover, .input-group button:hover {
  background: transparent;
}
/* line 169, ../scss/wpsstm.scss */
.input-group:hover, .input-group:focus-within {
  background: rgba(0, 0, 0, 0.01);
}
/* line 172, ../scss/wpsstm.scss */
.input-group:focus-within {
  outline: medium;
}

/*popups*/
/* line 179, ../scss/wpsstm.scss */
body.wpsstm-popup-overlay > *:not(.wpsstm-dialog) {
  opacity: .25;
}

/* line 184, ../scss/wpsstm.scss */
.wpsstm-dialog {
  z-index: 11;
  background: rgba(255, 255, 255, 0.98);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
  position: relative;
}
/* line 196, ../scss/wpsstm.scss */
.wpsstm-dialog button.ui-dialog-titlebar-close {
  background: none;
  color: black;
}
/* line 201, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-content {
  display: -webkit-flex !important;
  display: flex !important;
}
/* line 203, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-content .wpsstm-dialog-loader {
  font-size: 3em;
}
/* line 208, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-content > * {
  margin: auto;
}
/* line 211, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-content .wpsstm-dialog-loader {
  display: none;
}
/* line 220, ../scss/wpsstm.scss */
.wpsstm-dialog.dialog-loading .ui-dialog-content > * {
  display: none;
}
/* line 223, ../scss/wpsstm.scss */
.wpsstm-dialog.dialog-loading .ui-dialog-content .wpsstm-dialog-loader {
  display: inherit;
}
/* line 230, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 236, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before {
  content: "\f00d";
}
/* line 240, ../scss/wpsstm.scss */
.wpsstm-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
/* line 246, ../scss/wpsstm.scss */
.wpsstm-dialog iframe {
  width: 100%;
  height: 100%;
}

/*
Popup, modals, etc.
*/
/* line 7, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup {
  margin: 2em !important;
  background: none !important;
}
/* line 13, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup.wpsstm-tracklist-manager-popup header {
  padding: 1em;
  text-align: center;
}
/* line 16, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup.wpsstm-tracklist-manager-popup header .wpsstm-track-info {
  margin-bottom: 1em;
}
/* line 22, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup.wpsstm-tracklist-manager-popup form#wpsstm-new-tracklist {
  margin: 2em;
}
/* line 25, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup.wpsstm-tracklist-manager-popup form#wpsstm-toggle-tracklists {
  margin: 1em;
}
/* line 28, ../scss/_wpsstm-popups.scss */
body.wpsstm-popup.wpsstm-tracklist-manager-popup form button[type="submit"] {
  margin: 1em auto;
  display: block;
}

/* line 3, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist {
  display: block;
  position: relative;
  margin: auto;
}
/* line 7, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .wpsstm-tracks-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
/* line 14, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .wpsstm-tracklist-notices {
  position: relative;
  margin: auto;
  padding: .5em 0;
  list-style: none !important;
  margin: 0 !important;
}
/* line 24, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.wpsstm-post-tracklist .wpsstm-tracklist-actions {
  display: block;
  list-style: none;
  text-align: center;
  margin: .5em 0;
  font-size: .9em;
}
/* line 31, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.wpsstm-post-tracklist .wpsstm-tracklist-actions .wpsstm-tracklist-action {
  padding: .25em .5em;
  font-size: .8em;
  border: 1px solid #F7F7F7;
  line-height: 1.8em;
}
/* line 37, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.wpsstm-post-tracklist .wpsstm-tracklist-actions .wpsstm-tracklist-action:hover {
  border-color: #F7F7F7;
  background: rgba(0, 0, 0, 0.025);
}
/* line 47, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracklist-expired .wpsstm-reload-bt {
  animation: opacityPulse 1s linear infinite;
}
/* line 53, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header {
  margin-bottom: 1em;
  font-size: .9em;
  text-align: center;
  display: -webkit-flex;
  display: flex;
}
/* line 60, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-cover {
  position: relative;
  width: 25%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  box-sizing: content-box;
}
/* line 65, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-cover > div {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  background: rgba(0, 0, 0, 0.05);
}
/* line 70, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-cover .wpsstm-tracklist-play-bt {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  text-align: center;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 50%;
  background: white;
  z-index: 1;
}
/* line 86, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-cover img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 97, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data {
  margin: 1em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 100, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data .wpsstm-live-tracklist-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background: #efef90;
  border-radius: 50%;
}
/* line 109, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data .wpsstm-live-tracklist-icon > * {
  font-size: .5em;
}
/* line 114, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data .wpsstm-tracklist-title {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: .5em;
}
/* line 120, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul {
  text-align: right;
  list-style: none;
  font-size: .8em;
  opacity: .5;
}
/* line 125, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li {
  margin-top: 0;
  line-height: 1.25em;
}
/* line 132, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time.wpsstm-tracklist-updated:before {
  content: "\f017";
}
/* line 135, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time.wpsstm-tracklist-refresh-time:before {
  content: "\f021";
}
/* line 140, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-live-tracklist-link:before {
  content: "\f0c1";
}
/* line 143, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-tracks-count:before {
  content: "\f0ca";
}
/* line 152, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist:not([wpsstm-playable]) .wpsstm-tracklist-play-bt {
  display: none;
}
/* line 156, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracklist-reloading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
  min-height: 1em;
}
/* line 160, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracklist-reloading > * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 166, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist:not(.tracklist-expired) .wpsstm-tracklist-action-refresh {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 172, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.favorited-tracklist .wpsstm-tracklist-action.action-favorite {
  display: none;
}
/* line 177, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist:not(.favorited-tracklist) .wpsstm-tracklist-action.action-unfavorite {
  display: none;
}
/* line 182, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks {
  margin: 1em 0;
  text-align: center;
}
/* line 186, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track {
  padding: 1em;
  margin: 0;
  border-bottom: 1px solid white;
}
/* line 191, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track > * {
  margin: 0 .5em;
}
/* line 195, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track:first-child > button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 200, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track.action-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}
/* line 203, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track.action-loading > * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 208, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track.action-error {
  border: 1px solid red;
}
/* line 213, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks #wpsstm-queue-more-tracks {
  display: inline-block;
  line-height: 26px;
}
/* line 218, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks .wpsstm-new-track {
  background: #fcf8e3;
}
/* line 223, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks:not(.expanded) #wpsstm-queue-more-tracks {
  display: none;
}
/* line 226, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist #wpsstm-queue-tracks:not(.expanded) .wpsstm-new-track {
  display: none;
}
/* line 237, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist:not(.tracks-container-has-played) .wpsstm-tracklist-play-bt {
  animation: opacityPulse 1s linear infinite;
}
/* line 245, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-icon:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-loading-icon:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-dialog .wpsstm-dialog-loader:before, .wpsstm-dialog wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-dialog-loader:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt wpsstm-track.track-loading .wpsstm-track-action-play:before, wpsstm-track.track-loading wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-track-action-play:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before, wpsstm-player .player-row .wpsstm-player-actions wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-action-icon a:before, .wpsstm-action-icon wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a:before, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt wpsstm-track .wpsstm-track-actions .wpsstm-action a:before, wpsstm-track .wpsstm-track-actions .wpsstm-action wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-action:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before, .wpsstm-dialog .ui-dialog-titlebar-close wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .ui-icon-closethick:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist:not(.tracks-container-playing) .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist:not(.tracks-container-playing) .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-link-title:before, wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist:not(.tracks-container-playing) .wpsstm-tracklist-play-bt .wpsstm-track-link-action-play:before {
  content: "\f04b";
}
/* line 251, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracks-container-has-played .wpsstm-tracklist-cover .wpsstm-tracklist-play-bt {
  display: none;
}
/* line 254, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracks-container-has-played .wpsstm-tracklist-cover:hover .wpsstm-tracklist-play-bt {
  display: inherit;
}
/* line 261, ../scss/_wpsstm-tracklists.scss */
wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-icon:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-loading-icon:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-dialog .wpsstm-dialog-loader:before, .wpsstm-dialog wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-dialog-loader:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt wpsstm-track.track-loading .wpsstm-track-action-play:before, wpsstm-track.track-loading wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-track-action-play:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before, wpsstm-player .player-row .wpsstm-player-actions wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-player-action.wpsstm-player-action-scrobbler.lastfm-loading:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-action-icon a:before, .wpsstm-action-icon wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action a:before, ul.tracklist-list > li > *.wpsstm-tracklist-actions .wpsstm-action wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt wpsstm-track .wpsstm-track-actions .wpsstm-action a:before, wpsstm-track .wpsstm-track-actions .wpsstm-action wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt a:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-action:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-dialog .ui-dialog-titlebar-close .ui-icon-closethick:before, .wpsstm-dialog .ui-dialog-titlebar-close wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .ui-icon-closethick:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist.tracks-container-playing .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .tracklist-header .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist.tracks-container-playing .tracklist-header .wpsstm-tracklist-play-bt .wpsstm-tracklist-data > ul > li.wpsstm-tracklist-date > time:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-link-title:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-link-title:before, wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-play:before, .wpsstm-track-links-list wpsstm-track-link wpsstm-tracklist.tracks-container-playing .wpsstm-tracklist-play-bt .wpsstm-track-link-action-play:before {
  content: "\f04c";
}

/* line 270, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions {
  clear: both;
}
/* line 275, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-refresh:before, .wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-import:before {
  content: "\f021";
}
/* line 279, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-share:before {
  content: "\f1e0";
}
/* line 282, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-export:before {
  content: "\f019";
}
/* line 286, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-new-subtrack:before {
  content: "\f055";
}
/* line 289, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-live:before, .wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-static:before {
  content: "\f09e";
}
/* line 293, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-live:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 296, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-edit-backend:before {
  content: "\f084";
}
/* line 299, ../scss/_wpsstm-tracklists.scss */
.wpsstm-tracklist-actions .wpsstm-tracklist-action.wpsstm-tracklist-action-trash:before {
  content: "\f1f8";
}

/* line 307, ../scss/_wpsstm-tracklists.scss */
ul.tracklist-list > li {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: -webkit-flex;
  display: flex;
  height: 1em;
  padding: 1em 0;
}
/* line 312, ../scss/_wpsstm-tracklists.scss */
ul.tracklist-list > li > * {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  align-items: center;
  padding: 0 .25em;
  box-sizing: border-box;
  max-width: 50%;
}
/* line 324, ../scss/_wpsstm-tracklists.scss */
ul.tracklist-list > li > *.wpsstm-tracklist-title .wpsstm-tracklist-post-state.wpsstm-tracklist-post-state-publish {
  display: none;
}
/* line 329, ../scss/_wpsstm-tracklists.scss */
ul.tracklist-list > li > *.wpsstm-tracklist-actions {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  text-align: right;
  visibility: hidden;
}
/* line 341, ../scss/_wpsstm-tracklists.scss */
ul.tracklist-list > li:hover .wpsstm-tracklist-actions {
  visibility: visible;
}

/* line 4, ../scss/_wpsstm-tracks.scss */
wpsstm-track {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 2.5em;
  font-family: sans-serif;
  font-size: .8em;
  list-style: none;
}
/* line 15, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 20, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-row > * {
  vertical-align: middle;
  padding: 0 .25em;
  box-sizing: border-box;
  text-align: center;
}
/* line 30, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
}
/* line 34, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre > * {
  min-width: 1.5em;
  align-items: center;
  justify-content: center;
}
/* line 39, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre > *.wpsstm-track-image {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  padding: 0;
  height: 2.5em;
  width: 2.5em;
}
/* line 45, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre > *.wpsstm-track-image img {
  vertical-align: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 56, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre > *.wpsstm-track-position .wpsstm-player-icon-loading {
  display: none;
}
/* line 59, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-pre > *.wpsstm-track-position span {
  display: initial;
}
/* line 67, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0;
}
/* line 72, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info > * {
  text-align: left;
  margin-right: .5em;
}
/* line 76, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info > *[itemprop="byArtist"] {
  font-weight: bold;
}
/* line 78, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info > *[itemprop="byArtist"]:after {
  content: "—";
  margin-left: .5em;
  font-weight: normal;
}
/* line 87, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info > *[itemprop="inAlbum"] {
  font-size: .8em;
}
/* line 90, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-info > *.wpsstm-from-tracklist {
  display: none;
}
/* line 96, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-actions {
  display: none;
  margin-left: auto;
}
/* line 104, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-action-play {
  display: none;
  margin: 0;
}
/* line 109, ../scss/_wpsstm-tracks.scss */
wpsstm-track:not(.track-playing) .wpsstm-track-action-play:before {
  content: "\f04b";
}
/* line 113, ../scss/_wpsstm-tracks.scss */
wpsstm-track.track-playing .wpsstm-track-action-play:before {
  content: "\f04c";
}
/* line 116, ../scss/_wpsstm-tracks.scss */
wpsstm-track[didautolink]:not([wpsstm-playable]) .wpsstm-track-action-play:before {
  content: "\f071";
}
/* line 121, ../scss/_wpsstm-tracks.scss */
wpsstm-track .wpsstm-track-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 132, ../scss/_wpsstm-tracks.scss */
wpsstm-track.wpsstm-invalid-track {
  background: rgba(255, 0, 0, 0.1);
}
/* line 136, ../scss/_wpsstm-tracks.scss */
wpsstm-track:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}
/* line 141, ../scss/_wpsstm-tracks.scss */
wpsstm-track:hover .wpsstm-track-actions, wpsstm-track.track-active .wpsstm-track-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 147, ../scss/_wpsstm-tracks.scss */
wpsstm-track[data-sources-count="0"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 149, ../scss/_wpsstm-tracks.scss */
wpsstm-track[data-sources-count="0"] .wpsstm-track-links {
  display: none !important;
}
/* line 154, ../scss/_wpsstm-tracks.scss */
wpsstm-track:not(.track-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 158, ../scss/_wpsstm-tracks.scss */
wpsstm-track.track-has-played, wpsstm-track:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 162, ../scss/_wpsstm-tracks.scss */
wpsstm-track.track-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 167, ../scss/_wpsstm-tracks.scss */
wpsstm-track.favorited-track .wpsstm-track-action.action-favorite {
  display: none;
}
/* line 172, ../scss/_wpsstm-tracks.scss */
wpsstm-track:not(.favorited-track) .wpsstm-track-action.action-unfavorite {
  display: none;
}
/* line 177, ../scss/_wpsstm-tracks.scss */
wpsstm-track.track-links-loading {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  animation: barberpole 0.5s linear infinite;
}

/* line 185, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-actions .wpsstm-action {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 187, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-actions .wpsstm-action:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 194, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action span {
  display: none;
}
/* line 198, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-play:before {
  content: "\f127";
}
/* line 202, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-share:before {
  content: "\f1e0";
}
/* line 205, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-trash:before {
  content: "\f1f8";
}
/* line 208, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-dequeue:before {
  content: "\f127";
}
/* line 211, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-links:before {
  content: "\f0c2";
}
/* line 214, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-move:before {
  content: "\f07d";
}
/* line 217, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-tracklists:before {
  content: "\f03a";
}
/* line 220, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-edit:before {
  content: "\f040";
}
/* line 223, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-edit-backend:before {
  content: "\f084";
}
/* line 226, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-favorite:before {
  content: "\f08a";
}
/* line 230, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-links .wpsstm-sources-count {
  display: inline;
}
/* line 233, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-links:before {
  content: "\f078";
}
/* line 236, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-links.active:before {
  content: "\f077";
}
/* line 239, ../scss/_wpsstm-tracks.scss */
.wpsstm-track-action.wpsstm-track-action-toggle-links .wpsstm-sources-count {
  font-weight: bold;
  font-size: .8em;
}

/* line 1, ../scss/_wpsstm-track-links.scss */
wpsstm-track-link {
  display: -webkit-flex;
  display: flex;
}
/* line 6, ../scss/_wpsstm-track-links.scss */
wpsstm-track-link .wpsstm-track-link-actions {
  margin: 0;
  padding: 0;
}
/* line 9, ../scss/_wpsstm-track-links.scss */
wpsstm-track-link .wpsstm-track-link-actions > * {
  display: inline-block;
}

/* line 15, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list {
  font-size: .8em;
  position: relative;
  padding-left: 1em;
  line-height: 2em;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -moz-transition-property: margin-bottom;
  -o-transition-property: margin-bottom;
  -webkit-transition-property: margin-bottom;
  transition-property: margin-bottom;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 28, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list.active wpsstm-track-link .wpsstm-track-link-actions .wpsstm-action {
  display: inline-block;
}
/* line 39, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link {
  position: relative;
  padding: 0 .75em;
  box-sizing: border-box;
}
/* line 64, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link:not(.link-playing) .wpsstm-track-link-action-play:before {
  content: "\f04b";
}
/* line 68, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link.link-playing .wpsstm-track-link-action-play:before {
  content: "\f04c";
}
/* line 72, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link[playable="false"] .wpsstm-track-link-action-play:before {
  content: "\f071";
}
/* line 77, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions {
  margin: 0;
  padding-right: .5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 83, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action {
  margin: auto !important;
}
/* line 86, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action:before {
  margin-right: 0;
}
/* line 89, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action > span {
  display: none;
}
/* line 93, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action.wpsstm-track-link-action-trash:before {
  content: "\f1f8";
}
/* line 96, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action.wpsstm-track-link-action-move:before {
  content: "\f07d";
}
/* line 99, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-actions .wpsstm-track-link-action.wpsstm-track-link-action-edit-backend:before {
  content: "\f084";
}
/* line 105, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link.link-active {
  display: -webkit-flex;
  display: flex;
}
/* line 109, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link .wpsstm-track-link-action-provider:before {
  content: "\f0c1";
}
/* line 113, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link[data-wpsstm-stream-type="video/soundcloud"] .wpsstm-track-link-action-provider:before {
  content: "\f1be";
}
/* line 116, ../scss/_wpsstm-track-links.scss */
.wpsstm-track-links-list wpsstm-track-link[data-wpsstm-stream-type="video/youtube"] .wpsstm-track-link-action-provider:before {
  content: "\f167";
}

/* line 123, ../scss/_wpsstm-track-links.scss */
wpsstm-track .wpsstm-track-links-list:not(.active) {
  display: none;
}
/* line 127, ../scss/_wpsstm-track-links.scss */
wpsstm-track .wpsstm-track-links-list:not(.active) .wpsstm-track-link-actions > *:not(.wpsstm-track-link-action-provider) {
  display: none;
}

/* line 6, ../scss/_wpsstm-player.scss */
wpsstm-player {
  background: #222;
  color: #FFF;
}
/* line 8, ../scss/_wpsstm-player.scss */
wpsstm-player:not(.active) {
  display: none;
}
/* line 12, ../scss/_wpsstm-player.scss */
wpsstm-player#wpsstm-bottom-player {
  position: fixed;
  width: 100%;
  padding: 0;
  bottom: 0;
  min-height: 0em;
  z-index: 50;
}
/* line 23, ../scss/_wpsstm-player.scss */
wpsstm-player a, wpsstm-player a:hover, wpsstm-player a:focus {
  color: #FFF;
}
/* line 27, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
}
/* line 32, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row > * {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 39, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions {
  margin-right: .5em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  margin-top: auto;
}
/* line 46, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action span {
  display: none;
}
/* line 51, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-queue:before {
  content: "\f078";
}
/* line 54, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-queue.active:before {
  content: "\f077";
}
/* line 59, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 61, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler:before {
  content: "\f202";
}
/* line 67, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.scrobbler-error:before {
  content: "\f071";
}
/* line 70, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-actions .wpsstm-player-action.wpsstm-player-action-scrobbler.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 78, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row #wpsstm-audio-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 82, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-extra {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 0 .5em;
}
/* line 86, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .wpsstm-player-extra:not(.active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 91, ../scss/_wpsstm-player.scss */
wpsstm-player .player-row .mejs-container {
  width: 100% !important;
}
/* line 96, ../scss/_wpsstm-player.scss */
wpsstm-player .player-queue {
  display: initial;
  overflow: auto;
  max-height: 50vh;
}
/* line 101, ../scss/_wpsstm-player.scss */
wpsstm-player .player-queue:not(.active) wpsstm-track:not(.track-active) {
  display: none;
}

/*
mediaElementJS
*/
/* line 4, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) {
  padding-left: .5em;
}
/* line 7, ../scss/_pure-tree.scss */
.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}
/* line 13, ../scss/_pure-tree.scss */
.pure-tree li {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}
/* line 16, ../scss/_pure-tree.scss */
.pure-tree li > label {
  line-height: 1em;
  display: inline;
  padding-right: .5em;
}
/* line 21, ../scss/_pure-tree.scss */
.pure-tree li.checkbox-tree-parent > label:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f114";
  margin-right: .25em;
}
/* line 26, ../scss/_pure-tree.scss */
.pure-tree li label {
  cursor: pointer;
  color: #717780;
}
/* line 33, ../scss/_pure-tree.scss */
.pure-tree li label:hover {
  color: #434a58;
  border-bottom-color: #434a58;
}
/* line 43, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a {
  padding: 1.500em 1.125em 0.750em 0;
  display: block;
  border-radius: .2em;
  color: #717780;
  text-decoration: none;
}
/* line 50, ../scss/_pure-tree.scss */
.pure-tree .pure-tree_link a:hover {
  color: #434a58;
}
/* line 56, ../scss/_pure-tree.scss */
.pure-tree.nested {
  padding-left: 1.7em;
}
/* line 60, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"] {
  display: none;
}
/* line 63, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked + label:before {
  content: "\f115";
}
/* line 66, ../scss/_pure-tree.scss */
.pure-tree [type="checkbox"]:checked ~ ul > li {
  height: auto;
}

/* line 3, ../scss/_wpsstm-backend.scss */
#wpsstm-promo-notice {
  padding: .75em;
  border-bottom: 1px solid #DDD;
}

/* line 9, ../scss/_wpsstm-backend.scss */
.wp-list-table .mbz-id {
  color: silver;
  font-size: 0.8em;
}
/* line 13, ../scss/_wpsstm-backend.scss */
.wp-list-table .mbz-disambiguation {
  font-style: italic;
  font-size: 0.9em;
}

/* line 19, ../scss/_wpsstm-backend.scss */
#mbid-value, #mbid-do-lookup {
  text-align: center;
}

/* line 25, ../scss/_wpsstm-backend.scss */
.postbox .wpsstm-fullwidth {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}
/* line 38, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm-metabox-track-links .wpsstm-submit-wrapper {
  text-align: center;
}
/* line 46, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span {
  font-weight: bold;
}
/* line 48, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata ul li span:after {
  content: " ";
}
/* line 56, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions {
  margin-top: 1em;
  position: relative;
  text-align: center;
}
/* line 61, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions a {
  margin: .5em auto;
  display: block;
  max-width: 75%;
}
/* line 67, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mbdata #wpsstm-metabox-mbdata-actions p.submit {
  text-align: center;
  margin: .5em 0;
  padding: 0;
}
/* line 83, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries > span {
  font-weight: bold;
}
/* line 87, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries #wpsstm-mb-section-data {
  display: none;
}
/* line 94, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table {
  border: none;
}
/* line 96, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries table.wp-list-table .column-score {
  width: 10%;
}
/* line 108, ../scss/_wpsstm-backend.scss */
.postbox#wpsstm_mb_entries.table-mbz-summary table.wp-list-table tfoot {
  display: none;
}
