/* line 5, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist[data-tracks-count="1"] .tracklist-nav {
  display: none;
}
/* line 11, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.loading {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 23, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist .wpsstm-tracklist-time .wpsstm-refresh-playlist i.fa-exclamation-triangle {
  display: none;
}
/* line 30, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist:not([data-wpsstm-expire-sec="0"]) .wpsstm-tracklist-time .wpsstm-refresh-playlist, .wpsstm-tracklist.loading .wpsstm-tracklist-time .wpsstm-refresh-playlist {
  display: none;
}
/* line 38, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.error .wpsstm-tracklist-time .wpsstm-refresh-playlist i.fa-exclamation-triangle {
  display: inline-block;
}
/* line 45, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}
/* line 52, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav {
  padding: .5em;
}
/* line 54, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .tablenav-pages {
  line-height: 3em;
}
/* line 57, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .wpsstm-tracklist-time {
  margin-left: .5em;
}
/* line 60, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .wpsstm-tracklist-actions {
  font-size: 0.8em;
}
/* line 62, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table .tracklist-nav .wpsstm-tracklist-actions a {
  text-decoration: none;
}
/* line 68, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table {
  width: 100%;
  display: table;
  border: none;
  margin: 0;
}
/* line 74, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_image {
  display: none;
}
/* line 78, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_order {
  width: 2em;
  text-align: center;
}
/* line 83, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_play_bt {
  width: 2em;
  text-align: center;
}
/* line 88, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_image {
  width: 2em;
}
/* line 90, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_image img {
  max-width: 100%;
}
/* line 96, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table .column-trackitem_sources ul {
  list-style-type: none;
}
/* line 101, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table th, .wpsstm-tracklist.wpsstm-tracklist-table table td {
  border: none;
}
/* line 105, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table th {
  font-weight: 400;
}
/* line 109, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table thead {
  /*
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  th{
      border-bottom: 1px solid #e1e1e1;
      text-align:center;
  }
  */
  display: none;
}
/* line 122, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tfoot th {
  border-top: 1px solid #e1e1e1;
}
/* line 127, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr {
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 132, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.0125);
}
/* line 135, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:hover {
  background: rgba(0, 0, 0, 0.025);
}
/* line 137, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr:hover td.column-image img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 143, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr.no-items .wpsstm-bottom-refresh-notice {
  display: inline;
}
/* line 149, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr td.column-image {
  width: 50px;
  padding: 0;
}
/* line 152, ../scss/wpsstm-tracklist.scss */
.wpsstm-tracklist.wpsstm-tracklist-table table tbody tr td.column-image img {
  max-width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
