/* line 3, ../scss/wpsstm-wizard.scss */
#wizard-wrapper {
  position: relative;
}
/* line 6, ../scss/wpsstm-wizard.scss */
#wizard-wrapper #wpsstm-wizard-preview-feed-url {
  text-align: center;
  font-size: 1.25em;
}
/* line 11, ../scss/wpsstm-wizard.scss */
#wizard-wrapper table#wizard-regexes {
  width: 100%;
}
/* line 13, ../scss/wpsstm-wizard.scss */
#wizard-wrapper table#wizard-regexes tr:first-child, #wizard-wrapper table#wizard-regexes td:first-child {
  width: 70%;
}
/* line 18, ../scss/wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw, #wizard-wrapper pre.spiff-raw code {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  display: block;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
  width: 100%;
  overflow: auto;
}
/* line 30, ../scss/wpsstm-wizard.scss */
#wizard-wrapper .tracks-selector-prefix {
  color: lightgrey;
  padding-right: 0.5em;
}
/* line 34, ../scss/wpsstm-wizard.scss */
#wizard-wrapper .wpsstm-wizard-selector-toggle-advanced {
  text-decoration: none;
}
/* line 38, ../scss/wpsstm-wizard.scss */
#wizard-wrapper #spiff-station-tracks-raw {
  max-height: calc(3 * 211px);
  overflow-y: auto;
}
/* line 43, ../scss/wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw {
  max-height: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 47, ../scss/wpsstm-wizard.scss */
#wizard-wrapper pre.spiff-raw code {
  background: none;
}
/* line 51, ../scss/wpsstm-wizard.scss */
#wizard-wrapper .ui-tabs-panel > h3:first-of-type {
  display: none;
}

/* line 58, ../scss/wpsstm-wizard.scss */
#wpsstm-frontend-wizard p.submit {
  padding: .25em;
}
/* line 62, ../scss/wpsstm-wizard.scss */
#wpsstm-frontend-wizard #wpsstm-wizard-convert-tracklist p.submit {
  display: inline-block;
}
